<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>curr:cent</key>
  <dict>
    <key>digit:eight</key>
    <integer>-65</integer>
    <key>digit:four</key>
    <integer>-141</integer>
    <key>digit:seven</key>
    <integer>-131</integer>
  </dict>
  <key>curr:dollar</key>
  <dict>
    <key>digit:five</key>
    <integer>-106</integer>
    <key>digit:nine</key>
    <integer>-140</integer>
    <key>digit:seven</key>
    <integer>-117</integer>
    <key>digit:three</key>
    <integer>-120</integer>
    <key>digit:two</key>
    <integer>-140</integer>
  </dict>
  <key>curr:sterling</key>
  <dict>
    <key>digit:eight</key>
    <integer>-53</integer>
    <key>digit:five</key>
    <integer>-12</integer>
    <key>digit:four</key>
    <integer>-34</integer>
    <key>digit:nine</key>
    <integer>-46</integer>
    <key>digit:one</key>
    <integer>-89</integer>
    <key>digit:seven</key>
    <integer>-32</integer>
    <key>digit:six</key>
    <integer>-53</integer>
    <key>digit:three</key>
    <integer>-19</integer>
    <key>digit:two</key>
    <integer>-75</integer>
    <key>digit:zero</key>
    <integer>-25</integer>
  </dict>
  <key>digit:eight</key>
  <dict>
    <key>digit:five</key>
    <integer>-46</integer>
    <key>digit:nine</key>
    <integer>-50</integer>
    <key>digit:seven</key>
    <integer>-106</integer>
    <key>digit:three</key>
    <integer>-68</integer>
    <key>digit:two</key>
    <integer>-80</integer>
    <key>sign:comma</key>
    <integer>-117</integer>
    <key>sign:period</key>
    <integer>-103</integer>
  </dict>
  <key>digit:five</key>
  <dict>
    <key>digit:five</key>
    <integer>-66</integer>
    <key>digit:nine</key>
    <integer>-110</integer>
    <key>digit:seven</key>
    <integer>-92</integer>
    <key>digit:three</key>
    <integer>-91</integer>
    <key>digit:two</key>
    <integer>-103</integer>
    <key>sign:comma</key>
    <integer>-145</integer>
    <key>sign:period</key>
    <integer>-129</integer>
  </dict>
  <key>digit:four</key>
  <dict>
    <key>digit:five</key>
    <integer>-47</integer>
    <key>digit:nine</key>
    <integer>-110</integer>
    <key>digit:seven</key>
    <integer>-134</integer>
    <key>digit:three</key>
    <integer>-74</integer>
  </dict>
  <key>digit:nine</key>
  <dict>
    <key>digit:five</key>
    <integer>-31</integer>
    <key>digit:four</key>
    <integer>-25</integer>
    <key>digit:seven</key>
    <integer>-97</integer>
    <key>digit:three</key>
    <integer>-75</integer>
    <key>digit:two</key>
    <integer>-88</integer>
    <key>sign:comma</key>
    <integer>-206</integer>
    <key>sign:period</key>
    <integer>-195</integer>
  </dict>
  <key>digit:one</key>
  <dict>
    <key>sign:comma</key>
    <integer>-211</integer>
    <key>sign:middledot</key>
    <integer>-260</integer>
    <key>sign:period</key>
    <integer>-286</integer>
  </dict>
  <key>digit:seven</key>
  <dict>
    <key>digit:eight</key>
    <integer>-119</integer>
    <key>digit:five</key>
    <integer>-51</integer>
    <key>digit:four</key>
    <integer>-217</integer>
    <key>digit:nine</key>
    <integer>-71</integer>
    <key>digit:six</key>
    <integer>-145</integer>
    <key>digit:three</key>
    <integer>-95</integer>
    <key>digit:two</key>
    <integer>-106</integer>
    <key>digit:zero</key>
    <integer>-85</integer>
    <key>sign:comma</key>
    <integer>-347</integer>
    <key>sign:middledot</key>
    <integer>-239</integer>
    <key>sign:period</key>
    <integer>-343</integer>
    <key>sign:slash</key>
    <integer>-163</integer>
  </dict>
  <key>digit:six</key>
  <dict>
    <key>digit:five</key>
    <integer>-44</integer>
    <key>digit:seven</key>
    <integer>-51</integer>
    <key>digit:three</key>
    <integer>-62</integer>
    <key>digit:two</key>
    <integer>-78</integer>
    <key>sign:comma</key>
    <integer>-114</integer>
    <key>sign:period</key>
    <integer>-95</integer>
  </dict>
  <key>digit:three</key>
  <dict>
    <key>digit:five</key>
    <integer>-62</integer>
    <key>digit:nine</key>
    <integer>-65</integer>
    <key>digit:seven</key>
    <integer>-117</integer>
    <key>digit:three</key>
    <integer>-85</integer>
    <key>digit:two</key>
    <integer>-97</integer>
    <key>sign:comma</key>
    <integer>-135</integer>
    <key>sign:period</key>
    <integer>-119</integer>
  </dict>
  <key>digit:two</key>
  <dict>
    <key>digit:seven</key>
    <integer>-74</integer>
    <key>digit:six</key>
    <integer>-57</integer>
    <key>digit:zero</key>
    <integer>-9</integer>
    <key>sign:comma</key>
    <integer>-62</integer>
    <key>sign:middledot</key>
    <integer>-154</integer>
    <key>sign:period</key>
    <integer>-59</integer>
  </dict>
  <key>digit:zero</key>
  <dict>
    <key>digit:five</key>
    <integer>-8</integer>
    <key>digit:seven</key>
    <integer>-82</integer>
    <key>digit:two</key>
    <integer>-62</integer>
    <key>sign:comma</key>
    <integer>-123</integer>
    <key>sign:period</key>
    <integer>-110</integer>
  </dict>
  <key>latn:A</key>
  <dict>
    <key>latn:G</key>
    <integer>-22</integer>
    <key>latn:O</key>
    <integer>-22</integer>
    <key>latn:T</key>
    <integer>-166</integer>
    <key>latn:U</key>
    <integer>-103</integer>
    <key>latn:V</key>
    <integer>-114</integer>
    <key>latn:W</key>
    <integer>-128</integer>
    <key>latn:Y</key>
    <integer>-206</integer>
    <key>latn:c</key>
    <integer>-22</integer>
    <key>latn:t</key>
    <integer>-74</integer>
    <key>latn:v</key>
    <integer>-128</integer>
    <key>latn:w</key>
    <integer>-85</integer>
    <key>sign:quotedblright</key>
    <integer>-246</integer>
    <key>sign:quoteright</key>
    <integer>-214</integer>
  </dict>
  <key>latn:B</key>
  <dict>
    <key>latn:W</key>
    <integer>-22</integer>
    <key>latn:Y</key>
    <integer>-43</integer>
    <key>sign:comma</key>
    <integer>-103</integer>
    <key>sign:period</key>
    <integer>-91</integer>
  </dict>
  <key>latn:C</key>
  <dict>
    <key>sign:comma</key>
    <integer>-59</integer>
  </dict>
  <key>latn:D</key>
  <dict>
    <key>latn:A</key>
    <integer>-74</integer>
    <key>latn:V</key>
    <integer>-74</integer>
    <key>latn:W</key>
    <integer>-40</integer>
    <key>latn:Y</key>
    <integer>-86</integer>
    <key>sign:comma</key>
    <integer>-212</integer>
    <key>sign:period</key>
    <integer>-203</integer>
  </dict>
  <key>latn:E</key>
  <dict>
    <key>latn:c</key>
    <integer>-34</integer>
    <key>latn:d</key>
    <integer>-25</integer>
    <key>latn:e</key>
    <integer>-20</integer>
    <key>latn:f</key>
    <integer>-63</integer>
    <key>latn:g</key>
    <integer>-47</integer>
    <key>latn:i</key>
    <integer>-34</integer>
    <key>latn:l</key>
    <integer>-56</integer>
    <key>latn:o</key>
    <integer>-23</integer>
    <key>latn:q</key>
    <integer>-29</integer>
    <key>latn:t</key>
    <integer>-75</integer>
    <key>latn:v</key>
    <integer>-44</integer>
    <key>latn:w</key>
    <integer>-37</integer>
    <key>latn:y</key>
    <integer>-20</integer>
    <key>sign:comma</key>
    <integer>-46</integer>
    <key>sign:period</key>
    <integer>-43</integer>
  </dict>
  <key>latn:F</key>
  <dict>
    <key>digit:one</key>
    <integer>-86</integer>
    <key>latn:A</key>
    <integer>-198</integer>
    <key>latn:a</key>
    <integer>-8</integer>
    <key>latn:e</key>
    <integer>-57</integer>
    <key>latn:i</key>
    <integer>-34</integer>
    <key>latn:o</key>
    <integer>-62</integer>
    <key>latn:r</key>
    <integer>-82</integer>
    <key>latn:u</key>
    <integer>-82</integer>
    <key>latn:y</key>
    <integer>-41</integer>
    <key>sign:comma</key>
    <integer>-248</integer>
    <key>sign:period</key>
    <integer>-320</integer>
    <key>sign:slash</key>
    <integer>-109</integer>
  </dict>
  <key>latn:G</key>
  <dict>
    <key>latn:a</key>
    <integer>-53</integer>
    <key>latn:e</key>
    <integer>-14</integer>
    <key>latn:h</key>
    <integer>-74</integer>
    <key>latn:i</key>
    <integer>-34</integer>
    <key>latn:n</key>
    <integer>-74</integer>
    <key>latn:o</key>
    <integer>-14</integer>
    <key>latn:r</key>
    <integer>-74</integer>
    <key>latn:u</key>
    <integer>-74</integer>
    <key>latn:y</key>
    <integer>-46</integer>
    <key>sign:comma</key>
    <integer>-141</integer>
    <key>sign:period</key>
    <integer>-129</integer>
  </dict>
  <key>latn:H</key>
  <dict>
    <key>latn:u</key>
    <integer>-75</integer>
    <key>sign:comma</key>
    <integer>-98</integer>
    <key>sign:period</key>
    <integer>-98</integer>
  </dict>
  <key>latn:J</key>
  <dict>
    <key>latn:A</key>
    <integer>-11</integer>
    <key>latn:a</key>
    <integer>-71</integer>
    <key>latn:i</key>
    <integer>-34</integer>
    <key>latn:u</key>
    <integer>-75</integer>
    <key>sign:comma</key>
    <integer>-173</integer>
  </dict>
  <key>latn:K</key>
  <dict>
    <key>latn:u</key>
    <integer>-29</integer>
  </dict>
  <key>latn:L</key>
  <dict>
    <key>latn:C</key>
    <integer>-89</integer>
    <key>latn:G</key>
    <integer>-122</integer>
    <key>latn:O</key>
    <integer>-107</integer>
    <key>latn:T</key>
    <integer>-239</integer>
    <key>latn:U</key>
    <integer>-97</integer>
    <key>latn:V</key>
    <integer>-179</integer>
    <key>latn:W</key>
    <integer>-122</integer>
    <key>latn:Y</key>
    <integer>-192</integer>
    <key>latn:w</key>
    <integer>-77</integer>
    <key>sign:quotedblright</key>
    <integer>-343</integer>
    <key>sign:quoteright</key>
    <integer>-309</integer>
  </dict>
  <key>latn:M</key>
  <dict>
    <key>latn:u</key>
    <integer>-29</integer>
    <key>latn:y</key>
    <integer>-15</integer>
    <key>sign:comma</key>
    <integer>-35</integer>
    <key>sign:period</key>
    <integer>-35</integer>
  </dict>
  <key>latn:N</key>
  <dict>
    <key>sign:comma</key>
    <integer>-91</integer>
    <key>sign:period</key>
    <integer>-91</integer>
  </dict>
  <key>latn:O</key>
  <dict>
    <key>latn:A</key>
    <integer>-74</integer>
    <key>latn:T</key>
    <integer>-75</integer>
    <key>latn:V</key>
    <integer>-22</integer>
    <key>latn:W</key>
    <integer>-37</integer>
    <key>latn:Y</key>
    <integer>-83</integer>
    <key>latn:i</key>
    <integer>-34</integer>
    <key>latn:l</key>
    <integer>-34</integer>
    <key>sign:comma</key>
    <integer>-188</integer>
    <key>sign:period</key>
    <integer>-179</integer>
  </dict>
  <key>latn:P</key>
  <dict>
    <key>digit:one</key>
    <integer>-86</integer>
    <key>latn:A</key>
    <integer>-132</integer>
    <key>sign:comma</key>
    <integer>-248</integer>
    <key>sign:period</key>
    <integer>-267</integer>
    <key>sign:slash</key>
    <integer>-37</integer>
  </dict>
  <key>latn:R</key>
  <dict>
    <key>latn:U</key>
    <integer>-22</integer>
    <key>latn:W</key>
    <integer>-12</integer>
    <key>latn:Y</key>
    <integer>-38</integer>
  </dict>
  <key>latn:S</key>
  <dict>
    <key>latn:Y</key>
    <integer>-22</integer>
    <key>latn:j</key>
    <integer>-17</integer>
    <key>latn:l</key>
    <integer>-34</integer>
    <key>latn:t</key>
    <integer>-57</integer>
    <key>latn:v</key>
    <integer>-40</integer>
    <key>latn:w</key>
    <integer>-38</integer>
    <key>latn:y</key>
    <integer>-75</integer>
    <key>sign:comma</key>
    <integer>-113</integer>
    <key>sign:period</key>
    <integer>-97</integer>
  </dict>
  <key>latn:T</key>
  <dict>
    <key>latn:A</key>
    <integer>-167</integer>
    <key>latn:C</key>
    <integer>-74</integer>
    <key>latn:G</key>
    <integer>-74</integer>
    <key>latn:J</key>
    <integer>-37</integer>
    <key>latn:O</key>
    <integer>-74</integer>
    <key>latn:a</key>
    <integer>-138</integer>
    <key>latn:e</key>
    <integer>-114</integer>
    <key>latn:m</key>
    <integer>-123</integer>
    <key>latn:o</key>
    <integer>-116</integer>
    <key>latn:r</key>
    <integer>-131</integer>
    <key>latn:s</key>
    <integer>-135</integer>
    <key>latn:u</key>
    <integer>-128</integer>
    <key>latn:w</key>
    <integer>-56</integer>
    <key>latn:y</key>
    <integer>-53</integer>
    <key>latn:z</key>
    <integer>-129</integer>
    <key>sign:colon</key>
    <integer>-191</integer>
    <key>sign:comma</key>
    <integer>-248</integer>
    <key>sign:hyphenminus</key>
    <integer>-123</integer>
    <key>sign:period</key>
    <integer>-246</integer>
    <key>sign:semicolon</key>
    <integer>-183</integer>
    <key>sign:slash</key>
    <integer>-86</integer>
  </dict>
  <key>latn:U</key>
  <dict>
    <key>latn:A</key>
    <integer>-74</integer>
    <key>latn:a</key>
    <integer>-71</integer>
    <key>latn:c</key>
    <integer>-23</integer>
    <key>latn:m</key>
    <integer>-68</integer>
    <key>latn:n</key>
    <integer>-75</integer>
    <key>latn:p</key>
    <integer>-68</integer>
    <key>latn:r</key>
    <integer>-75</integer>
    <key>latn:s</key>
    <integer>-62</integer>
    <key>latn:z</key>
    <integer>-65</integer>
    <key>sign:comma</key>
    <integer>-191</integer>
    <key>sign:period</key>
    <integer>-180</integer>
    <key>sign:slash</key>
    <integer>-34</integer>
  </dict>
  <key>latn:V</key>
  <dict>
    <key>latn:A</key>
    <integer>-113</integer>
    <key>latn:C</key>
    <integer>-22</integer>
    <key>latn:G</key>
    <integer>-22</integer>
    <key>latn:O</key>
    <integer>-22</integer>
    <key>latn:a</key>
    <integer>-94</integer>
    <key>latn:e</key>
    <integer>-89</integer>
    <key>latn:o</key>
    <integer>-92</integer>
    <key>latn:r</key>
    <integer>-77</integer>
    <key>latn:u</key>
    <integer>-69</integer>
    <key>sign:colon</key>
    <integer>-131</integer>
    <key>sign:comma</key>
    <integer>-263</integer>
    <key>sign:hyphenminus</key>
    <integer>-106</integer>
    <key>sign:period</key>
    <integer>-257</integer>
    <key>sign:semicolon</key>
    <integer>-123</integer>
    <key>sign:slash</key>
    <integer>-97</integer>
  </dict>
  <key>latn:W</key>
  <dict>
    <key>latn:A</key>
    <integer>-113</integer>
    <key>latn:C</key>
    <integer>-22</integer>
    <key>latn:G</key>
    <integer>-22</integer>
    <key>latn:O</key>
    <integer>-22</integer>
    <key>latn:a</key>
    <integer>-68</integer>
    <key>latn:d</key>
    <integer>-65</integer>
    <key>latn:e</key>
    <integer>-56</integer>
    <key>latn:i</key>
    <integer>-34</integer>
    <key>latn:m</key>
    <integer>-50</integer>
    <key>latn:o</key>
    <integer>-59</integer>
    <key>latn:r</key>
    <integer>-56</integer>
    <key>latn:u</key>
    <integer>-53</integer>
    <key>latn:y</key>
    <integer>-53</integer>
    <key>sign:colon</key>
    <integer>-114</integer>
    <key>sign:comma</key>
    <integer>-206</integer>
    <key>sign:hyphenminus</key>
    <integer>-68</integer>
    <key>sign:period</key>
    <integer>-203</integer>
    <key>sign:semicolon</key>
    <integer>-106</integer>
    <key>sign:slash</key>
    <integer>-72</integer>
  </dict>
  <key>latn:X</key>
  <dict>
    <key>latn:u</key>
    <integer>-37</integer>
    <key>sign:quotedblright</key>
    <integer>-53</integer>
    <key>sign:quoteright</key>
    <integer>-22</integer>
  </dict>
  <key>latn:Y</key>
  <dict>
    <key>latn:A</key>
    <integer>-110</integer>
    <key>latn:C</key>
    <integer>-22</integer>
    <key>latn:G</key>
    <integer>-74</integer>
    <key>latn:O</key>
    <integer>-71</integer>
    <key>latn:S</key>
    <integer>-53</integer>
    <key>latn:a</key>
    <integer>-106</integer>
    <key>latn:c</key>
    <integer>-106</integer>
    <key>latn:d</key>
    <integer>-104</integer>
    <key>latn:e</key>
    <integer>-94</integer>
    <key>latn:o</key>
    <integer>-173</integer>
    <key>latn:q</key>
    <integer>-177</integer>
    <key>latn:t</key>
    <integer>-40</integer>
    <key>latn:u</key>
    <integer>-163</integer>
    <key>latn:v</key>
    <integer>-92</integer>
    <key>sign:colon</key>
    <integer>-149</integer>
    <key>sign:comma</key>
    <integer>-263</integer>
    <key>sign:period</key>
    <integer>-258</integer>
    <key>sign:semicolon</key>
    <integer>-141</integer>
    <key>sign:slash</key>
    <integer>-97</integer>
  </dict>
  <key>latn:Z</key>
  <dict>
    <key>latn:C</key>
    <integer>-40</integer>
    <key>latn:G</key>
    <integer>-54</integer>
    <key>latn:O</key>
    <integer>-53</integer>
    <key>latn:e</key>
    <integer>-62</integer>
    <key>latn:i</key>
    <integer>-20</integer>
    <key>latn:o</key>
    <integer>-65</integer>
    <key>sign:comma</key>
    <integer>-9</integer>
    <key>sign:period</key>
    <integer>-8</integer>
  </dict>
  <key>latn:a</key>
  <dict>
    <key>latn:t</key>
    <integer>-60</integer>
    <key>latn:v</key>
    <integer>-37</integer>
    <key>sign:quotedblright</key>
    <integer>-169</integer>
    <key>sign:quoteright</key>
    <integer>-137</integer>
    <key>sign:semicolon</key>
    <integer>-47</integer>
  </dict>
  <key>latn:b</key>
  <dict>
    <key>latn:v</key>
    <integer>-11</integer>
    <key>sign:colon</key>
    <integer>-60</integer>
    <key>sign:comma</key>
    <integer>-100</integer>
    <key>sign:period</key>
    <integer>-86</integer>
    <key>sign:quotedblright</key>
    <integer>-212</integer>
    <key>sign:quoteright</key>
    <integer>-180</integer>
    <key>sign:semicolon</key>
    <integer>-50</integer>
  </dict>
  <key>latn:c</key>
  <dict>
    <key>latn:l</key>
    <integer>-41</integer>
    <key>sign:colon</key>
    <integer>-59</integer>
    <key>sign:comma</key>
    <integer>-44</integer>
    <key>sign:period</key>
    <integer>-25</integer>
    <key>sign:quotedblright</key>
    <integer>-100</integer>
    <key>sign:quoteright</key>
    <integer>-68</integer>
    <key>sign:semicolon</key>
    <integer>-51</integer>
  </dict>
  <key>latn:d</key>
  <dict>
    <key>sign:colon</key>
    <integer>-43</integer>
    <key>sign:quoteright</key>
    <integer>-15</integer>
    <key>sign:semicolon</key>
    <integer>-40</integer>
  </dict>
  <key>latn:e</key>
  <dict>
    <key>latn:v</key>
    <integer>-35</integer>
    <key>sign:colon</key>
    <integer>-53</integer>
    <key>sign:comma</key>
    <integer>-47</integer>
    <key>sign:period</key>
    <integer>-29</integer>
    <key>sign:quotedblright</key>
    <integer>-134</integer>
    <key>sign:quoteright</key>
    <integer>-103</integer>
    <key>sign:semicolon</key>
    <integer>-41</integer>
  </dict>
  <key>latn:f</key>
  <dict>
    <key>digit:one</key>
    <integer>-82</integer>
    <key>latn:e</key>
    <integer>-34</integer>
    <key>latn:o</key>
    <integer>-34</integer>
    <key>sign:comma</key>
    <integer>-151</integer>
    <key>sign:period</key>
    <integer>-149</integer>
  </dict>
  <key>latn:g</key>
  <dict>
    <key>latn:r</key>
    <integer>-34</integer>
    <key>sign:period</key>
    <integer>-68</integer>
    <key>sign:quotedblright</key>
    <integer>-85</integer>
    <key>sign:quoteright</key>
    <integer>-53</integer>
    <key>sign:semicolon</key>
    <integer>-94</integer>
  </dict>
  <key>latn:h</key>
  <dict>
    <key>sign:colon</key>
    <integer>-51</integer>
    <key>sign:comma</key>
    <integer>-15</integer>
    <key>sign:quotedblright</key>
    <integer>-182</integer>
    <key>sign:quoteright</key>
    <integer>-149</integer>
    <key>sign:semicolon</key>
    <integer>-47</integer>
  </dict>
  <key>latn:i</key>
  <dict>
    <key>sign:colon</key>
    <integer>-97</integer>
    <key>sign:comma</key>
    <integer>-97</integer>
    <key>sign:period</key>
    <integer>-97</integer>
    <key>sign:quotedblright</key>
    <integer>-97</integer>
    <key>sign:quoteright</key>
    <integer>-97</integer>
    <key>sign:semicolon</key>
    <integer>-97</integer>
  </dict>
  <key>latn:j</key>
  <dict>
    <key>latn:o</key>
    <integer>-34</integer>
    <key>sign:colon</key>
    <integer>-97</integer>
    <key>sign:comma</key>
    <integer>-97</integer>
    <key>sign:period</key>
    <integer>-97</integer>
    <key>sign:semicolon</key>
    <integer>-97</integer>
  </dict>
  <key>latn:k</key>
  <dict>
    <key>latn:e</key>
    <integer>-22</integer>
    <key>latn:o</key>
    <integer>-23</integer>
    <key>sign:quotedblright</key>
    <integer>-62</integer>
    <key>sign:quoteright</key>
    <integer>-31</integer>
  </dict>
  <key>latn:l</key>
  <dict>
    <key>sign:colon</key>
    <integer>-31</integer>
    <key>sign:quotedblleft</key>
    <integer>-83</integer>
    <key>sign:quotedblright</key>
    <integer>-78</integer>
    <key>sign:quoteleft</key>
    <integer>-51</integer>
    <key>sign:quoteright</key>
    <integer>-46</integer>
    <key>sign:semicolon</key>
    <integer>-28</integer>
  </dict>
  <key>latn:m</key>
  <dict>
    <key>sign:colon</key>
    <integer>-44</integer>
    <key>sign:comma</key>
    <integer>-9</integer>
    <key>sign:quotedblright</key>
    <integer>-129</integer>
    <key>sign:quoteright</key>
    <integer>-98</integer>
    <key>sign:semicolon</key>
    <integer>-41</integer>
  </dict>
  <key>latn:n</key>
  <dict>
    <key>latn:v</key>
    <integer>-19</integer>
    <key>sign:colon</key>
    <integer>-51</integer>
    <key>sign:comma</key>
    <integer>-15</integer>
    <key>sign:quotedblright</key>
    <integer>-138</integer>
    <key>sign:quoteright</key>
    <integer>-107</integer>
    <key>sign:semicolon</key>
    <integer>-47</integer>
  </dict>
  <key>latn:o</key>
  <dict>
    <key>latn:v</key>
    <integer>-12</integer>
    <key>sign:colon</key>
    <integer>-60</integer>
    <key>sign:comma</key>
    <integer>-103</integer>
    <key>sign:period</key>
    <integer>-88</integer>
    <key>sign:quotedblright</key>
    <integer>-167</integer>
    <key>sign:quoteright</key>
    <integer>-135</integer>
    <key>sign:semicolon</key>
    <integer>-50</integer>
  </dict>
  <key>latn:p</key>
  <dict>
    <key>sign:colon</key>
    <integer>-68</integer>
    <key>sign:comma</key>
    <integer>-104</integer>
    <key>sign:period</key>
    <integer>-89</integer>
    <key>sign:quotedblright</key>
    <integer>-145</integer>
    <key>sign:quoteright</key>
    <integer>-114</integer>
    <key>sign:semicolon</key>
    <integer>-56</integer>
  </dict>
  <key>latn:q</key>
  <dict>
    <key>sign:colon</key>
    <integer>-95</integer>
    <key>sign:period</key>
    <integer>-60</integer>
    <key>sign:quotedblright</key>
    <integer>-155</integer>
    <key>sign:quoteright</key>
    <integer>-122</integer>
    <key>sign:semicolon</key>
    <integer>-53</integer>
  </dict>
  <key>latn:r</key>
  <dict>
    <key>sign:comma</key>
    <integer>-200</integer>
    <key>sign:period</key>
    <integer>-194</integer>
    <key>sign:semicolon</key>
    <integer>-17</integer>
  </dict>
  <key>latn:s</key>
  <dict>
    <key>sign:colon</key>
    <integer>-75</integer>
    <key>sign:comma</key>
    <integer>-66</integer>
    <key>sign:period</key>
    <integer>-53</integer>
    <key>sign:quotedblright</key>
    <integer>-116</integer>
    <key>sign:quoteright</key>
    <integer>-83</integer>
    <key>sign:semicolon</key>
    <integer>-62</integer>
  </dict>
  <key>latn:t</key>
  <dict>
    <key>latn:o</key>
    <integer>-38</integer>
    <key>sign:quoteright</key>
    <integer>-12</integer>
    <key>sign:semicolon</key>
    <integer>-63</integer>
  </dict>
  <key>latn:u</key>
  <dict>
    <key>sign:colon</key>
    <integer>-51</integer>
    <key>sign:comma</key>
    <integer>-15</integer>
    <key>sign:quotedblright</key>
    <integer>-78</integer>
    <key>sign:quoteright</key>
    <integer>-47</integer>
    <key>sign:semicolon</key>
    <integer>-47</integer>
  </dict>
  <key>latn:v</key>
  <dict>
    <key>latn:e</key>
    <integer>-9</integer>
    <key>latn:o</key>
    <integer>-12</integer>
    <key>sign:comma</key>
    <integer>-204</integer>
    <key>sign:period</key>
    <integer>-198</integer>
    <key>sign:semicolon</key>
    <integer>-43</integer>
    <key>sign:slash</key>
    <integer>-37</integer>
  </dict>
  <key>latn:w</key>
  <dict>
    <key>sign:comma</key>
    <integer>-164</integer>
    <key>sign:period</key>
    <integer>-161</integer>
    <key>sign:semicolon</key>
    <integer>-41</integer>
    <key>sign:slash</key>
    <integer>-31</integer>
  </dict>
  <key>latn:x</key>
  <dict>
    <key>sign:quotedblright</key>
    <integer>-97</integer>
  </dict>
  <key>latn:y</key>
  <dict>
    <key>sign:comma</key>
    <integer>-167</integer>
    <key>sign:period</key>
    <integer>-161</integer>
    <key>sign:semicolon</key>
    <integer>-31</integer>
    <key>sign:slash</key>
    <integer>-25</integer>
  </dict>
  <key>latn:z</key>
  <dict>
    <key>sign:colon</key>
    <integer>-54</integer>
    <key>sign:semicolon</key>
    <integer>-51</integer>
  </dict>
  <key>sign:guillemetright</key>
  <dict>
    <key>sign:comma</key>
    <integer>-203</integer>
    <key>sign:period</key>
    <integer>-200</integer>
  </dict>
  <key>sign:middledot</key>
  <dict>
    <key>digit:five</key>
    <integer>-77</integer>
    <key>digit:nine</key>
    <integer>-157</integer>
    <key>digit:one</key>
    <integer>-255</integer>
    <key>digit:seven</key>
    <integer>-167</integer>
    <key>digit:three</key>
    <integer>-103</integer>
    <key>digit:two</key>
    <integer>-117</integer>
  </dict>
  <key>sign:quotedblleft</key>
  <dict>
    <key>latn:A</key>
    <integer>-255</integer>
    <key>latn:a</key>
    <integer>-186</integer>
    <key>latn:c</key>
    <integer>-207</integer>
    <key>latn:d</key>
    <integer>-249</integer>
    <key>latn:e</key>
    <integer>-191</integer>
    <key>latn:f</key>
    <integer>-80</integer>
    <key>latn:g</key>
    <integer>-226</integer>
    <key>latn:m</key>
    <integer>-160</integer>
    <key>latn:n</key>
    <integer>-169</integer>
    <key>latn:o</key>
    <integer>-195</integer>
    <key>latn:p</key>
    <integer>-145</integer>
    <key>latn:q</key>
    <integer>-177</integer>
    <key>latn:r</key>
    <integer>-164</integer>
    <key>latn:s</key>
    <integer>-158</integer>
    <key>latn:t</key>
    <integer>-80</integer>
    <key>latn:u</key>
    <integer>-125</integer>
    <key>latn:v</key>
    <integer>-54</integer>
    <key>latn:w</key>
    <integer>-53</integer>
    <key>latn:x</key>
    <integer>-54</integer>
    <key>latn:y</key>
    <integer>-51</integer>
    <key>sign:quoteleft</key>
    <integer>-149</integer>
  </dict>
  <key>sign:quotedblright</key>
  <dict>
    <key>sign:quoteright</key>
    <integer>-75</integer>
  </dict>
  <key>sign:quoteleft</key>
  <dict>
    <key>latn:A</key>
    <integer>-224</integer>
    <key>latn:a</key>
    <integer>-154</integer>
    <key>latn:c</key>
    <integer>-177</integer>
    <key>latn:d</key>
    <integer>-141</integer>
    <key>latn:e</key>
    <integer>-83</integer>
    <key>latn:g</key>
    <integer>-117</integer>
    <key>latn:m</key>
    <integer>-51</integer>
    <key>latn:n</key>
    <integer>-62</integer>
    <key>latn:o</key>
    <integer>-163</integer>
    <key>latn:p</key>
    <integer>-113</integer>
    <key>latn:q</key>
    <integer>-143</integer>
    <key>latn:s</key>
    <integer>-125</integer>
    <key>latn:u</key>
    <integer>-92</integer>
    <key>latn:z</key>
    <integer>-97</integer>
    <key>sign:quoteleft</key>
    <integer>-43</integer>
  </dict>
  <key>sign:quoteright</key>
  <dict>
    <key>latn:d</key>
    <integer>-238</integer>
    <key>latn:m</key>
    <integer>-148</integer>
    <key>latn:r</key>
    <integer>-152</integer>
    <key>latn:s</key>
    <integer>-146</integer>
    <key>latn:t</key>
    <integer>-68</integer>
    <key>latn:v</key>
    <integer>-43</integer>
    <key>sign:quoteright</key>
    <integer>-43</integer>
  </dict>
  <key>sign:slash</key>
  <dict>
    <key>digit:four</key>
    <integer>-71</integer>
    <key>latn:A</key>
    <integer>-114</integer>
    <key>latn:J</key>
    <integer>-38</integer>
    <key>latn:M</key>
    <integer>-17</integer>
    <key>latn:c</key>
    <integer>-40</integer>
    <key>latn:d</key>
    <integer>-40</integer>
    <key>latn:e</key>
    <integer>-29</integer>
    <key>latn:g</key>
    <integer>-47</integer>
    <key>latn:o</key>
    <integer>-32</integer>
    <key>latn:q</key>
    <integer>-37</integer>
    <key>latn:s</key>
    <integer>-40</integer>
  </dict>
</dict>
</plist>
