<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.A</key>
  <array>
    <string>cyrl:A</string>
    <string>latn:A</string>
    <string>latn:Adotbelow</string>
    <string>latn:Aogonek</string>
  </array>
  <key>public.kern1.A.markAbove</key>
  <array>
    <string>cyrl:Aacute</string>
    <string>latn:Aacute</string>
    <string>latn:Abreve</string>
    <string>latn:Acircumflex</string>
    <string>latn:Adiaeresis</string>
    <string>latn:Adotaccent</string>
    <string>latn:Agrave</string>
    <string>latn:Ahalfleftringabove</string>
    <string>latn:Amacron</string>
    <string>latn:Amacronbreve</string>
    <string>latn:Aogonekacute</string>
    <string>latn:Aogonektilde</string>
    <string>latn:Aring</string>
    <string>latn:Aringacute</string>
    <string>latn:Atilde</string>
  </array>
  <key>public.kern1.B</key>
  <array>
    <string>cyrl:Ve</string>
    <string>latn:B</string>
  </array>
  <key>public.kern1.C</key>
  <array>
    <string>cyrl:Es</string>
    <string>cyrl:Ieukr</string>
    <string>latn:C</string>
    <string>latn:Cacute</string>
    <string>latn:Ccaron</string>
    <string>latn:Ccedilla</string>
    <string>latn:Ccircumflex</string>
    <string>latn:Cdotaccent</string>
  </array>
  <key>public.kern1.D</key>
  <array>
    <string>latn:D</string>
    <string>latn:Dcaron</string>
    <string>latn:Dcommaaccent</string>
    <string>latn:Ddotbelow</string>
    <string>latn:Dlinebelow</string>
    <string>latn:Dstroke</string>
  </array>
  <key>public.kern1.F</key>
  <array>
    <string>latn:F</string>
    <string>latn:Fmacronbelow</string>
  </array>
  <key>public.kern1.G</key>
  <array>
    <string>latn:G</string>
    <string>latn:Gbreve</string>
    <string>latn:Gcedilla</string>
    <string>latn:Gcircumflex</string>
    <string>latn:Gdotaccent</string>
  </array>
  <key>public.kern1.J</key>
  <array>
    <string>cyrl:Je</string>
    <string>latn:J</string>
    <string>latn:Jcircumflex</string>
    <string>latn:Jtilde</string>
  </array>
  <key>public.kern1.L</key>
  <array>
    <string>latn:L</string>
    <string>latn:Lacute</string>
    <string>latn:Lcedilla</string>
    <string>latn:Lstroke</string>
    <string>latn:Ltilde</string>
  </array>
  <key>public.kern1.O</key>
  <array>
    <string>cyrl:Ef</string>
    <string>cyrl:O</string>
    <string>cyrl:Oacute</string>
    <string>latn:O</string>
    <string>latn:Oacute</string>
    <string>latn:Obreve</string>
    <string>latn:Ocircumflex</string>
    <string>latn:Odiaeresis</string>
    <string>latn:Odoubleacute</string>
    <string>latn:Ograve</string>
    <string>latn:Omacron</string>
    <string>latn:Omacronbelow</string>
    <string>latn:Omacronbelowacute</string>
    <string>latn:Ostroke</string>
    <string>latn:Ostrokeacute</string>
    <string>latn:Otilde</string>
    <string>latn:Q</string>
  </array>
  <key>public.kern1.P</key>
  <array>
    <string>cyrl:Er</string>
    <string>latn:P</string>
  </array>
  <key>public.kern1.S</key>
  <array>
    <string>cyrl:Dze</string>
    <string>latn:S</string>
    <string>latn:Sacute</string>
    <string>latn:Scaron</string>
    <string>latn:Scedilla</string>
    <string>latn:Scircumflex</string>
    <string>latn:Sdot</string>
    <string>latn:Sdotbelow</string>
    <string>latn:Smacronbelow</string>
  </array>
  <key>public.kern1.T</key>
  <array>
    <string>cyrl:Te</string>
    <string>latn:T</string>
    <string>latn:Tcaron</string>
    <string>latn:Tcedilla</string>
    <string>latn:Tdiaeresisbelow</string>
    <string>latn:Tdotbelow</string>
    <string>latn:Tlinebelow</string>
    <string>latn:Tstroke</string>
  </array>
  <key>public.kern1.U</key>
  <array>
    <string>latn:U</string>
    <string>latn:Uacute</string>
    <string>latn:Ubreve</string>
    <string>latn:Ucircumflex</string>
    <string>latn:Udiaeresis</string>
    <string>latn:Udoubleacute</string>
    <string>latn:Ugrave</string>
    <string>latn:Umacron</string>
    <string>latn:Umacronacute</string>
    <string>latn:Umacrontilde</string>
    <string>latn:Uogonek</string>
    <string>latn:Uogonekacute</string>
    <string>latn:Uogonektilde</string>
    <string>latn:Uring</string>
    <string>latn:Utilde</string>
  </array>
  <key>public.kern1.V</key>
  <array>
    <string>latn:V</string>
    <string>latn:Vmacronbelow</string>
  </array>
  <key>public.kern1.W</key>
  <array>
    <string>latn:W</string>
    <string>latn:Wacute</string>
    <string>latn:Wcircumflex</string>
    <string>latn:Wdiaeresis</string>
    <string>latn:Wgrave</string>
  </array>
  <key>public.kern1.Y</key>
  <array>
    <string>latn:Y</string>
    <string>latn:Yacute</string>
    <string>latn:Ycircumflex</string>
    <string>latn:Ydiaeresis</string>
    <string>latn:Ygrave</string>
    <string>latn:Ytilde</string>
  </array>
  <key>public.kern1.Z</key>
  <array>
    <string>latn:Z</string>
    <string>latn:Zacute</string>
    <string>latn:Zcaron</string>
    <string>latn:Zcedilla</string>
    <string>latn:Zdotaccent</string>
    <string>latn:Zdotbelow</string>
    <string>latn:Zlinebelow</string>
  </array>
  <key>public.kern1.a</key>
  <array>
    <string>latn:a</string>
    <string>latn:adotbelow</string>
  </array>
  <key>public.kern1.e</key>
  <array>
    <string>cyrl:ie</string>
    <string>latn:e</string>
    <string>latn:eogonek</string>
  </array>
  <key>public.kern1.h</key>
  <array>
    <string>latn:h</string>
    <string>latn:hcedilla</string>
    <string>latn:hcircumflex</string>
    <string>latn:hdotbelow</string>
    <string>latn:hlinebelow</string>
  </array>
  <key>public.kern1.i</key>
  <array>
    <string>cyrl:iukr</string>
    <string>latn:i</string>
    <string>latn:i.alt</string>
    <string>latn:icircumflexbelow</string>
    <string>latn:idotless</string>
    <string>latn:imacronbelow</string>
    <string>latn:iogonek</string>
    <string>latn:iogonek.dotless</string>
    <string>latn:istroke</string>
    <string>latn:istroke.dotless</string>
  </array>
  <key>public.kern1.m</key>
  <array>
    <string>latn:m</string>
    <string>latn:mdot</string>
    <string>latn:mdotbelow</string>
    <string>latn:mtilde</string>
  </array>
  <key>public.kern1.n</key>
  <array>
    <string>latn:n</string>
    <string>latn:ncedilla</string>
    <string>latn:ndotbelow</string>
    <string>latn:nlinebelow</string>
  </array>
  <key>public.kern1.o</key>
  <array>
    <string>cyrl:o</string>
    <string>latn:o</string>
    <string>latn:obarred</string>
    <string>latn:omacronbelow</string>
  </array>
  <key>public.kern1.o.markAbove</key>
  <array>
    <string>cyrl:oacute</string>
    <string>latn:oacute</string>
    <string>latn:obreve</string>
    <string>latn:ocircumflex</string>
    <string>latn:odiaeresis</string>
    <string>latn:odoubleacute</string>
    <string>latn:ograve</string>
    <string>latn:omacron</string>
    <string>latn:omacronacute</string>
    <string>latn:omacronbelowacute</string>
    <string>latn:ostrokeacute</string>
    <string>latn:otilde</string>
  </array>
  <key>public.kern1.quote.double</key>
  <array>
    <string>sign:quotedblleft</string>
    <string>sign:quotedblreversed</string>
    <string>sign:quotedblright</string>
  </array>
  <key>public.kern1.quote.single</key>
  <array>
    <string>sign:quoteleft</string>
    <string>sign:quotereversed</string>
    <string>sign:quoteright</string>
  </array>
  <key>public.kern1.r</key>
  <array>
    <string>latn:r</string>
    <string>latn:racute</string>
    <string>latn:rcaron</string>
    <string>latn:rdot</string>
    <string>latn:rtilde</string>
  </array>
  <key>public.kern1.s</key>
  <array>
    <string>cyrl:dze</string>
    <string>latn:s</string>
    <string>latn:scedilla</string>
    <string>latn:sdotbelow</string>
    <string>latn:shook</string>
    <string>latn:smacronbelow</string>
  </array>
  <key>public.kern1.w</key>
  <array>
    <string>latn:w</string>
    <string>latn:wacute</string>
    <string>latn:wcirfumflex</string>
    <string>latn:wdiaeresis</string>
    <string>latn:wgrave</string>
  </array>
  <key>public.kern1.y</key>
  <array>
    <string>cyrl:u</string>
    <string>cyrl:uacute</string>
    <string>cyrl:ushort</string>
    <string>latn:y</string>
    <string>latn:yacute</string>
    <string>latn:ycircumflex</string>
    <string>latn:ydieresis</string>
    <string>latn:ygrave</string>
    <string>latn:ytilde</string>
  </array>
  <key>public.kern2.A</key>
  <array>
    <string>cyrl:A</string>
    <string>latn:A</string>
    <string>latn:Adotbelow</string>
    <string>latn:Aogonek</string>
  </array>
  <key>public.kern2.A.markAbove</key>
  <array>
    <string>cyrl:Aacute</string>
    <string>latn:Aacute</string>
    <string>latn:Abreve</string>
    <string>latn:Acircumflex</string>
    <string>latn:Adiaeresis</string>
    <string>latn:Adotaccent</string>
    <string>latn:Agrave</string>
    <string>latn:Ahalfleftringabove</string>
    <string>latn:Amacron</string>
    <string>latn:Amacronbreve</string>
    <string>latn:Aogonekacute</string>
    <string>latn:Aogonektilde</string>
    <string>latn:Aring</string>
    <string>latn:Aringacute</string>
    <string>latn:Atilde</string>
  </array>
  <key>public.kern2.G</key>
  <array>
    <string>latn:G</string>
    <string>latn:Gbreve</string>
    <string>latn:Gcedilla</string>
    <string>latn:Gcircumflex</string>
    <string>latn:Gdotaccent</string>
  </array>
  <key>public.kern2.O</key>
  <array>
    <string>cyrl:Ef</string>
    <string>cyrl:O</string>
    <string>cyrl:Oacute</string>
    <string>latn:O</string>
    <string>latn:Oacute</string>
    <string>latn:Obreve</string>
    <string>latn:Ocircumflex</string>
    <string>latn:Odiaeresis</string>
    <string>latn:Odoubleacute</string>
    <string>latn:Ograve</string>
    <string>latn:Omacron</string>
    <string>latn:Omacronbelow</string>
    <string>latn:Omacronbelowacute</string>
    <string>latn:Ostroke</string>
    <string>latn:Ostrokeacute</string>
    <string>latn:Otilde</string>
    <string>latn:Q</string>
  </array>
  <key>public.kern2.T</key>
  <array>
    <string>cyrl:Te</string>
    <string>latn:T</string>
    <string>latn:Tcaron</string>
    <string>latn:Tcedilla</string>
    <string>latn:Tdiaeresisbelow</string>
    <string>latn:Tdotbelow</string>
    <string>latn:Tlinebelow</string>
    <string>latn:Tstroke</string>
  </array>
  <key>public.kern2.U</key>
  <array>
    <string>latn:U</string>
    <string>latn:Uacute</string>
    <string>latn:Ubreve</string>
    <string>latn:Ucircumflex</string>
    <string>latn:Udiaeresis</string>
    <string>latn:Udoubleacute</string>
    <string>latn:Ugrave</string>
    <string>latn:Umacron</string>
    <string>latn:Umacronacute</string>
    <string>latn:Umacrontilde</string>
    <string>latn:Uogonek</string>
    <string>latn:Uogonekacute</string>
    <string>latn:Uogonektilde</string>
    <string>latn:Uring</string>
    <string>latn:Utilde</string>
  </array>
  <key>public.kern2.V</key>
  <array>
    <string>latn:V</string>
    <string>latn:Vmacronbelow</string>
  </array>
  <key>public.kern2.W</key>
  <array>
    <string>latn:W</string>
    <string>latn:Wacute</string>
    <string>latn:Wcircumflex</string>
    <string>latn:Wdiaeresis</string>
    <string>latn:Wgrave</string>
  </array>
  <key>public.kern2.Y</key>
  <array>
    <string>latn:Y</string>
    <string>latn:Yacute</string>
    <string>latn:Ycircumflex</string>
    <string>latn:Ydiaeresis</string>
    <string>latn:Ygrave</string>
    <string>latn:Ytilde</string>
  </array>
  <key>public.kern2.a</key>
  <array>
    <string>latn:a</string>
    <string>latn:adotbelow</string>
    <string>latn:aogonek</string>
  </array>
  <key>public.kern2.c</key>
  <array>
    <string>cyrl:es</string>
    <string>latn:c</string>
    <string>latn:ccedilla</string>
  </array>
  <key>public.kern2.d</key>
  <array>
    <string>latn:d</string>
    <string>latn:dcaron</string>
    <string>latn:dcommaaccent</string>
    <string>latn:ddotbelow</string>
    <string>latn:dlinebelow</string>
    <string>latn:dstroke</string>
  </array>
  <key>public.kern2.e</key>
  <array>
    <string>cyrl:ie</string>
    <string>latn:e</string>
    <string>latn:eogonek</string>
  </array>
  <key>public.kern2.e.markAbove</key>
  <array>
    <string>cyrl:ieacute</string>
    <string>cyrl:io</string>
    <string>cyrl:ioacute</string>
    <string>latn:eacute</string>
    <string>latn:ebreve</string>
    <string>latn:ecaron</string>
    <string>latn:ecircumflex</string>
    <string>latn:ediaeresis</string>
    <string>latn:edotaccent</string>
    <string>latn:edotaccentacute</string>
    <string>latn:edotaccenttilde</string>
    <string>latn:egrave</string>
    <string>latn:emacron</string>
    <string>latn:etilde</string>
  </array>
  <key>public.kern2.m</key>
  <array>
    <string>latn:m</string>
    <string>latn:mdot</string>
    <string>latn:mdotbelow</string>
    <string>latn:mtilde</string>
  </array>
  <key>public.kern2.n</key>
  <array>
    <string>latn:n</string>
    <string>latn:ncedilla</string>
    <string>latn:ndotbelow</string>
    <string>latn:nlinebelow</string>
  </array>
  <key>public.kern2.o</key>
  <array>
    <string>cyrl:o</string>
    <string>latn:o</string>
    <string>latn:obarred</string>
    <string>latn:omacronbelow</string>
  </array>
  <key>public.kern2.o.markAbove</key>
  <array>
    <string>cyrl:oacute</string>
    <string>latn:oacute</string>
    <string>latn:obreve</string>
    <string>latn:ocircumflex</string>
    <string>latn:odiaeresis</string>
    <string>latn:odoubleacute</string>
    <string>latn:ograve</string>
    <string>latn:omacron</string>
    <string>latn:omacronacute</string>
    <string>latn:omacronbelowacute</string>
    <string>latn:ostrokeacute</string>
    <string>latn:otilde</string>
  </array>
  <key>public.kern2.quote.double</key>
  <array>
    <string>sign:quotedblleft</string>
    <string>sign:quotedblreversed</string>
    <string>sign:quotedblright</string>
  </array>
  <key>public.kern2.quote.single</key>
  <array>
    <string>sign:quoteleft</string>
    <string>sign:quotereversed</string>
    <string>sign:quoteright</string>
  </array>
  <key>public.kern2.r</key>
  <array>
    <string>latn:r</string>
    <string>latn:rcedilla</string>
    <string>latn:rdotbelow</string>
    <string>latn:rringbelow</string>
  </array>
  <key>public.kern2.s</key>
  <array>
    <string>cyrl:dze</string>
    <string>latn:s</string>
    <string>latn:scedilla</string>
    <string>latn:sdotbelow</string>
    <string>latn:shook</string>
    <string>latn:smacronbelow</string>
  </array>
  <key>public.kern2.u</key>
  <array>
    <string>latn:u</string>
    <string>latn:uogonek</string>
  </array>
  <key>public.kern2.u.markAbove</key>
  <array>
    <string>latn:uacute</string>
    <string>latn:ubreve</string>
    <string>latn:ucircumflex</string>
    <string>latn:udiaeresis</string>
    <string>latn:ugrave</string>
    <string>latn:umacron</string>
    <string>latn:umacronacute</string>
    <string>latn:umacrontilde</string>
    <string>latn:uogonekacute</string>
    <string>latn:uogonektilde</string>
    <string>latn:uring</string>
    <string>latn:utilde</string>
  </array>
  <key>public.kern2.v</key>
  <array>
    <string>latn:v</string>
    <string>latn:vmacronbelow</string>
  </array>
  <key>public.kern2.z</key>
  <array>
    <string>latn:z</string>
    <string>latn:zacute</string>
    <string>latn:zcaron</string>
    <string>latn:zcedilla</string>
    <string>latn:zdotaccent</string>
    <string>latn:zdotbelow</string>
    <string>latn:zlinebelow</string>
  </array>
</dict>
</plist>
