<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>curr:cent</key>
  <dict>
    <key>digit:four</key>
    <integer>-289</integer>
    <key>digit:seven</key>
    <integer>-275</integer>
  </dict>
  <key>curr:dollar</key>
  <dict>
    <key>digit:five</key>
    <integer>-241</integer>
    <key>digit:nine</key>
    <integer>-287</integer>
    <key>digit:seven</key>
    <integer>-257</integer>
    <key>digit:three</key>
    <integer>-261</integer>
    <key>digit:two</key>
    <integer>-287</integer>
  </dict>
  <key>digit:eight</key>
  <dict>
    <key>digit:seven</key>
    <integer>-241</integer>
    <key>sign:comma</key>
    <integer>-257</integer>
    <key>sign:period</key>
    <integer>-237</integer>
  </dict>
  <key>digit:five</key>
  <dict>
    <key>digit:nine</key>
    <integer>-247</integer>
    <key>digit:two</key>
    <integer>-237</integer>
    <key>sign:comma</key>
    <integer>-293</integer>
    <key>sign:period</key>
    <integer>-273</integer>
  </dict>
  <key>digit:four</key>
  <dict>
    <key>digit:nine</key>
    <integer>-247</integer>
    <key>digit:seven</key>
    <integer>-279</integer>
  </dict>
  <key>digit:nine</key>
  <dict>
    <key>sign:comma</key>
    <integer>-375</integer>
    <key>sign:period</key>
    <integer>-361</integer>
  </dict>
  <key>digit:one</key>
  <dict>
    <key>sign:comma</key>
    <integer>-381</integer>
    <key>sign:middledot</key>
    <integer>-447</integer>
    <key>sign:period</key>
    <integer>-481</integer>
  </dict>
  <key>digit:seven</key>
  <dict>
    <key>digit:eight</key>
    <integer>-259</integer>
    <key>digit:four</key>
    <integer>-389</integer>
    <key>digit:six</key>
    <integer>-293</integer>
    <key>digit:two</key>
    <integer>-241</integer>
    <key>sign:comma</key>
    <integer>-563</integer>
    <key>sign:middledot</key>
    <integer>-419</integer>
    <key>sign:period</key>
    <integer>-557</integer>
    <key>sign:slash</key>
    <integer>-317</integer>
  </dict>
  <key>digit:six</key>
  <dict>
    <key>digit:seven</key>
    <integer>-269</integer>
    <key>sign:comma</key>
    <integer>-251</integer>
  </dict>
  <key>digit:three</key>
  <dict>
    <key>digit:seven</key>
    <integer>-255</integer>
    <key>sign:comma</key>
    <integer>-281</integer>
    <key>sign:period</key>
    <integer>-259</integer>
  </dict>
  <key>digit:two</key>
  <dict>
    <key>sign:middledot</key>
    <integer>-305</integer>
  </dict>
  <key>digit:zero</key>
  <dict>
    <key>sign:comma</key>
    <integer>-265</integer>
    <key>sign:period</key>
    <integer>-247</integer>
  </dict>
  <key>latn:Aogonek</key>
  <dict>
    <key>latn:Vmacronbelow</key>
    <integer>-220</integer>
    <key>latn:vmacronbelow</key>
    <integer>-140</integer>
  </dict>
  <key>latn:Aogonekacute</key>
  <dict>
    <key>latn:Vmacronbelow</key>
    <integer>-220</integer>
    <key>latn:vmacronbelow</key>
    <integer>-140</integer>
  </dict>
  <key>latn:Aogonektilde</key>
  <dict>
    <key>latn:Vmacronbelow</key>
    <integer>-220</integer>
    <key>latn:vmacronbelow</key>
    <integer>-140</integer>
  </dict>
  <key>latn:Lcaron</key>
  <dict>
    <key>public.kern2.G</key>
    <integer>-263</integer>
    <key>public.kern2.O</key>
    <integer>-243</integer>
  </dict>
  <key>latn:Tdiaeresisbelow</key>
  <dict>
    <key>latn:adotbelow</key>
    <integer>0</integer>
    <key>latn:rcedilla</key>
    <integer>0</integer>
    <key>latn:rdotbelow</key>
    <integer>0</integer>
    <key>latn:rringbelow</key>
    <integer>0</integer>
  </dict>
  <key>latn:Tstroke</key>
  <dict>
    <key>sign:colon</key>
    <integer>0</integer>
    <key>sign:hyphenminus</key>
    <integer>0</integer>
    <key>sign:semicolon</key>
    <integer>0</integer>
  </dict>
  <key>latn:b</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-383</integer>
    <key>public.kern2.quote.single</key>
    <integer>-339</integer>
  </dict>
  <key>latn:f</key>
  <dict>
    <key>sign:comma</key>
    <integer>-301</integer>
    <key>sign:period</key>
    <integer>-299</integer>
  </dict>
  <key>latn:p</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-293</integer>
    <key>public.kern2.quote.single</key>
    <integer>-251</integer>
    <key>sign:comma</key>
    <integer>-239</integer>
  </dict>
  <key>latn:q</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-307</integer>
    <key>public.kern2.quote.single</key>
    <integer>-263</integer>
  </dict>
  <key>latn:v</key>
  <dict>
    <key>sign:comma</key>
    <integer>-373</integer>
    <key>sign:period</key>
    <integer>-365</integer>
  </dict>
  <key>public.kern1.A</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-321</integer>
    <key>public.kern2.U</key>
    <integer>-237</integer>
    <key>public.kern2.V</key>
    <integer>-251</integer>
    <key>public.kern2.W</key>
    <integer>-271</integer>
    <key>public.kern2.Y</key>
    <integer>-375</integer>
    <key>public.kern2.quote.double</key>
    <integer>-429</integer>
    <key>public.kern2.quote.single</key>
    <integer>-385</integer>
    <key>public.kern2.v</key>
    <integer>-271</integer>
  </dict>
  <key>public.kern1.A.markAbove</key>
  <dict>
    <key>public.kern2.U</key>
    <integer>-237</integer>
    <key>public.kern2.V</key>
    <integer>-220</integer>
    <key>public.kern2.W</key>
    <integer>-220</integer>
    <key>public.kern2.Y</key>
    <integer>-220</integer>
    <key>public.kern2.v</key>
    <integer>-271</integer>
  </dict>
  <key>public.kern1.B</key>
  <dict>
    <key>sign:comma</key>
    <integer>-237</integer>
  </dict>
  <key>public.kern1.D</key>
  <dict>
    <key>sign:comma</key>
    <integer>-383</integer>
    <key>sign:period</key>
    <integer>-371</integer>
  </dict>
  <key>public.kern1.F</key>
  <dict>
    <key>latn:Aringacute</key>
    <integer>-250</integer>
    <key>public.kern2.A</key>
    <integer>-365</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-365</integer>
    <key>sign:comma</key>
    <integer>-431</integer>
    <key>sign:period</key>
    <integer>-527</integer>
    <key>sign:slash</key>
    <integer>-245</integer>
  </dict>
  <key>public.kern1.G</key>
  <dict>
    <key>sign:comma</key>
    <integer>-289</integer>
    <key>sign:period</key>
    <integer>-273</integer>
  </dict>
  <key>public.kern1.J</key>
  <dict>
    <key>sign:comma</key>
    <integer>-331</integer>
  </dict>
  <key>public.kern1.L</key>
  <dict>
    <key>public.kern2.G</key>
    <integer>-263</integer>
    <key>public.kern2.O</key>
    <integer>-243</integer>
    <key>public.kern2.T</key>
    <integer>-319</integer>
    <key>public.kern2.V</key>
    <integer>-299</integer>
    <key>public.kern2.W</key>
    <integer>-263</integer>
    <key>public.kern2.Y</key>
    <integer>-357</integer>
    <key>public.kern2.quote.double</key>
    <integer>-557</integer>
    <key>public.kern2.quote.single</key>
    <integer>-513</integer>
  </dict>
  <key>public.kern1.O</key>
  <dict>
    <key>sign:comma</key>
    <integer>-351</integer>
    <key>sign:period</key>
    <integer>-337</integer>
  </dict>
  <key>public.kern1.P</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-277</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-277</integer>
    <key>sign:comma</key>
    <integer>-431</integer>
    <key>sign:period</key>
    <integer>-457</integer>
  </dict>
  <key>public.kern1.S</key>
  <dict>
    <key>sign:comma</key>
    <integer>-249</integer>
  </dict>
  <key>public.kern1.T</key>
  <dict>
    <key>latn:Aringacute</key>
    <integer>0</integer>
    <key>public.kern2.A</key>
    <integer>-323</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-323</integer>
    <key>public.kern2.a</key>
    <integer>-285</integer>
    <key>public.kern2.e</key>
    <integer>-251</integer>
    <key>public.kern2.m</key>
    <integer>-265</integer>
    <key>public.kern2.o</key>
    <integer>-253</integer>
    <key>public.kern2.r</key>
    <integer>-275</integer>
    <key>public.kern2.s</key>
    <integer>-281</integer>
    <key>public.kern2.u</key>
    <integer>-271</integer>
    <key>public.kern2.z</key>
    <integer>-273</integer>
    <key>sign:colon</key>
    <integer>-355</integer>
    <key>sign:comma</key>
    <integer>-431</integer>
    <key>sign:hyphenminus</key>
    <integer>-265</integer>
    <key>sign:period</key>
    <integer>-429</integer>
    <key>sign:semicolon</key>
    <integer>-345</integer>
  </dict>
  <key>public.kern1.U</key>
  <dict>
    <key>sign:comma</key>
    <integer>-355</integer>
    <key>sign:period</key>
    <integer>-339</integer>
  </dict>
  <key>public.kern1.V</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-249</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-189</integer>
    <key>sign:colon</key>
    <integer>-275</integer>
    <key>sign:comma</key>
    <integer>-451</integer>
    <key>sign:hyphenminus</key>
    <integer>-241</integer>
    <key>sign:period</key>
    <integer>-443</integer>
    <key>sign:semicolon</key>
    <integer>-265</integer>
  </dict>
  <key>public.kern1.W</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-249</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-189</integer>
    <key>sign:colon</key>
    <integer>-251</integer>
    <key>sign:comma</key>
    <integer>-375</integer>
    <key>sign:period</key>
    <integer>-371</integer>
    <key>sign:semicolon</key>
    <integer>-241</integer>
  </dict>
  <key>public.kern1.Y</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-249</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-249</integer>
    <key>public.kern2.a</key>
    <integer>-241</integer>
    <key>public.kern2.c</key>
    <integer>-241</integer>
    <key>public.kern2.d</key>
    <integer>-239</integer>
    <key>sign:colon</key>
    <integer>-299</integer>
    <key>sign:comma</key>
    <integer>-451</integer>
    <key>sign:period</key>
    <integer>-445</integer>
    <key>sign:semicolon</key>
    <integer>-289</integer>
  </dict>
  <key>public.kern1.a</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-325</integer>
    <key>public.kern2.quote.single</key>
    <integer>-283</integer>
  </dict>
  <key>public.kern1.e</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-279</integer>
    <key>public.kern2.quote.single</key>
    <integer>-237</integer>
  </dict>
  <key>public.kern1.h</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-343</integer>
    <key>public.kern2.quote.single</key>
    <integer>-299</integer>
  </dict>
  <key>public.kern1.m</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-273</integer>
    <key>public.kern2.quote.single</key>
    <integer>-231</integer>
  </dict>
  <key>public.kern1.n</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-285</integer>
    <key>public.kern2.quote.single</key>
    <integer>-243</integer>
  </dict>
  <key>public.kern1.o</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-323</integer>
    <key>public.kern2.quote.single</key>
    <integer>-281</integer>
    <key>sign:comma</key>
    <integer>-237</integer>
  </dict>
  <key>public.kern1.o.markAbove</key>
  <dict>
    <key>sign:comma</key>
    <integer>-237</integer>
  </dict>
  <key>public.kern1.quote.double</key>
  <dict>
    <key>latn:dcaron</key>
    <integer>0</integer>
    <key>latn:g</key>
    <integer>-401</integer>
    <key>latn:p</key>
    <integer>-293</integer>
    <key>latn:q</key>
    <integer>-335</integer>
    <key>public.kern2.A</key>
    <integer>-441</integer>
    <key>public.kern2.a</key>
    <integer>-349</integer>
    <key>public.kern2.c</key>
    <integer>-377</integer>
    <key>public.kern2.d</key>
    <integer>-433</integer>
    <key>public.kern2.e</key>
    <integer>-122</integer>
    <key>public.kern2.m</key>
    <integer>-313</integer>
    <key>public.kern2.n</key>
    <integer>-325</integer>
    <key>public.kern2.o</key>
    <integer>-361</integer>
    <key>public.kern2.r</key>
    <integer>-319</integer>
    <key>public.kern2.s</key>
    <integer>-311</integer>
    <key>public.kern2.u</key>
    <integer>-267</integer>
  </dict>
  <key>public.kern1.quote.single</key>
  <dict>
    <key>latn:dcaron</key>
    <integer>0</integer>
    <key>latn:g</key>
    <integer>-357</integer>
    <key>latn:p</key>
    <integer>-249</integer>
    <key>latn:q</key>
    <integer>-291</integer>
    <key>public.kern2.A</key>
    <integer>-399</integer>
    <key>public.kern2.a</key>
    <integer>-305</integer>
    <key>public.kern2.c</key>
    <integer>-335</integer>
    <key>public.kern2.d</key>
    <integer>-389</integer>
    <key>public.kern2.e</key>
    <integer>-311</integer>
    <key>public.kern2.m</key>
    <integer>-269</integer>
    <key>public.kern2.n</key>
    <integer>-281</integer>
    <key>public.kern2.o</key>
    <integer>-317</integer>
    <key>public.kern2.s</key>
    <integer>-267</integer>
    <key>public.kern2.u</key>
    <integer>-223</integer>
  </dict>
  <key>public.kern1.r</key>
  <dict>
    <key>sign:comma</key>
    <integer>-367</integer>
    <key>sign:period</key>
    <integer>-359</integer>
  </dict>
  <key>public.kern1.s</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-253</integer>
    <key>public.kern2.quote.single</key>
    <integer>-211</integer>
  </dict>
  <key>public.kern1.w</key>
  <dict>
    <key>sign:comma</key>
    <integer>-319</integer>
    <key>sign:period</key>
    <integer>-315</integer>
  </dict>
  <key>public.kern1.y</key>
  <dict>
    <key>sign:comma</key>
    <integer>-323</integer>
    <key>sign:period</key>
    <integer>-315</integer>
  </dict>
  <key>sign:guillemetright</key>
  <dict>
    <key>sign:comma</key>
    <integer>-371</integer>
    <key>sign:period</key>
    <integer>-367</integer>
  </dict>
  <key>sign:middledot</key>
  <dict>
    <key>digit:nine</key>
    <integer>-309</integer>
    <key>digit:one</key>
    <integer>-441</integer>
    <key>digit:seven</key>
    <integer>-323</integer>
    <key>digit:two</key>
    <integer>-255</integer>
  </dict>
  <key>sign:slash</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-251</integer>
  </dict>
</dict>
</plist>
