<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Aogonacute</key>
  <dict>
    <key>uniEE16</key>
    <integer>-220</integer>
    <key>uniEE17</key>
    <integer>-140</integer>
  </dict>
  <key>Aogonek</key>
  <dict>
    <key>uniEE16</key>
    <integer>-220</integer>
    <key>uniEE17</key>
    <integer>-140</integer>
  </dict>
  <key>Aogontilde</key>
  <dict>
    <key>uniEE16</key>
    <integer>-220</integer>
    <key>uniEE17</key>
    <integer>-140</integer>
  </dict>
  <key>H</key>
  <dict>
    <key>comma</key>
    <integer>-231</integer>
    <key>period</key>
    <integer>-231</integer>
  </dict>
  <key>b</key>
  <dict>
    <key>comma</key>
    <integer>-233</integer>
    <key>public.kern2.quote.double</key>
    <integer>-383</integer>
    <key>public.kern2.quote.single</key>
    <integer>-340</integer>
  </dict>
  <key>cent</key>
  <dict>
    <key>four</key>
    <integer>-289</integer>
    <key>seven</key>
    <integer>-274</integer>
  </dict>
  <key>dollar</key>
  <dict>
    <key>five</key>
    <integer>-242</integer>
    <key>nine</key>
    <integer>-287</integer>
    <key>seven</key>
    <integer>-256</integer>
    <key>three</key>
    <integer>-260</integer>
    <key>two</key>
    <integer>-287</integer>
  </dict>
  <key>dotlessi</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-272</integer>
    <key>public.kern2.quote.single</key>
    <integer>-229</integer>
  </dict>
  <key>eight</key>
  <dict>
    <key>comma</key>
    <integer>-256</integer>
    <key>period</key>
    <integer>-238</integer>
    <key>seven</key>
    <integer>-242</integer>
  </dict>
  <key>f</key>
  <dict>
    <key>comma</key>
    <integer>-301</integer>
    <key>period</key>
    <integer>-299</integer>
  </dict>
  <key>five</key>
  <dict>
    <key>comma</key>
    <integer>-293</integer>
    <key>nine</key>
    <integer>-248</integer>
    <key>period</key>
    <integer>-272</integer>
    <key>two</key>
    <integer>-238</integer>
  </dict>
  <key>four</key>
  <dict>
    <key>nine</key>
    <integer>-248</integer>
    <key>seven</key>
    <integer>-279</integer>
  </dict>
  <key>guillemotright</key>
  <dict>
    <key>comma</key>
    <integer>-371</integer>
    <key>period</key>
    <integer>-367</integer>
  </dict>
  <key>nine</key>
  <dict>
    <key>comma</key>
    <integer>-375</integer>
    <key>period</key>
    <integer>-360</integer>
  </dict>
  <key>one</key>
  <dict>
    <key>comma</key>
    <integer>-381</integer>
    <key>period</key>
    <integer>-481</integer>
    <key>periodcentered</key>
    <integer>-446</integer>
  </dict>
  <key>p</key>
  <dict>
    <key>comma</key>
    <integer>-240</integer>
    <key>public.kern2.quote.double</key>
    <integer>-293</integer>
    <key>public.kern2.quote.single</key>
    <integer>-252</integer>
  </dict>
  <key>periodcentered</key>
  <dict>
    <key>nine</key>
    <integer>-309</integer>
    <key>one</key>
    <integer>-440</integer>
    <key>seven</key>
    <integer>-324</integer>
    <key>three</key>
    <integer>-238</integer>
    <key>two</key>
    <integer>-256</integer>
  </dict>
  <key>public.kern1.A</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-322</integer>
    <key>public.kern2.U</key>
    <integer>-237</integer>
    <key>public.kern2.V</key>
    <integer>-252</integer>
    <key>public.kern2.W</key>
    <integer>-270</integer>
    <key>public.kern2.Y</key>
    <integer>-375</integer>
    <key>public.kern2.quote.double</key>
    <integer>-428</integer>
    <key>public.kern2.quote.single</key>
    <integer>-385</integer>
    <key>public.kern2.v</key>
    <integer>-270</integer>
  </dict>
  <key>public.kern1.A.markAbove</key>
  <dict>
    <key>public.kern2.U</key>
    <integer>-237</integer>
    <key>public.kern2.V</key>
    <integer>-252</integer>
    <key>public.kern2.W</key>
    <integer>-270</integer>
    <key>public.kern2.Y</key>
    <integer>-220</integer>
    <key>public.kern2.v</key>
    <integer>-270</integer>
  </dict>
  <key>public.kern1.B</key>
  <dict>
    <key>comma</key>
    <integer>-238</integer>
  </dict>
  <key>public.kern1.D</key>
  <dict>
    <key>comma</key>
    <integer>-383</integer>
    <key>period</key>
    <integer>-371</integer>
  </dict>
  <key>public.kern1.F</key>
  <dict>
    <key>comma</key>
    <integer>-430</integer>
    <key>period</key>
    <integer>-627</integer>
    <key>public.kern2.A</key>
    <integer>-365</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-365</integer>
    <key>slash</key>
    <integer>-246</integer>
  </dict>
  <key>public.kern1.G</key>
  <dict>
    <key>comma</key>
    <integer>-289</integer>
    <key>period</key>
    <integer>-272</integer>
  </dict>
  <key>public.kern1.J</key>
  <dict>
    <key>comma</key>
    <integer>-332</integer>
  </dict>
  <key>public.kern1.L</key>
  <dict>
    <key>public.kern2.G</key>
    <integer>-262</integer>
    <key>public.kern2.O</key>
    <integer>-244</integer>
    <key>public.kern2.T</key>
    <integer>-319</integer>
    <key>public.kern2.U</key>
    <integer>-229</integer>
    <key>public.kern2.V</key>
    <integer>-338</integer>
    <key>public.kern2.W</key>
    <integer>-262</integer>
    <key>public.kern2.Y</key>
    <integer>-356</integer>
    <key>public.kern2.quote.double</key>
    <integer>-557</integer>
    <key>public.kern2.quote.single</key>
    <integer>-512</integer>
  </dict>
  <key>public.kern1.O</key>
  <dict>
    <key>comma</key>
    <integer>-350</integer>
    <key>period</key>
    <integer>-338</integer>
  </dict>
  <key>public.kern1.P</key>
  <dict>
    <key>comma</key>
    <integer>-430</integer>
    <key>period</key>
    <integer>-457</integer>
    <key>public.kern2.A</key>
    <integer>-276</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-276</integer>
  </dict>
  <key>public.kern1.S</key>
  <dict>
    <key>comma</key>
    <integer>-250</integer>
  </dict>
  <key>public.kern1.T</key>
  <dict>
    <key>colon</key>
    <integer>-354</integer>
    <key>comma</key>
    <integer>-430</integer>
    <key>hyphen</key>
    <integer>-264</integer>
    <key>period</key>
    <integer>-428</integer>
    <key>public.kern2.A</key>
    <integer>-324</integer>
    <key>public.kern2.a</key>
    <integer>-285</integer>
    <key>public.kern2.e</key>
    <integer>-252</integer>
    <key>public.kern2.m</key>
    <integer>-264</integer>
    <key>public.kern2.o</key>
    <integer>-254</integer>
    <key>public.kern2.s</key>
    <integer>-281</integer>
    <key>public.kern2.u</key>
    <integer>-270</integer>
    <key>public.kern2.z</key>
    <integer>-272</integer>
    <key>r</key>
    <integer>-274</integer>
    <key>semicolon</key>
    <integer>-344</integer>
  </dict>
  <key>public.kern1.U</key>
  <dict>
    <key>comma</key>
    <integer>-354</integer>
    <key>period</key>
    <integer>-340</integer>
  </dict>
  <key>public.kern1.V</key>
  <dict>
    <key>colon</key>
    <integer>-274</integer>
    <key>comma</key>
    <integer>-451</integer>
    <key>hyphen</key>
    <integer>-242</integer>
    <key>period</key>
    <integer>-442</integer>
    <key>public.kern2.A</key>
    <integer>-250</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-250</integer>
    <key>semicolon</key>
    <integer>-264</integer>
  </dict>
  <key>public.kern1.W</key>
  <dict>
    <key>colon</key>
    <integer>-252</integer>
    <key>comma</key>
    <integer>-375</integer>
    <key>period</key>
    <integer>-371</integer>
    <key>public.kern2.A</key>
    <integer>-250</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-250</integer>
    <key>semicolon</key>
    <integer>-242</integer>
  </dict>
  <key>public.kern1.Y</key>
  <dict>
    <key>colon</key>
    <integer>-299</integer>
    <key>comma</key>
    <integer>-451</integer>
    <key>period</key>
    <integer>-444</integer>
    <key>public.kern2.A</key>
    <integer>-348</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-249</integer>
    <key>public.kern2.a</key>
    <integer>-242</integer>
    <key>public.kern2.c</key>
    <integer>-242</integer>
    <key>public.kern2.d</key>
    <integer>-240</integer>
    <key>public.kern2.e</key>
    <integer>-242</integer>
    <key>public.kern2.o</key>
    <integer>-231</integer>
    <key>q</key>
    <integer>-236</integer>
    <key>semicolon</key>
    <integer>-289</integer>
  </dict>
  <key>public.kern1.a</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-326</integer>
    <key>public.kern2.quote.single</key>
    <integer>-283</integer>
  </dict>
  <key>public.kern1.c</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-233</integer>
  </dict>
  <key>public.kern1.e</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-279</integer>
    <key>public.kern2.quote.single</key>
    <integer>-238</integer>
  </dict>
  <key>public.kern1.h</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-342</integer>
    <key>public.kern2.quote.single</key>
    <integer>-299</integer>
  </dict>
  <key>public.kern1.m</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-272</integer>
    <key>public.kern2.quote.single</key>
    <integer>-231</integer>
  </dict>
  <key>public.kern1.n</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-285</integer>
    <key>public.kern2.quote.single</key>
    <integer>-244</integer>
  </dict>
  <key>public.kern1.o</key>
  <dict>
    <key>comma</key>
    <integer>-238</integer>
    <key>public.kern2.quote.double</key>
    <integer>-324</integer>
    <key>public.kern2.quote.single</key>
    <integer>-281</integer>
  </dict>
  <key>public.kern1.o.markAbove</key>
  <dict>
    <key>comma</key>
    <integer>-238</integer>
  </dict>
  <key>public.kern1.quote.double</key>
  <dict>
    <key>g</key>
    <integer>-401</integer>
    <key>p</key>
    <integer>-293</integer>
    <key>public.kern2.A</key>
    <integer>-440</integer>
    <key>public.kern2.a</key>
    <integer>-348</integer>
    <key>public.kern2.c</key>
    <integer>-377</integer>
    <key>public.kern2.d</key>
    <integer>-432</integer>
    <key>public.kern2.e</key>
    <integer>-354</integer>
    <key>public.kern2.m</key>
    <integer>-313</integer>
    <key>public.kern2.n</key>
    <integer>-326</integer>
    <key>public.kern2.o</key>
    <integer>-360</integer>
    <key>public.kern2.r</key>
    <integer>-319</integer>
    <key>public.kern2.s</key>
    <integer>-311</integer>
    <key>public.kern2.u</key>
    <integer>-266</integer>
    <key>q</key>
    <integer>-336</integer>
  </dict>
  <key>public.kern1.quote.single</key>
  <dict>
    <key>g</key>
    <integer>-356</integer>
    <key>p</key>
    <integer>-250</integer>
    <key>public.kern2.A</key>
    <integer>-399</integer>
    <key>public.kern2.a</key>
    <integer>-305</integer>
    <key>public.kern2.c</key>
    <integer>-336</integer>
    <key>public.kern2.d</key>
    <integer>-389</integer>
    <key>public.kern2.e</key>
    <integer>-311</integer>
    <key>public.kern2.m</key>
    <integer>-268</integer>
    <key>public.kern2.n</key>
    <integer>-281</integer>
    <key>public.kern2.o</key>
    <integer>-317</integer>
    <key>public.kern2.s</key>
    <integer>-266</integer>
    <key>q</key>
    <integer>-291</integer>
  </dict>
  <key>public.kern1.r</key>
  <dict>
    <key>comma</key>
    <integer>-367</integer>
    <key>period</key>
    <integer>-358</integer>
  </dict>
  <key>public.kern1.s</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-254</integer>
  </dict>
  <key>public.kern1.w</key>
  <dict>
    <key>comma</key>
    <integer>-319</integer>
    <key>period</key>
    <integer>-315</integer>
  </dict>
  <key>public.kern1.y</key>
  <dict>
    <key>comma</key>
    <integer>-324</integer>
    <key>period</key>
    <integer>-315</integer>
  </dict>
  <key>q</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-307</integer>
    <key>public.kern2.quote.single</key>
    <integer>-262</integer>
  </dict>
  <key>seven</key>
  <dict>
    <key>comma</key>
    <integer>-563</integer>
    <key>eight</key>
    <integer>-258</integer>
    <key>four</key>
    <integer>-389</integer>
    <key>period</key>
    <integer>-557</integer>
    <key>periodcentered</key>
    <integer>-420</integer>
    <key>six</key>
    <integer>-293</integer>
    <key>slash</key>
    <integer>-317</integer>
    <key>two</key>
    <integer>-242</integer>
  </dict>
  <key>six</key>
  <dict>
    <key>comma</key>
    <integer>-252</integer>
    <key>seven</key>
    <integer>-268</integer>
  </dict>
  <key>slash</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-252</integer>
  </dict>
  <key>three</key>
  <dict>
    <key>comma</key>
    <integer>-281</integer>
    <key>period</key>
    <integer>-258</integer>
    <key>seven</key>
    <integer>-256</integer>
  </dict>
  <key>two</key>
  <dict>
    <key>periodcentered</key>
    <integer>-305</integer>
  </dict>
  <key>v</key>
  <dict>
    <key>comma</key>
    <integer>-373</integer>
    <key>period</key>
    <integer>-365</integer>
  </dict>
  <key>zero</key>
  <dict>
    <key>comma</key>
    <integer>-264</integer>
    <key>period</key>
    <integer>-248</integer>
  </dict>
</dict>
</plist>
