<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <dict>
    <key>C</key>
    <integer>-74</integer>
    <key>G</key>
    <integer>-97</integer>
    <key>O</key>
    <integer>-97</integer>
    <key>T</key>
    <integer>-242</integer>
    <key>U</key>
    <integer>-104</integer>
    <key>V</key>
    <integer>-189</integer>
    <key>W</key>
    <integer>-203</integer>
    <key>Y</key>
    <integer>-281</integer>
    <key>c</key>
    <integer>-97</integer>
    <key>quotedblright</key>
    <integer>-321</integer>
    <key>quoteright</key>
    <integer>-289</integer>
    <key>t</key>
    <integer>-149</integer>
    <key>v</key>
    <integer>-203</integer>
    <key>w</key>
    <integer>-160</integer>
  </dict>
  <key>B</key>
  <dict>
    <key>U</key>
    <integer>-74</integer>
    <key>V</key>
    <integer>-74</integer>
    <key>W</key>
    <integer>-97</integer>
    <key>Y</key>
    <integer>-119</integer>
    <key>comma</key>
    <integer>-179</integer>
    <key>period</key>
    <integer>-166</integer>
  </dict>
  <key>C</key>
  <dict>
    <key>comma</key>
    <integer>-134</integer>
  </dict>
  <key>D</key>
  <dict>
    <key>A</key>
    <integer>-149</integer>
    <key>V</key>
    <integer>-74</integer>
    <key>W</key>
    <integer>-116</integer>
    <key>Y</key>
    <integer>-161</integer>
    <key>comma</key>
    <integer>-287</integer>
    <key>i</key>
    <integer>-60</integer>
    <key>period</key>
    <integer>-278</integer>
  </dict>
  <key>E</key>
  <dict>
    <key>c</key>
    <integer>-109</integer>
    <key>comma</key>
    <integer>-122</integer>
    <key>d</key>
    <integer>-100</integer>
    <key>e</key>
    <integer>-95</integer>
    <key>f</key>
    <integer>-138</integer>
    <key>g</key>
    <integer>-123</integer>
    <key>i</key>
    <integer>-109</integer>
    <key>l</key>
    <integer>-131</integer>
    <key>o</key>
    <integer>-98</integer>
    <key>period</key>
    <integer>-119</integer>
    <key>q</key>
    <integer>-104</integer>
    <key>t</key>
    <integer>-151</integer>
    <key>v</key>
    <integer>-120</integer>
    <key>w</key>
    <integer>-113</integer>
    <key>y</key>
    <integer>-95</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>A</key>
    <integer>-274</integer>
    <key>a</key>
    <integer>-158</integer>
    <key>comma</key>
    <integer>-323</integer>
    <key>e</key>
    <integer>-132</integer>
    <key>i</key>
    <integer>-109</integer>
    <key>o</key>
    <integer>-137</integer>
    <key>one</key>
    <integer>-161</integer>
    <key>period</key>
    <integer>-470</integer>
    <key>r</key>
    <integer>-157</integer>
    <key>slash</key>
    <integer>-185</integer>
    <key>u</key>
    <integer>-157</integer>
    <key>y</key>
    <integer>-117</integer>
  </dict>
  <key>G</key>
  <dict>
    <key>a</key>
    <integer>-128</integer>
    <key>comma</key>
    <integer>-217</integer>
    <key>e</key>
    <integer>-89</integer>
    <key>h</key>
    <integer>-149</integer>
    <key>i</key>
    <integer>-109</integer>
    <key>n</key>
    <integer>-149</integer>
    <key>o</key>
    <integer>-89</integer>
    <key>period</key>
    <integer>-204</integer>
    <key>r</key>
    <integer>-149</integer>
    <key>slash</key>
    <integer>-65</integer>
    <key>u</key>
    <integer>-149</integer>
    <key>y</key>
    <integer>-122</integer>
  </dict>
  <key>H</key>
  <dict>
    <key>comma</key>
    <integer>-173</integer>
    <key>i</key>
    <integer>-74</integer>
    <key>period</key>
    <integer>-173</integer>
    <key>u</key>
    <integer>-151</integer>
  </dict>
  <key>J</key>
  <dict>
    <key>A</key>
    <integer>-86</integer>
    <key>a</key>
    <integer>-146</integer>
    <key>comma</key>
    <integer>-249</integer>
    <key>i</key>
    <integer>-109</integer>
    <key>u</key>
    <integer>-151</integer>
  </dict>
  <key>K</key>
  <dict>
    <key>u</key>
    <integer>-104</integer>
  </dict>
  <key>L</key>
  <dict>
    <key>C</key>
    <integer>-164</integer>
    <key>G</key>
    <integer>-197</integer>
    <key>O</key>
    <integer>-183</integer>
    <key>T</key>
    <integer>-239</integer>
    <key>U</key>
    <integer>-172</integer>
    <key>V</key>
    <integer>-254</integer>
    <key>W</key>
    <integer>-197</integer>
    <key>Y</key>
    <integer>-267</integer>
    <key>quotedblright</key>
    <integer>-418</integer>
    <key>quoteright</key>
    <integer>-384</integer>
    <key>w</key>
    <integer>-152</integer>
    <key>y</key>
    <integer>-77</integer>
  </dict>
  <key>M</key>
  <dict>
    <key>comma</key>
    <integer>-110</integer>
    <key>i</key>
    <integer>-74</integer>
    <key>period</key>
    <integer>-110</integer>
    <key>u</key>
    <integer>-104</integer>
    <key>y</key>
    <integer>-91</integer>
  </dict>
  <key>N</key>
  <dict>
    <key>comma</key>
    <integer>-166</integer>
    <key>i</key>
    <integer>-74</integer>
    <key>period</key>
    <integer>-166</integer>
    <key>u</key>
    <integer>-143</integer>
  </dict>
  <key>O</key>
  <dict>
    <key>A</key>
    <integer>-149</integer>
    <key>T</key>
    <integer>-151</integer>
    <key>V</key>
    <integer>-97</integer>
    <key>W</key>
    <integer>-113</integer>
    <key>Y</key>
    <integer>-158</integer>
    <key>comma</key>
    <integer>-263</integer>
    <key>i</key>
    <integer>-109</integer>
    <key>l</key>
    <integer>-109</integer>
    <key>period</key>
    <integer>-254</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>A</key>
    <integer>-207</integer>
    <key>comma</key>
    <integer>-323</integer>
    <key>e</key>
    <integer>-80</integer>
    <key>i</key>
    <integer>-74</integer>
    <key>o</key>
    <integer>-83</integer>
    <key>one</key>
    <integer>-161</integer>
    <key>period</key>
    <integer>-343</integer>
    <key>slash</key>
    <integer>-113</integer>
  </dict>
  <key>R</key>
  <dict>
    <key>U</key>
    <integer>-97</integer>
    <key>W</key>
    <integer>-88</integer>
    <key>Y</key>
    <integer>-114</integer>
  </dict>
  <key>S</key>
  <dict>
    <key>Y</key>
    <integer>-97</integer>
    <key>comma</key>
    <integer>-188</integer>
    <key>i</key>
    <integer>-74</integer>
    <key>j</key>
    <integer>-92</integer>
    <key>l</key>
    <integer>-109</integer>
    <key>period</key>
    <integer>-172</integer>
    <key>t</key>
    <integer>-132</integer>
    <key>v</key>
    <integer>-116</integer>
    <key>w</key>
    <integer>-114</integer>
    <key>y</key>
    <integer>-75</integer>
  </dict>
  <key>T</key>
  <dict>
    <key>A</key>
    <integer>-243</integer>
    <key>C</key>
    <integer>-149</integer>
    <key>G</key>
    <integer>-149</integer>
    <key>J</key>
    <integer>-113</integer>
    <key>O</key>
    <integer>-149</integer>
    <key>a</key>
    <integer>-214</integer>
    <key>colon</key>
    <integer>-266</integer>
    <key>comma</key>
    <integer>-323</integer>
    <key>e</key>
    <integer>-189</integer>
    <key>hyphen</key>
    <integer>-198</integer>
    <key>m</key>
    <integer>-198</integer>
    <key>o</key>
    <integer>-191</integer>
    <key>period</key>
    <integer>-321</integer>
    <key>r</key>
    <integer>-206</integer>
    <key>s</key>
    <integer>-211</integer>
    <key>semicolon</key>
    <integer>-258</integer>
    <key>slash</key>
    <integer>-161</integer>
    <key>u</key>
    <integer>-203</integer>
    <key>w</key>
    <integer>-131</integer>
    <key>y</key>
    <integer>-128</integer>
    <key>z</key>
    <integer>-204</integer>
  </dict>
  <key>U</key>
  <dict>
    <key>A</key>
    <integer>-149</integer>
    <key>a</key>
    <integer>-146</integer>
    <key>c</key>
    <integer>-98</integer>
    <key>comma</key>
    <integer>-266</integer>
    <key>i</key>
    <integer>-74</integer>
    <key>m</key>
    <integer>-143</integer>
    <key>n</key>
    <integer>-151</integer>
    <key>p</key>
    <integer>-143</integer>
    <key>period</key>
    <integer>-255</integer>
    <key>r</key>
    <integer>-151</integer>
    <key>s</key>
    <integer>-137</integer>
    <key>slash</key>
    <integer>-109</integer>
    <key>z</key>
    <integer>-140</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>A</key>
    <integer>-188</integer>
    <key>C</key>
    <integer>-97</integer>
    <key>G</key>
    <integer>-97</integer>
    <key>J</key>
    <integer>-65</integer>
    <key>O</key>
    <integer>-97</integer>
    <key>a</key>
    <integer>-169</integer>
    <key>colon</key>
    <integer>-206</integer>
    <key>comma</key>
    <integer>-338</integer>
    <key>e</key>
    <integer>-164</integer>
    <key>hyphen</key>
    <integer>-182</integer>
    <key>o</key>
    <integer>-167</integer>
    <key>period</key>
    <integer>-332</integer>
    <key>r</key>
    <integer>-152</integer>
    <key>semicolon</key>
    <integer>-198</integer>
    <key>slash</key>
    <integer>-172</integer>
    <key>u</key>
    <integer>-145</integer>
  </dict>
  <key>W</key>
  <dict>
    <key>A</key>
    <integer>-188</integer>
    <key>C</key>
    <integer>-97</integer>
    <key>G</key>
    <integer>-97</integer>
    <key>O</key>
    <integer>-97</integer>
    <key>a</key>
    <integer>-143</integer>
    <key>colon</key>
    <integer>-189</integer>
    <key>comma</key>
    <integer>-281</integer>
    <key>d</key>
    <integer>-140</integer>
    <key>e</key>
    <integer>-131</integer>
    <key>hyphen</key>
    <integer>-143</integer>
    <key>i</key>
    <integer>-109</integer>
    <key>m</key>
    <integer>-125</integer>
    <key>o</key>
    <integer>-134</integer>
    <key>period</key>
    <integer>-278</integer>
    <key>r</key>
    <integer>-131</integer>
    <key>semicolon</key>
    <integer>-182</integer>
    <key>slash</key>
    <integer>-148</integer>
    <key>t</key>
    <integer>-80</integer>
    <key>u</key>
    <integer>-128</integer>
    <key>y</key>
    <integer>-53</integer>
  </dict>
  <key>X</key>
  <dict>
    <key>quotedblright</key>
    <integer>-128</integer>
    <key>quoteright</key>
    <integer>-97</integer>
    <key>u</key>
    <integer>-113</integer>
  </dict>
  <key>Y</key>
  <dict>
    <key>A</key>
    <integer>-261</integer>
    <key>C</key>
    <integer>-97</integer>
    <key>G</key>
    <integer>-149</integer>
    <key>O</key>
    <integer>-146</integer>
    <key>S</key>
    <integer>-128</integer>
    <key>a</key>
    <integer>-182</integer>
    <key>c</key>
    <integer>-182</integer>
    <key>colon</key>
    <integer>-224</integer>
    <key>comma</key>
    <integer>-338</integer>
    <key>d</key>
    <integer>-180</integer>
    <key>e</key>
    <integer>-169</integer>
    <key>o</key>
    <integer>-173</integer>
    <key>period</key>
    <integer>-333</integer>
    <key>q</key>
    <integer>-177</integer>
    <key>semicolon</key>
    <integer>-217</integer>
    <key>slash</key>
    <integer>-172</integer>
    <key>t</key>
    <integer>-116</integer>
    <key>u</key>
    <integer>-163</integer>
    <key>v</key>
    <integer>-92</integer>
  </dict>
  <key>Z</key>
  <dict>
    <key>C</key>
    <integer>-116</integer>
    <key>G</key>
    <integer>-129</integer>
    <key>O</key>
    <integer>-128</integer>
    <key>comma</key>
    <integer>-85</integer>
    <key>e</key>
    <integer>-62</integer>
    <key>i</key>
    <integer>-95</integer>
    <key>o</key>
    <integer>-65</integer>
    <key>period</key>
    <integer>-83</integer>
  </dict>
  <key>a</key>
  <dict>
    <key>quotedblright</key>
    <integer>-245</integer>
    <key>quoteright</key>
    <integer>-212</integer>
    <key>semicolon</key>
    <integer>-123</integer>
    <key>t</key>
    <integer>-135</integer>
    <key>v</key>
    <integer>-113</integer>
  </dict>
  <key>b</key>
  <dict>
    <key>colon</key>
    <integer>-135</integer>
    <key>comma</key>
    <integer>-175</integer>
    <key>period</key>
    <integer>-161</integer>
    <key>quotedblright</key>
    <integer>-287</integer>
    <key>quoteright</key>
    <integer>-255</integer>
    <key>semicolon</key>
    <integer>-125</integer>
    <key>v</key>
    <integer>-86</integer>
  </dict>
  <key>c</key>
  <dict>
    <key>colon</key>
    <integer>-134</integer>
    <key>comma</key>
    <integer>-120</integer>
    <key>l</key>
    <integer>-117</integer>
    <key>period</key>
    <integer>-100</integer>
    <key>quotedblright</key>
    <integer>-175</integer>
    <key>quoteright</key>
    <integer>-143</integer>
    <key>semicolon</key>
    <integer>-126</integer>
  </dict>
  <key>cent</key>
  <dict>
    <key>eight</key>
    <integer>-140</integer>
    <key>four</key>
    <integer>-217</integer>
    <key>seven</key>
    <integer>-206</integer>
  </dict>
  <key>d</key>
  <dict>
    <key>colon</key>
    <integer>-119</integer>
    <key>quoteright</key>
    <integer>-91</integer>
    <key>semicolon</key>
    <integer>-116</integer>
  </dict>
  <key>dollar</key>
  <dict>
    <key>five</key>
    <integer>-182</integer>
    <key>nine</key>
    <integer>-215</integer>
    <key>seven</key>
    <integer>-192</integer>
    <key>three</key>
    <integer>-195</integer>
    <key>two</key>
    <integer>-215</integer>
  </dict>
  <key>e</key>
  <dict>
    <key>colon</key>
    <integer>-128</integer>
    <key>comma</key>
    <integer>-123</integer>
    <key>period</key>
    <integer>-104</integer>
    <key>quotedblright</key>
    <integer>-209</integer>
    <key>quoteright</key>
    <integer>-179</integer>
    <key>semicolon</key>
    <integer>-117</integer>
    <key>v</key>
    <integer>-74</integer>
  </dict>
  <key>eight</key>
  <dict>
    <key>comma</key>
    <integer>-192</integer>
    <key>five</key>
    <integer>-122</integer>
    <key>nine</key>
    <integer>-125</integer>
    <key>period</key>
    <integer>-179</integer>
    <key>seven</key>
    <integer>-182</integer>
    <key>three</key>
    <integer>-143</integer>
    <key>two</key>
    <integer>-155</integer>
  </dict>
  <key>f</key>
  <dict>
    <key>comma</key>
    <integer>-226</integer>
    <key>e</key>
    <integer>-109</integer>
    <key>o</key>
    <integer>-109</integer>
    <key>one</key>
    <integer>-157</integer>
    <key>period</key>
    <integer>-224</integer>
  </dict>
  <key>five</key>
  <dict>
    <key>comma</key>
    <integer>-220</integer>
    <key>five</key>
    <integer>-141</integer>
    <key>nine</key>
    <integer>-186</integer>
    <key>period</key>
    <integer>-204</integer>
    <key>seven</key>
    <integer>-167</integer>
    <key>three</key>
    <integer>-166</integer>
    <key>two</key>
    <integer>-179</integer>
  </dict>
  <key>four</key>
  <dict>
    <key>five</key>
    <integer>-123</integer>
    <key>nine</key>
    <integer>-186</integer>
    <key>seven</key>
    <integer>-209</integer>
    <key>three</key>
    <integer>-149</integer>
  </dict>
  <key>g</key>
  <dict>
    <key>i</key>
    <integer>-74</integer>
    <key>period</key>
    <integer>-143</integer>
    <key>quotedblright</key>
    <integer>-160</integer>
    <key>quoteright</key>
    <integer>-128</integer>
    <key>r</key>
    <integer>-122</integer>
    <key>semicolon</key>
    <integer>-169</integer>
  </dict>
  <key>guillemotright</key>
  <dict>
    <key>comma</key>
    <integer>-278</integer>
    <key>period</key>
    <integer>-275</integer>
  </dict>
  <key>h</key>
  <dict>
    <key>colon</key>
    <integer>-126</integer>
    <key>comma</key>
    <integer>-91</integer>
    <key>quotedblright</key>
    <integer>-257</integer>
    <key>quoteright</key>
    <integer>-224</integer>
    <key>semicolon</key>
    <integer>-123</integer>
  </dict>
  <key>i</key>
  <dict>
    <key>colon</key>
    <integer>-172</integer>
    <key>comma</key>
    <integer>-172</integer>
    <key>period</key>
    <integer>-172</integer>
    <key>quotedblright</key>
    <integer>-204</integer>
    <key>quoteright</key>
    <integer>-172</integer>
    <key>semicolon</key>
    <integer>-172</integer>
  </dict>
  <key>j</key>
  <dict>
    <key>colon</key>
    <integer>-172</integer>
    <key>comma</key>
    <integer>-172</integer>
    <key>o</key>
    <integer>-109</integer>
    <key>period</key>
    <integer>-172</integer>
    <key>semicolon</key>
    <integer>-172</integer>
  </dict>
  <key>k</key>
  <dict>
    <key>e</key>
    <integer>-97</integer>
    <key>o</key>
    <integer>-98</integer>
    <key>quotedblright</key>
    <integer>-137</integer>
    <key>quoteright</key>
    <integer>-106</integer>
  </dict>
  <key>l</key>
  <dict>
    <key>colon</key>
    <integer>-106</integer>
    <key>comma</key>
    <integer>-71</integer>
    <key>period</key>
    <integer>-71</integer>
    <key>quotedblleft</key>
    <integer>-158</integer>
    <key>quotedblright</key>
    <integer>-154</integer>
    <key>quoteleft</key>
    <integer>-126</integer>
    <key>quoteright</key>
    <integer>-122</integer>
    <key>semicolon</key>
    <integer>-103</integer>
  </dict>
  <key>m</key>
  <dict>
    <key>colon</key>
    <integer>-120</integer>
    <key>comma</key>
    <integer>-85</integer>
    <key>quotedblright</key>
    <integer>-204</integer>
    <key>quoteright</key>
    <integer>-173</integer>
    <key>semicolon</key>
    <integer>-117</integer>
  </dict>
  <key>n</key>
  <dict>
    <key>colon</key>
    <integer>-126</integer>
    <key>comma</key>
    <integer>-91</integer>
    <key>quotedblright</key>
    <integer>-214</integer>
    <key>quoteright</key>
    <integer>-183</integer>
    <key>semicolon</key>
    <integer>-123</integer>
    <key>v</key>
    <integer>-94</integer>
  </dict>
  <key>nine</key>
  <dict>
    <key>comma</key>
    <integer>-281</integer>
    <key>five</key>
    <integer>-106</integer>
    <key>four</key>
    <integer>-100</integer>
    <key>period</key>
    <integer>-270</integer>
    <key>seven</key>
    <integer>-172</integer>
    <key>three</key>
    <integer>-151</integer>
    <key>two</key>
    <integer>-163</integer>
  </dict>
  <key>o</key>
  <dict>
    <key>colon</key>
    <integer>-135</integer>
    <key>comma</key>
    <integer>-179</integer>
    <key>period</key>
    <integer>-163</integer>
    <key>quotedblright</key>
    <integer>-243</integer>
    <key>quoteright</key>
    <integer>-211</integer>
    <key>semicolon</key>
    <integer>-125</integer>
    <key>v</key>
    <integer>-88</integer>
  </dict>
  <key>one</key>
  <dict>
    <key>comma</key>
    <integer>-286</integer>
    <key>period</key>
    <integer>-361</integer>
    <key>periodcentered</key>
    <integer>-335</integer>
  </dict>
  <key>p</key>
  <dict>
    <key>colon</key>
    <integer>-143</integer>
    <key>comma</key>
    <integer>-180</integer>
    <key>period</key>
    <integer>-164</integer>
    <key>quotedblright</key>
    <integer>-220</integer>
    <key>quoteright</key>
    <integer>-189</integer>
    <key>semicolon</key>
    <integer>-131</integer>
  </dict>
  <key>periodcentered</key>
  <dict>
    <key>five</key>
    <integer>-152</integer>
    <key>nine</key>
    <integer>-232</integer>
    <key>one</key>
    <integer>-330</integer>
    <key>seven</key>
    <integer>-243</integer>
    <key>three</key>
    <integer>-179</integer>
    <key>two</key>
    <integer>-192</integer>
  </dict>
  <key>q</key>
  <dict>
    <key>colon</key>
    <integer>-170</integer>
    <key>period</key>
    <integer>-135</integer>
    <key>quotedblright</key>
    <integer>-230</integer>
    <key>quoteright</key>
    <integer>-197</integer>
    <key>semicolon</key>
    <integer>-128</integer>
  </dict>
  <key>quotedblleft</key>
  <dict>
    <key>A</key>
    <integer>-330</integer>
    <key>a</key>
    <integer>-261</integer>
    <key>c</key>
    <integer>-283</integer>
    <key>d</key>
    <integer>-324</integer>
    <key>e</key>
    <integer>-266</integer>
    <key>f</key>
    <integer>-155</integer>
    <key>g</key>
    <integer>-301</integer>
    <key>m</key>
    <integer>-235</integer>
    <key>n</key>
    <integer>-245</integer>
    <key>o</key>
    <integer>-270</integer>
    <key>p</key>
    <integer>-220</integer>
    <key>q</key>
    <integer>-252</integer>
    <key>quoteleft</key>
    <integer>-149</integer>
    <key>r</key>
    <integer>-239</integer>
    <key>s</key>
    <integer>-233</integer>
    <key>t</key>
    <integer>-155</integer>
    <key>u</key>
    <integer>-200</integer>
    <key>v</key>
    <integer>-129</integer>
    <key>w</key>
    <integer>-128</integer>
    <key>x</key>
    <integer>-129</integer>
    <key>y</key>
    <integer>-126</integer>
  </dict>
  <key>quotedblright</key>
  <dict>
    <key>quoteright</key>
    <integer>-151</integer>
  </dict>
  <key>quoteleft</key>
  <dict>
    <key>A</key>
    <integer>-299</integer>
    <key>a</key>
    <integer>-229</integer>
    <key>c</key>
    <integer>-252</integer>
    <key>d</key>
    <integer>-292</integer>
    <key>e</key>
    <integer>-233</integer>
    <key>g</key>
    <integer>-267</integer>
    <key>m</key>
    <integer>-201</integer>
    <key>n</key>
    <integer>-211</integer>
    <key>o</key>
    <integer>-238</integer>
    <key>p</key>
    <integer>-188</integer>
    <key>q</key>
    <integer>-218</integer>
    <key>quoteleft</key>
    <integer>-119</integer>
    <key>s</key>
    <integer>-200</integer>
    <key>u</key>
    <integer>-167</integer>
    <key>z</key>
    <integer>-172</integer>
  </dict>
  <key>quoteright</key>
  <dict>
    <key>d</key>
    <integer>-314</integer>
    <key>m</key>
    <integer>-223</integer>
    <key>quoteright</key>
    <integer>-119</integer>
    <key>r</key>
    <integer>-227</integer>
    <key>s</key>
    <integer>-221</integer>
    <key>t</key>
    <integer>-143</integer>
    <key>v</key>
    <integer>-119</integer>
  </dict>
  <key>r</key>
  <dict>
    <key>comma</key>
    <integer>-275</integer>
    <key>period</key>
    <integer>-269</integer>
    <key>semicolon</key>
    <integer>-92</integer>
  </dict>
  <key>s</key>
  <dict>
    <key>colon</key>
    <integer>-151</integer>
    <key>comma</key>
    <integer>-141</integer>
    <key>period</key>
    <integer>-128</integer>
    <key>quotedblright</key>
    <integer>-191</integer>
    <key>quoteright</key>
    <integer>-158</integer>
    <key>semicolon</key>
    <integer>-137</integer>
  </dict>
  <key>seven</key>
  <dict>
    <key>comma</key>
    <integer>-422</integer>
    <key>eight</key>
    <integer>-194</integer>
    <key>five</key>
    <integer>-126</integer>
    <key>four</key>
    <integer>-292</integer>
    <key>nine</key>
    <integer>-146</integer>
    <key>period</key>
    <integer>-418</integer>
    <key>periodcentered</key>
    <integer>-315</integer>
    <key>six</key>
    <integer>-220</integer>
    <key>slash</key>
    <integer>-238</integer>
    <key>three</key>
    <integer>-170</integer>
    <key>two</key>
    <integer>-182</integer>
    <key>zero</key>
    <integer>-160</integer>
  </dict>
  <key>six</key>
  <dict>
    <key>comma</key>
    <integer>-189</integer>
    <key>five</key>
    <integer>-120</integer>
    <key>period</key>
    <integer>-170</integer>
    <key>seven</key>
    <integer>-201</integer>
    <key>three</key>
    <integer>-137</integer>
    <key>two</key>
    <integer>-154</integer>
  </dict>
  <key>slash</key>
  <dict>
    <key>A</key>
    <integer>-189</integer>
    <key>J</key>
    <integer>-114</integer>
    <key>M</key>
    <integer>-92</integer>
    <key>c</key>
    <integer>-116</integer>
    <key>d</key>
    <integer>-116</integer>
    <key>e</key>
    <integer>-104</integer>
    <key>four</key>
    <integer>-146</integer>
    <key>g</key>
    <integer>-123</integer>
    <key>o</key>
    <integer>-107</integer>
    <key>q</key>
    <integer>-113</integer>
    <key>s</key>
    <integer>-116</integer>
  </dict>
  <key>sterling</key>
  <dict>
    <key>eight</key>
    <integer>-128</integer>
    <key>five</key>
    <integer>-88</integer>
    <key>four</key>
    <integer>-109</integer>
    <key>nine</key>
    <integer>-122</integer>
    <key>one</key>
    <integer>-164</integer>
    <key>seven</key>
    <integer>-107</integer>
    <key>six</key>
    <integer>-128</integer>
    <key>three</key>
    <integer>-94</integer>
    <key>two</key>
    <integer>-151</integer>
    <key>zero</key>
    <integer>-100</integer>
  </dict>
  <key>t</key>
  <dict>
    <key>o</key>
    <integer>-114</integer>
    <key>quoteright</key>
    <integer>-88</integer>
    <key>semicolon</key>
    <integer>-138</integer>
  </dict>
  <key>three</key>
  <dict>
    <key>comma</key>
    <integer>-211</integer>
    <key>five</key>
    <integer>-137</integer>
    <key>nine</key>
    <integer>-140</integer>
    <key>period</key>
    <integer>-194</integer>
    <key>seven</key>
    <integer>-192</integer>
    <key>three</key>
    <integer>-160</integer>
    <key>two</key>
    <integer>-172</integer>
  </dict>
  <key>two</key>
  <dict>
    <key>comma</key>
    <integer>-137</integer>
    <key>period</key>
    <integer>-134</integer>
    <key>periodcentered</key>
    <integer>-229</integer>
    <key>seven</key>
    <integer>-149</integer>
    <key>six</key>
    <integer>-132</integer>
    <key>zero</key>
    <integer>-85</integer>
  </dict>
  <key>u</key>
  <dict>
    <key>colon</key>
    <integer>-126</integer>
    <key>comma</key>
    <integer>-91</integer>
    <key>quotedblright</key>
    <integer>-154</integer>
    <key>quoteright</key>
    <integer>-123</integer>
    <key>semicolon</key>
    <integer>-123</integer>
  </dict>
  <key>v</key>
  <dict>
    <key>comma</key>
    <integer>-280</integer>
    <key>e</key>
    <integer>-85</integer>
    <key>o</key>
    <integer>-88</integer>
    <key>period</key>
    <integer>-274</integer>
    <key>quoteright</key>
    <integer>-65</integer>
    <key>semicolon</key>
    <integer>-119</integer>
    <key>slash</key>
    <integer>-113</integer>
  </dict>
  <key>w</key>
  <dict>
    <key>comma</key>
    <integer>-239</integer>
    <key>period</key>
    <integer>-236</integer>
    <key>quoteright</key>
    <integer>-65</integer>
    <key>semicolon</key>
    <integer>-117</integer>
    <key>slash</key>
    <integer>-106</integer>
  </dict>
  <key>x</key>
  <dict>
    <key>quotedblright</key>
    <integer>-97</integer>
    <key>quoteright</key>
    <integer>-65</integer>
  </dict>
  <key>y</key>
  <dict>
    <key>c</key>
    <integer>-69</integer>
    <key>comma</key>
    <integer>-243</integer>
    <key>period</key>
    <integer>-236</integer>
    <key>quoteright</key>
    <integer>-54</integer>
    <key>semicolon</key>
    <integer>-106</integer>
    <key>slash</key>
    <integer>-100</integer>
  </dict>
  <key>z</key>
  <dict>
    <key>colon</key>
    <integer>-129</integer>
    <key>semicolon</key>
    <integer>-126</integer>
  </dict>
  <key>zero</key>
  <dict>
    <key>comma</key>
    <integer>-198</integer>
    <key>five</key>
    <integer>-83</integer>
    <key>period</key>
    <integer>-186</integer>
    <key>seven</key>
    <integer>-157</integer>
    <key>two</key>
    <integer>-137</integer>
  </dict>
</dict>
</plist>
