<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>curr:cent</key>
  <dict>
    <key>digit:eight</key>
    <integer>-140</integer>
    <key>digit:four</key>
    <integer>-217</integer>
    <key>digit:seven</key>
    <integer>-206</integer>
  </dict>
  <key>curr:dollar</key>
  <dict>
    <key>digit:five</key>
    <integer>-182</integer>
    <key>digit:nine</key>
    <integer>-215</integer>
    <key>digit:seven</key>
    <integer>-192</integer>
    <key>digit:three</key>
    <integer>-195</integer>
    <key>digit:two</key>
    <integer>-215</integer>
  </dict>
  <key>curr:sterling</key>
  <dict>
    <key>digit:eight</key>
    <integer>-128</integer>
    <key>digit:five</key>
    <integer>-88</integer>
    <key>digit:four</key>
    <integer>-109</integer>
    <key>digit:nine</key>
    <integer>-122</integer>
    <key>digit:one</key>
    <integer>-164</integer>
    <key>digit:seven</key>
    <integer>-107</integer>
    <key>digit:six</key>
    <integer>-128</integer>
    <key>digit:three</key>
    <integer>-94</integer>
    <key>digit:two</key>
    <integer>-151</integer>
    <key>digit:zero</key>
    <integer>-100</integer>
  </dict>
  <key>digit:eight</key>
  <dict>
    <key>digit:five</key>
    <integer>-122</integer>
    <key>digit:nine</key>
    <integer>-125</integer>
    <key>digit:seven</key>
    <integer>-182</integer>
    <key>digit:three</key>
    <integer>-143</integer>
    <key>digit:two</key>
    <integer>-155</integer>
    <key>sign:comma</key>
    <integer>-192</integer>
    <key>sign:period</key>
    <integer>-179</integer>
  </dict>
  <key>digit:five</key>
  <dict>
    <key>digit:five</key>
    <integer>-141</integer>
    <key>digit:nine</key>
    <integer>-186</integer>
    <key>digit:seven</key>
    <integer>-167</integer>
    <key>digit:three</key>
    <integer>-166</integer>
    <key>digit:two</key>
    <integer>-179</integer>
    <key>sign:comma</key>
    <integer>-220</integer>
    <key>sign:period</key>
    <integer>-204</integer>
  </dict>
  <key>digit:four</key>
  <dict>
    <key>digit:five</key>
    <integer>-123</integer>
    <key>digit:nine</key>
    <integer>-186</integer>
    <key>digit:seven</key>
    <integer>-209</integer>
    <key>digit:three</key>
    <integer>-149</integer>
  </dict>
  <key>digit:nine</key>
  <dict>
    <key>digit:five</key>
    <integer>-106</integer>
    <key>digit:four</key>
    <integer>-100</integer>
    <key>digit:seven</key>
    <integer>-172</integer>
    <key>digit:three</key>
    <integer>-151</integer>
    <key>digit:two</key>
    <integer>-163</integer>
    <key>sign:comma</key>
    <integer>-281</integer>
    <key>sign:period</key>
    <integer>-270</integer>
  </dict>
  <key>digit:one</key>
  <dict>
    <key>sign:comma</key>
    <integer>-286</integer>
    <key>sign:middledot</key>
    <integer>-335</integer>
    <key>sign:period</key>
    <integer>-361</integer>
  </dict>
  <key>digit:seven</key>
  <dict>
    <key>digit:eight</key>
    <integer>-194</integer>
    <key>digit:five</key>
    <integer>-126</integer>
    <key>digit:four</key>
    <integer>-292</integer>
    <key>digit:nine</key>
    <integer>-146</integer>
    <key>digit:six</key>
    <integer>-220</integer>
    <key>digit:three</key>
    <integer>-170</integer>
    <key>digit:two</key>
    <integer>-182</integer>
    <key>digit:zero</key>
    <integer>-160</integer>
    <key>sign:comma</key>
    <integer>-422</integer>
    <key>sign:middledot</key>
    <integer>-315</integer>
    <key>sign:period</key>
    <integer>-418</integer>
    <key>sign:slash</key>
    <integer>-238</integer>
  </dict>
  <key>digit:six</key>
  <dict>
    <key>digit:five</key>
    <integer>-120</integer>
    <key>digit:seven</key>
    <integer>-201</integer>
    <key>digit:three</key>
    <integer>-137</integer>
    <key>digit:two</key>
    <integer>-154</integer>
    <key>sign:comma</key>
    <integer>-189</integer>
    <key>sign:period</key>
    <integer>-170</integer>
  </dict>
  <key>digit:three</key>
  <dict>
    <key>digit:five</key>
    <integer>-137</integer>
    <key>digit:nine</key>
    <integer>-140</integer>
    <key>digit:seven</key>
    <integer>-192</integer>
    <key>digit:three</key>
    <integer>-160</integer>
    <key>digit:two</key>
    <integer>-172</integer>
    <key>sign:comma</key>
    <integer>-211</integer>
    <key>sign:period</key>
    <integer>-194</integer>
  </dict>
  <key>digit:two</key>
  <dict>
    <key>digit:seven</key>
    <integer>-149</integer>
    <key>digit:six</key>
    <integer>-132</integer>
    <key>digit:zero</key>
    <integer>-85</integer>
    <key>sign:comma</key>
    <integer>-137</integer>
    <key>sign:middledot</key>
    <integer>-229</integer>
    <key>sign:period</key>
    <integer>-134</integer>
  </dict>
  <key>digit:zero</key>
  <dict>
    <key>digit:five</key>
    <integer>-83</integer>
    <key>digit:seven</key>
    <integer>-157</integer>
    <key>digit:two</key>
    <integer>-137</integer>
    <key>sign:comma</key>
    <integer>-198</integer>
    <key>sign:period</key>
    <integer>-186</integer>
  </dict>
  <key>latn:A</key>
  <dict>
    <key>latn:C</key>
    <integer>-74</integer>
    <key>latn:G</key>
    <integer>-97</integer>
    <key>latn:O</key>
    <integer>-97</integer>
    <key>latn:T</key>
    <integer>-242</integer>
    <key>latn:U</key>
    <integer>-104</integer>
    <key>latn:V</key>
    <integer>-189</integer>
    <key>latn:W</key>
    <integer>-203</integer>
    <key>latn:Y</key>
    <integer>-281</integer>
    <key>latn:c</key>
    <integer>-97</integer>
    <key>latn:t</key>
    <integer>-149</integer>
    <key>latn:v</key>
    <integer>-203</integer>
    <key>latn:w</key>
    <integer>-160</integer>
    <key>sign:quotedblright</key>
    <integer>-321</integer>
    <key>sign:quoteright</key>
    <integer>-289</integer>
  </dict>
  <key>latn:B</key>
  <dict>
    <key>latn:U</key>
    <integer>-74</integer>
    <key>latn:V</key>
    <integer>-74</integer>
    <key>latn:W</key>
    <integer>-97</integer>
    <key>latn:Y</key>
    <integer>-119</integer>
    <key>sign:comma</key>
    <integer>-179</integer>
    <key>sign:period</key>
    <integer>-166</integer>
  </dict>
  <key>latn:C</key>
  <dict>
    <key>sign:comma</key>
    <integer>-134</integer>
  </dict>
  <key>latn:D</key>
  <dict>
    <key>latn:A</key>
    <integer>-149</integer>
    <key>latn:V</key>
    <integer>-74</integer>
    <key>latn:W</key>
    <integer>-116</integer>
    <key>latn:Y</key>
    <integer>-161</integer>
    <key>latn:i</key>
    <integer>-60</integer>
    <key>sign:comma</key>
    <integer>-287</integer>
    <key>sign:period</key>
    <integer>-278</integer>
  </dict>
  <key>latn:E</key>
  <dict>
    <key>latn:c</key>
    <integer>-109</integer>
    <key>latn:d</key>
    <integer>-100</integer>
    <key>latn:e</key>
    <integer>-95</integer>
    <key>latn:f</key>
    <integer>-138</integer>
    <key>latn:g</key>
    <integer>-123</integer>
    <key>latn:i</key>
    <integer>-109</integer>
    <key>latn:l</key>
    <integer>-131</integer>
    <key>latn:o</key>
    <integer>-98</integer>
    <key>latn:q</key>
    <integer>-104</integer>
    <key>latn:t</key>
    <integer>-151</integer>
    <key>latn:v</key>
    <integer>-120</integer>
    <key>latn:w</key>
    <integer>-113</integer>
    <key>latn:y</key>
    <integer>-95</integer>
    <key>sign:comma</key>
    <integer>-122</integer>
    <key>sign:period</key>
    <integer>-119</integer>
  </dict>
  <key>latn:F</key>
  <dict>
    <key>digit:one</key>
    <integer>-161</integer>
    <key>latn:A</key>
    <integer>-274</integer>
    <key>latn:a</key>
    <integer>-158</integer>
    <key>latn:e</key>
    <integer>-132</integer>
    <key>latn:i</key>
    <integer>-109</integer>
    <key>latn:o</key>
    <integer>-137</integer>
    <key>latn:r</key>
    <integer>-157</integer>
    <key>latn:u</key>
    <integer>-157</integer>
    <key>latn:y</key>
    <integer>-117</integer>
    <key>sign:comma</key>
    <integer>-323</integer>
    <key>sign:period</key>
    <integer>-470</integer>
    <key>sign:slash</key>
    <integer>-185</integer>
  </dict>
  <key>latn:G</key>
  <dict>
    <key>latn:a</key>
    <integer>-128</integer>
    <key>latn:e</key>
    <integer>-89</integer>
    <key>latn:h</key>
    <integer>-149</integer>
    <key>latn:i</key>
    <integer>-109</integer>
    <key>latn:n</key>
    <integer>-149</integer>
    <key>latn:o</key>
    <integer>-89</integer>
    <key>latn:r</key>
    <integer>-149</integer>
    <key>latn:u</key>
    <integer>-149</integer>
    <key>latn:y</key>
    <integer>-122</integer>
    <key>sign:comma</key>
    <integer>-217</integer>
    <key>sign:period</key>
    <integer>-204</integer>
    <key>sign:slash</key>
    <integer>-65</integer>
  </dict>
  <key>latn:H</key>
  <dict>
    <key>latn:i</key>
    <integer>-74</integer>
    <key>latn:u</key>
    <integer>-151</integer>
    <key>sign:comma</key>
    <integer>-173</integer>
    <key>sign:period</key>
    <integer>-173</integer>
  </dict>
  <key>latn:J</key>
  <dict>
    <key>latn:A</key>
    <integer>-86</integer>
    <key>latn:a</key>
    <integer>-146</integer>
    <key>latn:i</key>
    <integer>-109</integer>
    <key>latn:u</key>
    <integer>-151</integer>
    <key>sign:comma</key>
    <integer>-249</integer>
  </dict>
  <key>latn:K</key>
  <dict>
    <key>latn:u</key>
    <integer>-104</integer>
  </dict>
  <key>latn:L</key>
  <dict>
    <key>latn:C</key>
    <integer>-164</integer>
    <key>latn:G</key>
    <integer>-197</integer>
    <key>latn:O</key>
    <integer>-183</integer>
    <key>latn:T</key>
    <integer>-239</integer>
    <key>latn:U</key>
    <integer>-172</integer>
    <key>latn:V</key>
    <integer>-254</integer>
    <key>latn:W</key>
    <integer>-197</integer>
    <key>latn:Y</key>
    <integer>-267</integer>
    <key>latn:w</key>
    <integer>-152</integer>
    <key>latn:y</key>
    <integer>-77</integer>
    <key>sign:quotedblright</key>
    <integer>-418</integer>
    <key>sign:quoteright</key>
    <integer>-384</integer>
  </dict>
  <key>latn:M</key>
  <dict>
    <key>latn:i</key>
    <integer>-74</integer>
    <key>latn:u</key>
    <integer>-104</integer>
    <key>latn:y</key>
    <integer>-91</integer>
    <key>sign:comma</key>
    <integer>-110</integer>
    <key>sign:period</key>
    <integer>-110</integer>
  </dict>
  <key>latn:N</key>
  <dict>
    <key>latn:i</key>
    <integer>-74</integer>
    <key>latn:u</key>
    <integer>-143</integer>
    <key>sign:comma</key>
    <integer>-166</integer>
    <key>sign:period</key>
    <integer>-166</integer>
  </dict>
  <key>latn:O</key>
  <dict>
    <key>latn:A</key>
    <integer>-149</integer>
    <key>latn:T</key>
    <integer>-151</integer>
    <key>latn:V</key>
    <integer>-97</integer>
    <key>latn:W</key>
    <integer>-113</integer>
    <key>latn:Y</key>
    <integer>-158</integer>
    <key>latn:i</key>
    <integer>-109</integer>
    <key>latn:l</key>
    <integer>-109</integer>
    <key>sign:comma</key>
    <integer>-263</integer>
    <key>sign:period</key>
    <integer>-254</integer>
  </dict>
  <key>latn:P</key>
  <dict>
    <key>digit:one</key>
    <integer>-161</integer>
    <key>latn:A</key>
    <integer>-207</integer>
    <key>latn:e</key>
    <integer>-80</integer>
    <key>latn:i</key>
    <integer>-74</integer>
    <key>latn:o</key>
    <integer>-83</integer>
    <key>sign:comma</key>
    <integer>-323</integer>
    <key>sign:period</key>
    <integer>-343</integer>
    <key>sign:slash</key>
    <integer>-113</integer>
  </dict>
  <key>latn:R</key>
  <dict>
    <key>latn:U</key>
    <integer>-97</integer>
    <key>latn:W</key>
    <integer>-88</integer>
    <key>latn:Y</key>
    <integer>-114</integer>
  </dict>
  <key>latn:S</key>
  <dict>
    <key>latn:Y</key>
    <integer>-97</integer>
    <key>latn:i</key>
    <integer>-74</integer>
    <key>latn:j</key>
    <integer>-92</integer>
    <key>latn:l</key>
    <integer>-109</integer>
    <key>latn:t</key>
    <integer>-132</integer>
    <key>latn:v</key>
    <integer>-116</integer>
    <key>latn:w</key>
    <integer>-114</integer>
    <key>latn:y</key>
    <integer>-75</integer>
    <key>sign:comma</key>
    <integer>-188</integer>
    <key>sign:period</key>
    <integer>-172</integer>
  </dict>
  <key>latn:T</key>
  <dict>
    <key>latn:A</key>
    <integer>-243</integer>
    <key>latn:C</key>
    <integer>-149</integer>
    <key>latn:G</key>
    <integer>-149</integer>
    <key>latn:J</key>
    <integer>-113</integer>
    <key>latn:O</key>
    <integer>-149</integer>
    <key>latn:a</key>
    <integer>-214</integer>
    <key>latn:e</key>
    <integer>-189</integer>
    <key>latn:m</key>
    <integer>-198</integer>
    <key>latn:o</key>
    <integer>-191</integer>
    <key>latn:r</key>
    <integer>-206</integer>
    <key>latn:s</key>
    <integer>-211</integer>
    <key>latn:u</key>
    <integer>-203</integer>
    <key>latn:w</key>
    <integer>-131</integer>
    <key>latn:y</key>
    <integer>-128</integer>
    <key>latn:z</key>
    <integer>-204</integer>
    <key>sign:colon</key>
    <integer>-266</integer>
    <key>sign:comma</key>
    <integer>-323</integer>
    <key>sign:hyphenminus</key>
    <integer>-198</integer>
    <key>sign:period</key>
    <integer>-321</integer>
    <key>sign:semicolon</key>
    <integer>-258</integer>
    <key>sign:slash</key>
    <integer>-161</integer>
  </dict>
  <key>latn:U</key>
  <dict>
    <key>latn:A</key>
    <integer>-149</integer>
    <key>latn:a</key>
    <integer>-146</integer>
    <key>latn:c</key>
    <integer>-98</integer>
    <key>latn:i</key>
    <integer>-74</integer>
    <key>latn:m</key>
    <integer>-143</integer>
    <key>latn:n</key>
    <integer>-151</integer>
    <key>latn:p</key>
    <integer>-143</integer>
    <key>latn:r</key>
    <integer>-151</integer>
    <key>latn:s</key>
    <integer>-137</integer>
    <key>latn:z</key>
    <integer>-140</integer>
    <key>sign:comma</key>
    <integer>-266</integer>
    <key>sign:period</key>
    <integer>-255</integer>
    <key>sign:slash</key>
    <integer>-109</integer>
  </dict>
  <key>latn:V</key>
  <dict>
    <key>latn:A</key>
    <integer>-188</integer>
    <key>latn:C</key>
    <integer>-97</integer>
    <key>latn:G</key>
    <integer>-97</integer>
    <key>latn:J</key>
    <integer>-65</integer>
    <key>latn:O</key>
    <integer>-97</integer>
    <key>latn:a</key>
    <integer>-169</integer>
    <key>latn:e</key>
    <integer>-164</integer>
    <key>latn:o</key>
    <integer>-167</integer>
    <key>latn:r</key>
    <integer>-152</integer>
    <key>latn:u</key>
    <integer>-145</integer>
    <key>sign:colon</key>
    <integer>-206</integer>
    <key>sign:comma</key>
    <integer>-338</integer>
    <key>sign:hyphenminus</key>
    <integer>-182</integer>
    <key>sign:period</key>
    <integer>-332</integer>
    <key>sign:semicolon</key>
    <integer>-198</integer>
    <key>sign:slash</key>
    <integer>-172</integer>
  </dict>
  <key>latn:W</key>
  <dict>
    <key>latn:A</key>
    <integer>-188</integer>
    <key>latn:C</key>
    <integer>-97</integer>
    <key>latn:G</key>
    <integer>-97</integer>
    <key>latn:O</key>
    <integer>-97</integer>
    <key>latn:a</key>
    <integer>-143</integer>
    <key>latn:d</key>
    <integer>-140</integer>
    <key>latn:e</key>
    <integer>-131</integer>
    <key>latn:i</key>
    <integer>-109</integer>
    <key>latn:m</key>
    <integer>-125</integer>
    <key>latn:o</key>
    <integer>-134</integer>
    <key>latn:r</key>
    <integer>-131</integer>
    <key>latn:t</key>
    <integer>-80</integer>
    <key>latn:u</key>
    <integer>-128</integer>
    <key>latn:y</key>
    <integer>-53</integer>
    <key>sign:colon</key>
    <integer>-189</integer>
    <key>sign:comma</key>
    <integer>-281</integer>
    <key>sign:hyphenminus</key>
    <integer>-143</integer>
    <key>sign:period</key>
    <integer>-278</integer>
    <key>sign:semicolon</key>
    <integer>-182</integer>
    <key>sign:slash</key>
    <integer>-148</integer>
  </dict>
  <key>latn:X</key>
  <dict>
    <key>latn:u</key>
    <integer>-113</integer>
    <key>sign:quotedblright</key>
    <integer>-128</integer>
    <key>sign:quoteright</key>
    <integer>-97</integer>
  </dict>
  <key>latn:Y</key>
  <dict>
    <key>latn:A</key>
    <integer>-261</integer>
    <key>latn:C</key>
    <integer>-97</integer>
    <key>latn:G</key>
    <integer>-149</integer>
    <key>latn:O</key>
    <integer>-146</integer>
    <key>latn:S</key>
    <integer>-128</integer>
    <key>latn:a</key>
    <integer>-182</integer>
    <key>latn:c</key>
    <integer>-182</integer>
    <key>latn:d</key>
    <integer>-180</integer>
    <key>latn:e</key>
    <integer>-169</integer>
    <key>latn:o</key>
    <integer>-173</integer>
    <key>latn:q</key>
    <integer>-177</integer>
    <key>latn:t</key>
    <integer>-116</integer>
    <key>latn:u</key>
    <integer>-163</integer>
    <key>latn:v</key>
    <integer>-92</integer>
    <key>sign:colon</key>
    <integer>-224</integer>
    <key>sign:comma</key>
    <integer>-338</integer>
    <key>sign:period</key>
    <integer>-333</integer>
    <key>sign:semicolon</key>
    <integer>-217</integer>
    <key>sign:slash</key>
    <integer>-172</integer>
  </dict>
  <key>latn:Z</key>
  <dict>
    <key>latn:C</key>
    <integer>-116</integer>
    <key>latn:G</key>
    <integer>-129</integer>
    <key>latn:O</key>
    <integer>-128</integer>
    <key>latn:e</key>
    <integer>-62</integer>
    <key>latn:i</key>
    <integer>-95</integer>
    <key>latn:o</key>
    <integer>-65</integer>
    <key>sign:comma</key>
    <integer>-85</integer>
    <key>sign:period</key>
    <integer>-83</integer>
  </dict>
  <key>latn:a</key>
  <dict>
    <key>latn:t</key>
    <integer>-135</integer>
    <key>latn:v</key>
    <integer>-113</integer>
    <key>sign:quotedblright</key>
    <integer>-245</integer>
    <key>sign:quoteright</key>
    <integer>-212</integer>
    <key>sign:semicolon</key>
    <integer>-123</integer>
  </dict>
  <key>latn:b</key>
  <dict>
    <key>latn:v</key>
    <integer>-86</integer>
    <key>sign:colon</key>
    <integer>-135</integer>
    <key>sign:comma</key>
    <integer>-175</integer>
    <key>sign:period</key>
    <integer>-161</integer>
    <key>sign:quotedblright</key>
    <integer>-287</integer>
    <key>sign:quoteright</key>
    <integer>-255</integer>
    <key>sign:semicolon</key>
    <integer>-125</integer>
  </dict>
  <key>latn:c</key>
  <dict>
    <key>latn:l</key>
    <integer>-117</integer>
    <key>sign:colon</key>
    <integer>-134</integer>
    <key>sign:comma</key>
    <integer>-120</integer>
    <key>sign:period</key>
    <integer>-100</integer>
    <key>sign:quotedblright</key>
    <integer>-175</integer>
    <key>sign:quoteright</key>
    <integer>-143</integer>
    <key>sign:semicolon</key>
    <integer>-126</integer>
  </dict>
  <key>latn:d</key>
  <dict>
    <key>sign:colon</key>
    <integer>-119</integer>
    <key>sign:quoteright</key>
    <integer>-91</integer>
    <key>sign:semicolon</key>
    <integer>-116</integer>
  </dict>
  <key>latn:e</key>
  <dict>
    <key>latn:v</key>
    <integer>-74</integer>
    <key>sign:colon</key>
    <integer>-128</integer>
    <key>sign:comma</key>
    <integer>-123</integer>
    <key>sign:period</key>
    <integer>-104</integer>
    <key>sign:quotedblright</key>
    <integer>-209</integer>
    <key>sign:quoteright</key>
    <integer>-179</integer>
    <key>sign:semicolon</key>
    <integer>-117</integer>
  </dict>
  <key>latn:f</key>
  <dict>
    <key>digit:one</key>
    <integer>-157</integer>
    <key>latn:e</key>
    <integer>-109</integer>
    <key>latn:o</key>
    <integer>-109</integer>
    <key>sign:comma</key>
    <integer>-226</integer>
    <key>sign:period</key>
    <integer>-224</integer>
  </dict>
  <key>latn:g</key>
  <dict>
    <key>latn:i</key>
    <integer>-74</integer>
    <key>latn:r</key>
    <integer>-122</integer>
    <key>sign:period</key>
    <integer>-143</integer>
    <key>sign:quotedblright</key>
    <integer>-160</integer>
    <key>sign:quoteright</key>
    <integer>-128</integer>
    <key>sign:semicolon</key>
    <integer>-169</integer>
  </dict>
  <key>latn:h</key>
  <dict>
    <key>sign:colon</key>
    <integer>-126</integer>
    <key>sign:comma</key>
    <integer>-91</integer>
    <key>sign:quotedblright</key>
    <integer>-257</integer>
    <key>sign:quoteright</key>
    <integer>-224</integer>
    <key>sign:semicolon</key>
    <integer>-123</integer>
  </dict>
  <key>latn:i</key>
  <dict>
    <key>sign:colon</key>
    <integer>-172</integer>
    <key>sign:comma</key>
    <integer>-172</integer>
    <key>sign:period</key>
    <integer>-172</integer>
    <key>sign:quotedblright</key>
    <integer>-204</integer>
    <key>sign:quoteright</key>
    <integer>-172</integer>
    <key>sign:semicolon</key>
    <integer>-172</integer>
  </dict>
  <key>latn:j</key>
  <dict>
    <key>latn:o</key>
    <integer>-109</integer>
    <key>sign:colon</key>
    <integer>-172</integer>
    <key>sign:comma</key>
    <integer>-172</integer>
    <key>sign:period</key>
    <integer>-172</integer>
    <key>sign:semicolon</key>
    <integer>-172</integer>
  </dict>
  <key>latn:k</key>
  <dict>
    <key>latn:e</key>
    <integer>-97</integer>
    <key>latn:o</key>
    <integer>-98</integer>
    <key>sign:quotedblright</key>
    <integer>-137</integer>
    <key>sign:quoteright</key>
    <integer>-106</integer>
  </dict>
  <key>latn:l</key>
  <dict>
    <key>sign:colon</key>
    <integer>-106</integer>
    <key>sign:comma</key>
    <integer>-71</integer>
    <key>sign:period</key>
    <integer>-71</integer>
    <key>sign:quotedblleft</key>
    <integer>-158</integer>
    <key>sign:quotedblright</key>
    <integer>-154</integer>
    <key>sign:quoteleft</key>
    <integer>-126</integer>
    <key>sign:quoteright</key>
    <integer>-122</integer>
    <key>sign:semicolon</key>
    <integer>-103</integer>
  </dict>
  <key>latn:m</key>
  <dict>
    <key>sign:colon</key>
    <integer>-120</integer>
    <key>sign:comma</key>
    <integer>-85</integer>
    <key>sign:quotedblright</key>
    <integer>-204</integer>
    <key>sign:quoteright</key>
    <integer>-173</integer>
    <key>sign:semicolon</key>
    <integer>-117</integer>
  </dict>
  <key>latn:n</key>
  <dict>
    <key>latn:v</key>
    <integer>-94</integer>
    <key>sign:colon</key>
    <integer>-126</integer>
    <key>sign:comma</key>
    <integer>-91</integer>
    <key>sign:quotedblright</key>
    <integer>-214</integer>
    <key>sign:quoteright</key>
    <integer>-183</integer>
    <key>sign:semicolon</key>
    <integer>-123</integer>
  </dict>
  <key>latn:o</key>
  <dict>
    <key>latn:v</key>
    <integer>-88</integer>
    <key>sign:colon</key>
    <integer>-135</integer>
    <key>sign:comma</key>
    <integer>-179</integer>
    <key>sign:period</key>
    <integer>-163</integer>
    <key>sign:quotedblright</key>
    <integer>-243</integer>
    <key>sign:quoteright</key>
    <integer>-211</integer>
    <key>sign:semicolon</key>
    <integer>-125</integer>
  </dict>
  <key>latn:p</key>
  <dict>
    <key>sign:colon</key>
    <integer>-143</integer>
    <key>sign:comma</key>
    <integer>-180</integer>
    <key>sign:period</key>
    <integer>-164</integer>
    <key>sign:quotedblright</key>
    <integer>-220</integer>
    <key>sign:quoteright</key>
    <integer>-189</integer>
    <key>sign:semicolon</key>
    <integer>-131</integer>
  </dict>
  <key>latn:q</key>
  <dict>
    <key>sign:colon</key>
    <integer>-170</integer>
    <key>sign:period</key>
    <integer>-135</integer>
    <key>sign:quotedblright</key>
    <integer>-230</integer>
    <key>sign:quoteright</key>
    <integer>-197</integer>
    <key>sign:semicolon</key>
    <integer>-128</integer>
  </dict>
  <key>latn:r</key>
  <dict>
    <key>sign:comma</key>
    <integer>-275</integer>
    <key>sign:period</key>
    <integer>-269</integer>
    <key>sign:semicolon</key>
    <integer>-92</integer>
  </dict>
  <key>latn:s</key>
  <dict>
    <key>sign:colon</key>
    <integer>-151</integer>
    <key>sign:comma</key>
    <integer>-141</integer>
    <key>sign:period</key>
    <integer>-128</integer>
    <key>sign:quotedblright</key>
    <integer>-191</integer>
    <key>sign:quoteright</key>
    <integer>-158</integer>
    <key>sign:semicolon</key>
    <integer>-137</integer>
  </dict>
  <key>latn:t</key>
  <dict>
    <key>latn:o</key>
    <integer>-114</integer>
    <key>sign:quoteright</key>
    <integer>-88</integer>
    <key>sign:semicolon</key>
    <integer>-138</integer>
  </dict>
  <key>latn:u</key>
  <dict>
    <key>sign:colon</key>
    <integer>-126</integer>
    <key>sign:comma</key>
    <integer>-91</integer>
    <key>sign:quotedblright</key>
    <integer>-154</integer>
    <key>sign:quoteright</key>
    <integer>-123</integer>
    <key>sign:semicolon</key>
    <integer>-123</integer>
  </dict>
  <key>latn:v</key>
  <dict>
    <key>latn:e</key>
    <integer>-85</integer>
    <key>latn:o</key>
    <integer>-88</integer>
    <key>sign:comma</key>
    <integer>-280</integer>
    <key>sign:period</key>
    <integer>-274</integer>
    <key>sign:quoteright</key>
    <integer>-65</integer>
    <key>sign:semicolon</key>
    <integer>-119</integer>
    <key>sign:slash</key>
    <integer>-113</integer>
  </dict>
  <key>latn:w</key>
  <dict>
    <key>sign:comma</key>
    <integer>-239</integer>
    <key>sign:period</key>
    <integer>-236</integer>
    <key>sign:quoteright</key>
    <integer>-65</integer>
    <key>sign:semicolon</key>
    <integer>-117</integer>
    <key>sign:slash</key>
    <integer>-106</integer>
  </dict>
  <key>latn:x</key>
  <dict>
    <key>sign:quotedblright</key>
    <integer>-97</integer>
    <key>sign:quoteright</key>
    <integer>-65</integer>
  </dict>
  <key>latn:y</key>
  <dict>
    <key>latn:c</key>
    <integer>-69</integer>
    <key>sign:comma</key>
    <integer>-243</integer>
    <key>sign:period</key>
    <integer>-236</integer>
    <key>sign:quoteright</key>
    <integer>-54</integer>
    <key>sign:semicolon</key>
    <integer>-106</integer>
    <key>sign:slash</key>
    <integer>-100</integer>
  </dict>
  <key>latn:z</key>
  <dict>
    <key>sign:colon</key>
    <integer>-129</integer>
    <key>sign:semicolon</key>
    <integer>-126</integer>
  </dict>
  <key>sign:guillemetright</key>
  <dict>
    <key>sign:comma</key>
    <integer>-278</integer>
    <key>sign:period</key>
    <integer>-275</integer>
  </dict>
  <key>sign:middledot</key>
  <dict>
    <key>digit:five</key>
    <integer>-152</integer>
    <key>digit:nine</key>
    <integer>-232</integer>
    <key>digit:one</key>
    <integer>-330</integer>
    <key>digit:seven</key>
    <integer>-243</integer>
    <key>digit:three</key>
    <integer>-179</integer>
    <key>digit:two</key>
    <integer>-192</integer>
  </dict>
  <key>sign:quotedblleft</key>
  <dict>
    <key>latn:A</key>
    <integer>-330</integer>
    <key>latn:a</key>
    <integer>-261</integer>
    <key>latn:c</key>
    <integer>-283</integer>
    <key>latn:d</key>
    <integer>-324</integer>
    <key>latn:e</key>
    <integer>-266</integer>
    <key>latn:f</key>
    <integer>-155</integer>
    <key>latn:g</key>
    <integer>-301</integer>
    <key>latn:m</key>
    <integer>-235</integer>
    <key>latn:n</key>
    <integer>-245</integer>
    <key>latn:o</key>
    <integer>-270</integer>
    <key>latn:p</key>
    <integer>-220</integer>
    <key>latn:q</key>
    <integer>-252</integer>
    <key>latn:r</key>
    <integer>-239</integer>
    <key>latn:s</key>
    <integer>-233</integer>
    <key>latn:t</key>
    <integer>-155</integer>
    <key>latn:u</key>
    <integer>-200</integer>
    <key>latn:v</key>
    <integer>-129</integer>
    <key>latn:w</key>
    <integer>-128</integer>
    <key>latn:x</key>
    <integer>-129</integer>
    <key>latn:y</key>
    <integer>-126</integer>
    <key>sign:quoteleft</key>
    <integer>-149</integer>
  </dict>
  <key>sign:quotedblright</key>
  <dict>
    <key>sign:quoteright</key>
    <integer>-151</integer>
  </dict>
  <key>sign:quoteleft</key>
  <dict>
    <key>latn:A</key>
    <integer>-299</integer>
    <key>latn:a</key>
    <integer>-229</integer>
    <key>latn:c</key>
    <integer>-252</integer>
    <key>latn:d</key>
    <integer>-292</integer>
    <key>latn:e</key>
    <integer>-233</integer>
    <key>latn:g</key>
    <integer>-267</integer>
    <key>latn:m</key>
    <integer>-201</integer>
    <key>latn:n</key>
    <integer>-211</integer>
    <key>latn:o</key>
    <integer>-238</integer>
    <key>latn:p</key>
    <integer>-188</integer>
    <key>latn:q</key>
    <integer>-218</integer>
    <key>latn:s</key>
    <integer>-200</integer>
    <key>latn:u</key>
    <integer>-167</integer>
    <key>latn:z</key>
    <integer>-172</integer>
    <key>sign:quoteleft</key>
    <integer>-119</integer>
  </dict>
  <key>sign:quoteright</key>
  <dict>
    <key>latn:d</key>
    <integer>-314</integer>
    <key>latn:m</key>
    <integer>-223</integer>
    <key>latn:r</key>
    <integer>-227</integer>
    <key>latn:s</key>
    <integer>-221</integer>
    <key>latn:t</key>
    <integer>-143</integer>
    <key>latn:v</key>
    <integer>-119</integer>
    <key>sign:quoteright</key>
    <integer>-119</integer>
  </dict>
  <key>sign:slash</key>
  <dict>
    <key>digit:four</key>
    <integer>-146</integer>
    <key>latn:A</key>
    <integer>-189</integer>
    <key>latn:J</key>
    <integer>-114</integer>
    <key>latn:M</key>
    <integer>-92</integer>
    <key>latn:c</key>
    <integer>-116</integer>
    <key>latn:d</key>
    <integer>-116</integer>
    <key>latn:e</key>
    <integer>-104</integer>
    <key>latn:g</key>
    <integer>-123</integer>
    <key>latn:o</key>
    <integer>-107</integer>
    <key>latn:q</key>
    <integer>-113</integer>
    <key>latn:s</key>
    <integer>-116</integer>
  </dict>
</dict>
</plist>
