<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>G</key>
      <integer>-22</integer>
      <key>O</key>
      <integer>-22</integer>
      <key>T</key>
      <integer>-167</integer>
      <key>U</key>
      <integer>-104</integer>
      <key>V</key>
      <integer>-114</integer>
      <key>W</key>
      <integer>-128</integer>
      <key>Y</key>
      <integer>-206</integer>
      <key>c</key>
      <integer>-22</integer>
      <key>quotedblright</key>
      <integer>-246</integer>
      <key>quoteright</key>
      <integer>-214</integer>
      <key>t</key>
      <integer>-74</integer>
      <key>v</key>
      <integer>-128</integer>
      <key>w</key>
      <integer>-85</integer>
    </dict>
    <key>B</key>
    <dict>
      <key>W</key>
      <integer>-22</integer>
      <key>Y</key>
      <integer>-44</integer>
      <key>comma</key>
      <integer>-104</integer>
      <key>period</key>
      <integer>-91</integer>
    </dict>
    <key>C</key>
    <dict>
      <key>comma</key>
      <integer>-59</integer>
    </dict>
    <key>D</key>
    <dict>
      <key>A</key>
      <integer>-74</integer>
      <key>V</key>
      <integer>-74</integer>
      <key>W</key>
      <integer>-41</integer>
      <key>Y</key>
      <integer>-86</integer>
      <key>comma</key>
      <integer>-212</integer>
      <key>period</key>
      <integer>-203</integer>
    </dict>
    <key>E</key>
    <dict>
      <key>c</key>
      <integer>-34</integer>
      <key>comma</key>
      <integer>-47</integer>
      <key>d</key>
      <integer>-25</integer>
      <key>e</key>
      <integer>-20</integer>
      <key>f</key>
      <integer>-63</integer>
      <key>g</key>
      <integer>-48</integer>
      <key>i</key>
      <integer>-34</integer>
      <key>l</key>
      <integer>-56</integer>
      <key>o</key>
      <integer>-23</integer>
      <key>period</key>
      <integer>-44</integer>
      <key>q</key>
      <integer>-29</integer>
      <key>t</key>
      <integer>-76</integer>
      <key>v</key>
      <integer>-45</integer>
      <key>w</key>
      <integer>-38</integer>
      <key>y</key>
      <integer>-20</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <integer>-199</integer>
      <key>a</key>
      <integer>-8</integer>
      <key>comma</key>
      <integer>-248</integer>
      <key>e</key>
      <integer>-57</integer>
      <key>i</key>
      <integer>-34</integer>
      <key>o</key>
      <integer>-62</integer>
      <key>one</key>
      <integer>-86</integer>
      <key>period</key>
      <integer>-320</integer>
      <key>r</key>
      <integer>-82</integer>
      <key>slash</key>
      <integer>-110</integer>
      <key>u</key>
      <integer>-82</integer>
      <key>y</key>
      <integer>-42</integer>
    </dict>
    <key>G</key>
    <dict>
      <key>a</key>
      <integer>-53</integer>
      <key>comma</key>
      <integer>-142</integer>
      <key>e</key>
      <integer>-14</integer>
      <key>h</key>
      <integer>-74</integer>
      <key>i</key>
      <integer>-34</integer>
      <key>n</key>
      <integer>-74</integer>
      <key>o</key>
      <integer>-14</integer>
      <key>period</key>
      <integer>-129</integer>
      <key>r</key>
      <integer>-74</integer>
      <key>u</key>
      <integer>-74</integer>
      <key>y</key>
      <integer>-47</integer>
    </dict>
    <key>H</key>
    <dict>
      <key>comma</key>
      <integer>-98</integer>
      <key>period</key>
      <integer>-98</integer>
      <key>u</key>
      <integer>-76</integer>
    </dict>
    <key>J</key>
    <dict>
      <key>A</key>
      <integer>-11</integer>
      <key>a</key>
      <integer>-71</integer>
      <key>comma</key>
      <integer>-174</integer>
      <key>i</key>
      <integer>-34</integer>
      <key>u</key>
      <integer>-76</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>u</key>
      <integer>-29</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>C</key>
      <integer>-89</integer>
      <key>G</key>
      <integer>-122</integer>
      <key>O</key>
      <integer>-108</integer>
      <key>T</key>
      <integer>-239</integer>
      <key>U</key>
      <integer>-97</integer>
      <key>V</key>
      <integer>-179</integer>
      <key>W</key>
      <integer>-122</integer>
      <key>Y</key>
      <integer>-192</integer>
      <key>quotedblright</key>
      <integer>-343</integer>
      <key>quoteright</key>
      <integer>-309</integer>
      <key>w</key>
      <integer>-77</integer>
    </dict>
    <key>M</key>
    <dict>
      <key>comma</key>
      <integer>-35</integer>
      <key>period</key>
      <integer>-35</integer>
      <key>u</key>
      <integer>-29</integer>
      <key>y</key>
      <integer>-16</integer>
    </dict>
    <key>N</key>
    <dict>
      <key>comma</key>
      <integer>-91</integer>
      <key>period</key>
      <integer>-91</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>A</key>
      <integer>-74</integer>
      <key>T</key>
      <integer>-76</integer>
      <key>V</key>
      <integer>-22</integer>
      <key>W</key>
      <integer>-38</integer>
      <key>Y</key>
      <integer>-83</integer>
      <key>comma</key>
      <integer>-188</integer>
      <key>i</key>
      <integer>-34</integer>
      <key>l</key>
      <integer>-34</integer>
      <key>period</key>
      <integer>-179</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <integer>-132</integer>
      <key>comma</key>
      <integer>-248</integer>
      <key>one</key>
      <integer>-86</integer>
      <key>period</key>
      <integer>-268</integer>
      <key>slash</key>
      <integer>-38</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>U</key>
      <integer>-22</integer>
      <key>W</key>
      <integer>-13</integer>
      <key>Y</key>
      <integer>-39</integer>
    </dict>
    <key>S</key>
    <dict>
      <key>Y</key>
      <integer>-22</integer>
      <key>comma</key>
      <integer>-113</integer>
      <key>j</key>
      <integer>-17</integer>
      <key>l</key>
      <integer>-34</integer>
      <key>period</key>
      <integer>-97</integer>
      <key>t</key>
      <integer>-57</integer>
      <key>v</key>
      <integer>-41</integer>
      <key>w</key>
      <integer>-39</integer>
      <key>y</key>
      <integer>-75</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-168</integer>
      <key>C</key>
      <integer>-74</integer>
      <key>G</key>
      <integer>-74</integer>
      <key>J</key>
      <integer>-38</integer>
      <key>O</key>
      <integer>-74</integer>
      <key>a</key>
      <integer>-139</integer>
      <key>colon</key>
      <integer>-191</integer>
      <key>comma</key>
      <integer>-248</integer>
      <key>e</key>
      <integer>-114</integer>
      <key>hyphen</key>
      <integer>-123</integer>
      <key>m</key>
      <integer>-123</integer>
      <key>o</key>
      <integer>-116</integer>
      <key>period</key>
      <integer>-246</integer>
      <key>r</key>
      <integer>-131</integer>
      <key>s</key>
      <integer>-136</integer>
      <key>semicolon</key>
      <integer>-183</integer>
      <key>slash</key>
      <integer>-86</integer>
      <key>u</key>
      <integer>-128</integer>
      <key>w</key>
      <integer>-56</integer>
      <key>y</key>
      <integer>-53</integer>
      <key>z</key>
      <integer>-129</integer>
    </dict>
    <key>U</key>
    <dict>
      <key>A</key>
      <integer>-74</integer>
      <key>a</key>
      <integer>-71</integer>
      <key>c</key>
      <integer>-23</integer>
      <key>comma</key>
      <integer>-191</integer>
      <key>m</key>
      <integer>-68</integer>
      <key>n</key>
      <integer>-76</integer>
      <key>p</key>
      <integer>-68</integer>
      <key>period</key>
      <integer>-180</integer>
      <key>r</key>
      <integer>-76</integer>
      <key>s</key>
      <integer>-62</integer>
      <key>slash</key>
      <integer>-34</integer>
      <key>z</key>
      <integer>-65</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-113</integer>
      <key>C</key>
      <integer>-22</integer>
      <key>G</key>
      <integer>-22</integer>
      <key>O</key>
      <integer>-22</integer>
      <key>a</key>
      <integer>-94</integer>
      <key>colon</key>
      <integer>-131</integer>
      <key>comma</key>
      <integer>-263</integer>
      <key>e</key>
      <integer>-89</integer>
      <key>hyphen</key>
      <integer>-107</integer>
      <key>o</key>
      <integer>-92</integer>
      <key>period</key>
      <integer>-257</integer>
      <key>r</key>
      <integer>-77</integer>
      <key>semicolon</key>
      <integer>-123</integer>
      <key>slash</key>
      <integer>-97</integer>
      <key>u</key>
      <integer>-70</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>A</key>
      <integer>-113</integer>
      <key>C</key>
      <integer>-22</integer>
      <key>G</key>
      <integer>-22</integer>
      <key>O</key>
      <integer>-22</integer>
      <key>a</key>
      <integer>-68</integer>
      <key>colon</key>
      <integer>-114</integer>
      <key>comma</key>
      <integer>-206</integer>
      <key>d</key>
      <integer>-65</integer>
      <key>e</key>
      <integer>-56</integer>
      <key>hyphen</key>
      <integer>-68</integer>
      <key>i</key>
      <integer>-34</integer>
      <key>m</key>
      <integer>-50</integer>
      <key>o</key>
      <integer>-59</integer>
      <key>period</key>
      <integer>-203</integer>
      <key>r</key>
      <integer>-56</integer>
      <key>semicolon</key>
      <integer>-107</integer>
      <key>slash</key>
      <integer>-73</integer>
      <key>u</key>
      <integer>-53</integer>
      <key>y</key>
      <integer>-53</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>quotedblright</key>
      <integer>-53</integer>
      <key>quoteright</key>
      <integer>-22</integer>
      <key>u</key>
      <integer>-38</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-111</integer>
      <key>C</key>
      <integer>-22</integer>
      <key>G</key>
      <integer>-74</integer>
      <key>O</key>
      <integer>-71</integer>
      <key>S</key>
      <integer>-53</integer>
      <key>a</key>
      <integer>-107</integer>
      <key>c</key>
      <integer>-107</integer>
      <key>colon</key>
      <integer>-149</integer>
      <key>comma</key>
      <integer>-263</integer>
      <key>d</key>
      <integer>-105</integer>
      <key>e</key>
      <integer>-94</integer>
      <key>o</key>
      <integer>-173</integer>
      <key>period</key>
      <integer>-258</integer>
      <key>q</key>
      <integer>-177</integer>
      <key>semicolon</key>
      <integer>-142</integer>
      <key>slash</key>
      <integer>-97</integer>
      <key>t</key>
      <integer>-41</integer>
      <key>u</key>
      <integer>-163</integer>
      <key>v</key>
      <integer>-92</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>C</key>
      <integer>-41</integer>
      <key>G</key>
      <integer>-54</integer>
      <key>O</key>
      <integer>-53</integer>
      <key>comma</key>
      <integer>-10</integer>
      <key>e</key>
      <integer>-62</integer>
      <key>i</key>
      <integer>-20</integer>
      <key>o</key>
      <integer>-65</integer>
      <key>period</key>
      <integer>-8</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>quotedblright</key>
      <integer>-170</integer>
      <key>quoteright</key>
      <integer>-137</integer>
      <key>semicolon</key>
      <integer>-48</integer>
      <key>t</key>
      <integer>-60</integer>
      <key>v</key>
      <integer>-38</integer>
    </dict>
    <key>b</key>
    <dict>
      <key>colon</key>
      <integer>-60</integer>
      <key>comma</key>
      <integer>-100</integer>
      <key>period</key>
      <integer>-86</integer>
      <key>quotedblright</key>
      <integer>-212</integer>
      <key>quoteright</key>
      <integer>-180</integer>
      <key>semicolon</key>
      <integer>-50</integer>
      <key>v</key>
      <integer>-11</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>colon</key>
      <integer>-59</integer>
      <key>comma</key>
      <integer>-45</integer>
      <key>l</key>
      <integer>-42</integer>
      <key>period</key>
      <integer>-25</integer>
      <key>quotedblright</key>
      <integer>-100</integer>
      <key>quoteright</key>
      <integer>-68</integer>
      <key>semicolon</key>
      <integer>-51</integer>
    </dict>
    <key>cent</key>
    <dict>
      <key>eight</key>
      <integer>-65</integer>
      <key>four</key>
      <integer>-142</integer>
      <key>seven</key>
      <integer>-131</integer>
    </dict>
    <key>d</key>
    <dict>
      <key>colon</key>
      <integer>-44</integer>
      <key>quoteright</key>
      <integer>-16</integer>
      <key>semicolon</key>
      <integer>-41</integer>
    </dict>
    <key>dollar</key>
    <dict>
      <key>five</key>
      <integer>-107</integer>
      <key>nine</key>
      <integer>-140</integer>
      <key>seven</key>
      <integer>-117</integer>
      <key>three</key>
      <integer>-120</integer>
      <key>two</key>
      <integer>-140</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>colon</key>
      <integer>-53</integer>
      <key>comma</key>
      <integer>-48</integer>
      <key>period</key>
      <integer>-29</integer>
      <key>quotedblright</key>
      <integer>-134</integer>
      <key>quoteright</key>
      <integer>-104</integer>
      <key>semicolon</key>
      <integer>-42</integer>
      <key>v</key>
      <integer>-36</integer>
    </dict>
    <key>eight</key>
    <dict>
      <key>comma</key>
      <integer>-117</integer>
      <key>five</key>
      <integer>-47</integer>
      <key>nine</key>
      <integer>-50</integer>
      <key>period</key>
      <integer>-104</integer>
      <key>seven</key>
      <integer>-107</integer>
      <key>three</key>
      <integer>-68</integer>
      <key>two</key>
      <integer>-80</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>comma</key>
      <integer>-151</integer>
      <key>e</key>
      <integer>-34</integer>
      <key>o</key>
      <integer>-34</integer>
      <key>one</key>
      <integer>-82</integer>
      <key>period</key>
      <integer>-149</integer>
    </dict>
    <key>five</key>
    <dict>
      <key>comma</key>
      <integer>-145</integer>
      <key>five</key>
      <integer>-66</integer>
      <key>nine</key>
      <integer>-111</integer>
      <key>period</key>
      <integer>-129</integer>
      <key>seven</key>
      <integer>-92</integer>
      <key>three</key>
      <integer>-91</integer>
      <key>two</key>
      <integer>-104</integer>
    </dict>
    <key>four</key>
    <dict>
      <key>five</key>
      <integer>-48</integer>
      <key>nine</key>
      <integer>-111</integer>
      <key>seven</key>
      <integer>-134</integer>
      <key>three</key>
      <integer>-74</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>period</key>
      <integer>-68</integer>
      <key>quotedblright</key>
      <integer>-85</integer>
      <key>quoteright</key>
      <integer>-53</integer>
      <key>r</key>
      <integer>-34</integer>
      <key>semicolon</key>
      <integer>-94</integer>
    </dict>
    <key>guillemotright</key>
    <dict>
      <key>comma</key>
      <integer>-203</integer>
      <key>period</key>
      <integer>-200</integer>
    </dict>
    <key>h</key>
    <dict>
      <key>colon</key>
      <integer>-51</integer>
      <key>comma</key>
      <integer>-16</integer>
      <key>quotedblright</key>
      <integer>-182</integer>
      <key>quoteright</key>
      <integer>-149</integer>
      <key>semicolon</key>
      <integer>-48</integer>
    </dict>
    <key>i</key>
    <dict>
      <key>colon</key>
      <integer>-97</integer>
      <key>comma</key>
      <integer>-97</integer>
      <key>period</key>
      <integer>-97</integer>
      <key>quotedblright</key>
      <integer>-97</integer>
      <key>quoteright</key>
      <integer>-97</integer>
      <key>semicolon</key>
      <integer>-97</integer>
    </dict>
    <key>j</key>
    <dict>
      <key>colon</key>
      <integer>-97</integer>
      <key>comma</key>
      <integer>-97</integer>
      <key>o</key>
      <integer>-34</integer>
      <key>period</key>
      <integer>-97</integer>
      <key>semicolon</key>
      <integer>-97</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>e</key>
      <integer>-22</integer>
      <key>o</key>
      <integer>-23</integer>
      <key>quotedblright</key>
      <integer>-62</integer>
      <key>quoteright</key>
      <integer>-31</integer>
    </dict>
    <key>l</key>
    <dict>
      <key>colon</key>
      <integer>-31</integer>
      <key>quotedblleft</key>
      <integer>-83</integer>
      <key>quotedblright</key>
      <integer>-79</integer>
      <key>quoteleft</key>
      <integer>-51</integer>
      <key>quoteright</key>
      <integer>-47</integer>
      <key>semicolon</key>
      <integer>-28</integer>
    </dict>
    <key>m</key>
    <dict>
      <key>colon</key>
      <integer>-45</integer>
      <key>comma</key>
      <integer>-10</integer>
      <key>quotedblright</key>
      <integer>-129</integer>
      <key>quoteright</key>
      <integer>-98</integer>
      <key>semicolon</key>
      <integer>-42</integer>
    </dict>
    <key>n</key>
    <dict>
      <key>colon</key>
      <integer>-51</integer>
      <key>comma</key>
      <integer>-16</integer>
      <key>quotedblright</key>
      <integer>-139</integer>
      <key>quoteright</key>
      <integer>-108</integer>
      <key>semicolon</key>
      <integer>-48</integer>
      <key>v</key>
      <integer>-19</integer>
    </dict>
    <key>nine</key>
    <dict>
      <key>comma</key>
      <integer>-206</integer>
      <key>five</key>
      <integer>-31</integer>
      <key>four</key>
      <integer>-25</integer>
      <key>period</key>
      <integer>-195</integer>
      <key>seven</key>
      <integer>-97</integer>
      <key>three</key>
      <integer>-76</integer>
      <key>two</key>
      <integer>-88</integer>
    </dict>
    <key>o</key>
    <dict>
      <key>colon</key>
      <integer>-60</integer>
      <key>comma</key>
      <integer>-104</integer>
      <key>period</key>
      <integer>-88</integer>
      <key>quotedblright</key>
      <integer>-168</integer>
      <key>quoteright</key>
      <integer>-136</integer>
      <key>semicolon</key>
      <integer>-50</integer>
      <key>v</key>
      <integer>-13</integer>
    </dict>
    <key>one</key>
    <dict>
      <key>comma</key>
      <integer>-211</integer>
      <key>period</key>
      <integer>-286</integer>
      <key>periodcentered</key>
      <integer>-260</integer>
    </dict>
    <key>p</key>
    <dict>
      <key>colon</key>
      <integer>-68</integer>
      <key>comma</key>
      <integer>-105</integer>
      <key>period</key>
      <integer>-89</integer>
      <key>quotedblright</key>
      <integer>-145</integer>
      <key>quoteright</key>
      <integer>-114</integer>
      <key>semicolon</key>
      <integer>-56</integer>
    </dict>
    <key>periodcentered</key>
    <dict>
      <key>five</key>
      <integer>-77</integer>
      <key>nine</key>
      <integer>-157</integer>
      <key>one</key>
      <integer>-255</integer>
      <key>seven</key>
      <integer>-168</integer>
      <key>three</key>
      <integer>-104</integer>
      <key>two</key>
      <integer>-117</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>colon</key>
      <integer>-95</integer>
      <key>period</key>
      <integer>-60</integer>
      <key>quotedblright</key>
      <integer>-155</integer>
      <key>quoteright</key>
      <integer>-122</integer>
      <key>semicolon</key>
      <integer>-53</integer>
    </dict>
    <key>quotedblleft</key>
    <dict>
      <key>A</key>
      <integer>-255</integer>
      <key>a</key>
      <integer>-186</integer>
      <key>c</key>
      <integer>-208</integer>
      <key>d</key>
      <integer>-249</integer>
      <key>e</key>
      <integer>-191</integer>
      <key>f</key>
      <integer>-80</integer>
      <key>g</key>
      <integer>-226</integer>
      <key>m</key>
      <integer>-160</integer>
      <key>n</key>
      <integer>-170</integer>
      <key>o</key>
      <integer>-195</integer>
      <key>p</key>
      <integer>-145</integer>
      <key>q</key>
      <integer>-177</integer>
      <key>quoteleft</key>
      <integer>-149</integer>
      <key>r</key>
      <integer>-164</integer>
      <key>s</key>
      <integer>-158</integer>
      <key>t</key>
      <integer>-80</integer>
      <key>u</key>
      <integer>-125</integer>
      <key>v</key>
      <integer>-54</integer>
      <key>w</key>
      <integer>-53</integer>
      <key>x</key>
      <integer>-54</integer>
      <key>y</key>
      <integer>-51</integer>
    </dict>
    <key>quotedblright</key>
    <dict>
      <key>quoteright</key>
      <integer>-76</integer>
    </dict>
    <key>quoteleft</key>
    <dict>
      <key>A</key>
      <integer>-224</integer>
      <key>a</key>
      <integer>-154</integer>
      <key>c</key>
      <integer>-177</integer>
      <key>d</key>
      <integer>-142</integer>
      <key>e</key>
      <integer>-83</integer>
      <key>g</key>
      <integer>-117</integer>
      <key>m</key>
      <integer>-51</integer>
      <key>n</key>
      <integer>-61</integer>
      <key>o</key>
      <integer>-163</integer>
      <key>p</key>
      <integer>-113</integer>
      <key>q</key>
      <integer>-143</integer>
      <key>quoteleft</key>
      <integer>-44</integer>
      <key>s</key>
      <integer>-125</integer>
      <key>u</key>
      <integer>-92</integer>
      <key>z</key>
      <integer>-97</integer>
    </dict>
    <key>quoteright</key>
    <dict>
      <key>d</key>
      <integer>-239</integer>
      <key>m</key>
      <integer>-148</integer>
      <key>quoteright</key>
      <integer>-44</integer>
      <key>r</key>
      <integer>-152</integer>
      <key>s</key>
      <integer>-146</integer>
      <key>t</key>
      <integer>-68</integer>
      <key>v</key>
      <integer>-44</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>comma</key>
      <integer>-200</integer>
      <key>period</key>
      <integer>-194</integer>
      <key>semicolon</key>
      <integer>-17</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>colon</key>
      <integer>-76</integer>
      <key>comma</key>
      <integer>-66</integer>
      <key>period</key>
      <integer>-53</integer>
      <key>quotedblright</key>
      <integer>-116</integer>
      <key>quoteright</key>
      <integer>-83</integer>
      <key>semicolon</key>
      <integer>-62</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>comma</key>
      <integer>-347</integer>
      <key>eight</key>
      <integer>-119</integer>
      <key>five</key>
      <integer>-51</integer>
      <key>four</key>
      <integer>-217</integer>
      <key>nine</key>
      <integer>-71</integer>
      <key>period</key>
      <integer>-343</integer>
      <key>periodcentered</key>
      <integer>-240</integer>
      <key>six</key>
      <integer>-145</integer>
      <key>slash</key>
      <integer>-163</integer>
      <key>three</key>
      <integer>-95</integer>
      <key>two</key>
      <integer>-107</integer>
      <key>zero</key>
      <integer>-85</integer>
    </dict>
    <key>six</key>
    <dict>
      <key>comma</key>
      <integer>-114</integer>
      <key>five</key>
      <integer>-45</integer>
      <key>period</key>
      <integer>-95</integer>
      <key>seven</key>
      <integer>-51</integer>
      <key>three</key>
      <integer>-62</integer>
      <key>two</key>
      <integer>-79</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>A</key>
      <integer>-114</integer>
      <key>J</key>
      <integer>-39</integer>
      <key>M</key>
      <integer>-17</integer>
      <key>c</key>
      <integer>-41</integer>
      <key>d</key>
      <integer>-41</integer>
      <key>e</key>
      <integer>-29</integer>
      <key>four</key>
      <integer>-71</integer>
      <key>g</key>
      <integer>-48</integer>
      <key>o</key>
      <integer>-32</integer>
      <key>q</key>
      <integer>-38</integer>
      <key>s</key>
      <integer>-41</integer>
    </dict>
    <key>sterling</key>
    <dict>
      <key>eight</key>
      <integer>-53</integer>
      <key>five</key>
      <integer>-13</integer>
      <key>four</key>
      <integer>-34</integer>
      <key>nine</key>
      <integer>-47</integer>
      <key>one</key>
      <integer>-89</integer>
      <key>seven</key>
      <integer>-32</integer>
      <key>six</key>
      <integer>-53</integer>
      <key>three</key>
      <integer>-19</integer>
      <key>two</key>
      <integer>-76</integer>
      <key>zero</key>
      <integer>-25</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>o</key>
      <integer>-39</integer>
      <key>quoteright</key>
      <integer>-13</integer>
      <key>semicolon</key>
      <integer>-63</integer>
    </dict>
    <key>three</key>
    <dict>
      <key>comma</key>
      <integer>-136</integer>
      <key>five</key>
      <integer>-62</integer>
      <key>nine</key>
      <integer>-65</integer>
      <key>period</key>
      <integer>-119</integer>
      <key>seven</key>
      <integer>-117</integer>
      <key>three</key>
      <integer>-85</integer>
      <key>two</key>
      <integer>-97</integer>
    </dict>
    <key>two</key>
    <dict>
      <key>comma</key>
      <integer>-62</integer>
      <key>period</key>
      <integer>-59</integer>
      <key>periodcentered</key>
      <integer>-154</integer>
      <key>seven</key>
      <integer>-74</integer>
      <key>six</key>
      <integer>-57</integer>
      <key>zero</key>
      <integer>-10</integer>
    </dict>
    <key>u</key>
    <dict>
      <key>colon</key>
      <integer>-51</integer>
      <key>comma</key>
      <integer>-16</integer>
      <key>quotedblright</key>
      <integer>-79</integer>
      <key>quoteright</key>
      <integer>-48</integer>
      <key>semicolon</key>
      <integer>-48</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>comma</key>
      <integer>-205</integer>
      <key>e</key>
      <integer>-10</integer>
      <key>o</key>
      <integer>-13</integer>
      <key>period</key>
      <integer>-199</integer>
      <key>semicolon</key>
      <integer>-44</integer>
      <key>slash</key>
      <integer>-38</integer>
    </dict>
    <key>w</key>
    <dict>
      <key>comma</key>
      <integer>-164</integer>
      <key>period</key>
      <integer>-161</integer>
      <key>semicolon</key>
      <integer>-42</integer>
      <key>slash</key>
      <integer>-31</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>quotedblright</key>
      <integer>-97</integer>
    </dict>
    <key>y</key>
    <dict>
      <key>comma</key>
      <integer>-168</integer>
      <key>period</key>
      <integer>-161</integer>
      <key>semicolon</key>
      <integer>-31</integer>
      <key>slash</key>
      <integer>-25</integer>
    </dict>
    <key>z</key>
    <dict>
      <key>colon</key>
      <integer>-54</integer>
      <key>semicolon</key>
      <integer>-51</integer>
    </dict>
    <key>zero</key>
    <dict>
      <key>comma</key>
      <integer>-123</integer>
      <key>five</key>
      <integer>-8</integer>
      <key>period</key>
      <integer>-111</integer>
      <key>seven</key>
      <integer>-82</integer>
      <key>two</key>
      <integer>-62</integer>
    </dict>
  </dict>
</plist>
