<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Aogonacute</key>
  <dict>
    <key>uniEE16</key>
    <integer>-220</integer>
    <key>uniEE17</key>
    <integer>-140</integer>
  </dict>
  <key>Aogonek</key>
  <dict>
    <key>uniEE16</key>
    <integer>-220</integer>
    <key>uniEE17</key>
    <integer>-140</integer>
  </dict>
  <key>Aogontilde</key>
  <dict>
    <key>uniEE16</key>
    <integer>-220</integer>
    <key>uniEE17</key>
    <integer>-140</integer>
  </dict>
  <key>Lcaron</key>
  <dict>
    <key>public.kern2.G</key>
    <integer>-263</integer>
    <key>public.kern2.O</key>
    <integer>-243</integer>
  </dict>
  <key>Tbar</key>
  <dict>
    <key>colon</key>
    <integer>0</integer>
    <key>hyphen</key>
    <integer>0</integer>
    <key>semicolon</key>
    <integer>0</integer>
  </dict>
  <key>b</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-383</integer>
    <key>public.kern2.quote.single</key>
    <integer>-339</integer>
  </dict>
  <key>cent</key>
  <dict>
    <key>four</key>
    <integer>-289</integer>
    <key>seven</key>
    <integer>-275</integer>
  </dict>
  <key>dollar</key>
  <dict>
    <key>five</key>
    <integer>-241</integer>
    <key>nine</key>
    <integer>-287</integer>
    <key>seven</key>
    <integer>-257</integer>
    <key>three</key>
    <integer>-261</integer>
    <key>two</key>
    <integer>-287</integer>
  </dict>
  <key>eight</key>
  <dict>
    <key>comma</key>
    <integer>-257</integer>
    <key>period</key>
    <integer>-237</integer>
    <key>seven</key>
    <integer>-241</integer>
  </dict>
  <key>f</key>
  <dict>
    <key>comma</key>
    <integer>-301</integer>
    <key>period</key>
    <integer>-299</integer>
  </dict>
  <key>five</key>
  <dict>
    <key>comma</key>
    <integer>-293</integer>
    <key>nine</key>
    <integer>-247</integer>
    <key>period</key>
    <integer>-273</integer>
    <key>two</key>
    <integer>-237</integer>
  </dict>
  <key>four</key>
  <dict>
    <key>nine</key>
    <integer>-247</integer>
    <key>seven</key>
    <integer>-279</integer>
  </dict>
  <key>guillemotright</key>
  <dict>
    <key>comma</key>
    <integer>-371</integer>
    <key>period</key>
    <integer>-367</integer>
  </dict>
  <key>nine</key>
  <dict>
    <key>comma</key>
    <integer>-375</integer>
    <key>period</key>
    <integer>-361</integer>
  </dict>
  <key>one</key>
  <dict>
    <key>comma</key>
    <integer>-381</integer>
    <key>period</key>
    <integer>-481</integer>
    <key>periodcentered</key>
    <integer>-447</integer>
  </dict>
  <key>p</key>
  <dict>
    <key>comma</key>
    <integer>-239</integer>
    <key>public.kern2.quote.double</key>
    <integer>-293</integer>
    <key>public.kern2.quote.single</key>
    <integer>-251</integer>
  </dict>
  <key>periodcentered</key>
  <dict>
    <key>nine</key>
    <integer>-309</integer>
    <key>one</key>
    <integer>-441</integer>
    <key>seven</key>
    <integer>-323</integer>
    <key>two</key>
    <integer>-255</integer>
  </dict>
  <key>public.kern1.A</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-321</integer>
    <key>public.kern2.U</key>
    <integer>-237</integer>
    <key>public.kern2.V</key>
    <integer>-251</integer>
    <key>public.kern2.W</key>
    <integer>-271</integer>
    <key>public.kern2.Y</key>
    <integer>-375</integer>
    <key>public.kern2.quote.double</key>
    <integer>-429</integer>
    <key>public.kern2.quote.single</key>
    <integer>-385</integer>
    <key>public.kern2.v</key>
    <integer>-271</integer>
  </dict>
  <key>public.kern1.A.markAbove</key>
  <dict>
    <key>public.kern2.U</key>
    <integer>-237</integer>
    <key>public.kern2.V</key>
    <integer>-220</integer>
    <key>public.kern2.W</key>
    <integer>-220</integer>
    <key>public.kern2.Y</key>
    <integer>-220</integer>
    <key>public.kern2.quote.double</key>
    <integer>-220</integer>
    <key>public.kern2.quote.single</key>
    <integer>-220</integer>
    <key>public.kern2.v</key>
    <integer>-271</integer>
  </dict>
  <key>public.kern1.B</key>
  <dict>
    <key>comma</key>
    <integer>-237</integer>
  </dict>
  <key>public.kern1.D</key>
  <dict>
    <key>comma</key>
    <integer>-383</integer>
    <key>period</key>
    <integer>-371</integer>
  </dict>
  <key>public.kern1.F</key>
  <dict>
    <key>Aringacute</key>
    <integer>-250</integer>
    <key>comma</key>
    <integer>-431</integer>
    <key>period</key>
    <integer>-527</integer>
    <key>public.kern2.A</key>
    <integer>-365</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-365</integer>
    <key>slash</key>
    <integer>-245</integer>
  </dict>
  <key>public.kern1.G</key>
  <dict>
    <key>comma</key>
    <integer>-289</integer>
    <key>period</key>
    <integer>-273</integer>
  </dict>
  <key>public.kern1.J</key>
  <dict>
    <key>comma</key>
    <integer>-331</integer>
  </dict>
  <key>public.kern1.L</key>
  <dict>
    <key>public.kern2.G</key>
    <integer>-263</integer>
    <key>public.kern2.O</key>
    <integer>-243</integer>
    <key>public.kern2.T</key>
    <integer>-319</integer>
    <key>public.kern2.V</key>
    <integer>-299</integer>
    <key>public.kern2.W</key>
    <integer>-263</integer>
    <key>public.kern2.Y</key>
    <integer>-357</integer>
    <key>public.kern2.quote.double</key>
    <integer>-557</integer>
    <key>public.kern2.quote.single</key>
    <integer>-513</integer>
  </dict>
  <key>public.kern1.O</key>
  <dict>
    <key>comma</key>
    <integer>-351</integer>
    <key>period</key>
    <integer>-337</integer>
  </dict>
  <key>public.kern1.P</key>
  <dict>
    <key>comma</key>
    <integer>-431</integer>
    <key>period</key>
    <integer>-457</integer>
    <key>public.kern2.A</key>
    <integer>-277</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-277</integer>
  </dict>
  <key>public.kern1.S</key>
  <dict>
    <key>comma</key>
    <integer>-249</integer>
  </dict>
  <key>public.kern1.T</key>
  <dict>
    <key>Aringacute</key>
    <integer>0</integer>
    <key>colon</key>
    <integer>-355</integer>
    <key>comma</key>
    <integer>-431</integer>
    <key>hyphen</key>
    <integer>-265</integer>
    <key>period</key>
    <integer>-429</integer>
    <key>public.kern2.A</key>
    <integer>-323</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-323</integer>
    <key>public.kern2.a</key>
    <integer>-285</integer>
    <key>public.kern2.e</key>
    <integer>-251</integer>
    <key>public.kern2.e.markAbove</key>
    <integer>-130</integer>
    <key>public.kern2.m</key>
    <integer>-265</integer>
    <key>public.kern2.o</key>
    <integer>-253</integer>
    <key>public.kern2.o.markAbove</key>
    <integer>-132</integer>
    <key>public.kern2.r</key>
    <integer>-275</integer>
    <key>public.kern2.s</key>
    <integer>-281</integer>
    <key>public.kern2.u</key>
    <integer>-271</integer>
    <key>public.kern2.u.markAbove</key>
    <integer>-150</integer>
    <key>public.kern2.z</key>
    <integer>-273</integer>
    <key>semicolon</key>
    <integer>-345</integer>
  </dict>
  <key>public.kern1.U</key>
  <dict>
    <key>comma</key>
    <integer>-355</integer>
    <key>period</key>
    <integer>-339</integer>
  </dict>
  <key>public.kern1.V</key>
  <dict>
    <key>colon</key>
    <integer>-275</integer>
    <key>comma</key>
    <integer>-451</integer>
    <key>hyphen</key>
    <integer>-241</integer>
    <key>period</key>
    <integer>-443</integer>
    <key>public.kern2.A</key>
    <integer>-249</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-189</integer>
    <key>semicolon</key>
    <integer>-265</integer>
  </dict>
  <key>public.kern1.W</key>
  <dict>
    <key>colon</key>
    <integer>-251</integer>
    <key>comma</key>
    <integer>-375</integer>
    <key>period</key>
    <integer>-371</integer>
    <key>public.kern2.A</key>
    <integer>-249</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-189</integer>
    <key>semicolon</key>
    <integer>-241</integer>
  </dict>
  <key>public.kern1.Y</key>
  <dict>
    <key>colon</key>
    <integer>-299</integer>
    <key>comma</key>
    <integer>-451</integer>
    <key>period</key>
    <integer>-445</integer>
    <key>public.kern2.A</key>
    <integer>-249</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-249</integer>
    <key>public.kern2.a</key>
    <integer>-241</integer>
    <key>public.kern2.c</key>
    <integer>-241</integer>
    <key>public.kern2.d</key>
    <integer>-239</integer>
    <key>semicolon</key>
    <integer>-289</integer>
  </dict>
  <key>public.kern1.a</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-325</integer>
    <key>public.kern2.quote.single</key>
    <integer>-283</integer>
  </dict>
  <key>public.kern1.e</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-279</integer>
    <key>public.kern2.quote.single</key>
    <integer>-237</integer>
  </dict>
  <key>public.kern1.h</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-343</integer>
    <key>public.kern2.quote.single</key>
    <integer>-299</integer>
  </dict>
  <key>public.kern1.i</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-273</integer>
    <key>public.kern2.quote.single</key>
    <integer>-231</integer>
  </dict>
  <key>public.kern1.m</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-273</integer>
    <key>public.kern2.quote.single</key>
    <integer>-231</integer>
  </dict>
  <key>public.kern1.n</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-285</integer>
    <key>public.kern2.quote.single</key>
    <integer>-243</integer>
  </dict>
  <key>public.kern1.o</key>
  <dict>
    <key>comma</key>
    <integer>-237</integer>
    <key>public.kern2.quote.double</key>
    <integer>-323</integer>
    <key>public.kern2.quote.single</key>
    <integer>-281</integer>
  </dict>
  <key>public.kern1.o.markAbove</key>
  <dict>
    <key>comma</key>
    <integer>-237</integer>
  </dict>
  <key>public.kern1.quote.double</key>
  <dict>
    <key>dcaron</key>
    <integer>0</integer>
    <key>g</key>
    <integer>-401</integer>
    <key>p</key>
    <integer>-293</integer>
    <key>public.kern2.A</key>
    <integer>-441</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-300</integer>
    <key>public.kern2.a</key>
    <integer>-349</integer>
    <key>public.kern2.c</key>
    <integer>-377</integer>
    <key>public.kern2.d</key>
    <integer>-433</integer>
    <key>public.kern2.e</key>
    <integer>-122</integer>
    <key>public.kern2.m</key>
    <integer>-313</integer>
    <key>public.kern2.n</key>
    <integer>-325</integer>
    <key>public.kern2.o</key>
    <integer>-361</integer>
    <key>public.kern2.o.markAbove</key>
    <integer>-128</integer>
    <key>public.kern2.r</key>
    <integer>-319</integer>
    <key>public.kern2.s</key>
    <integer>-311</integer>
    <key>public.kern2.u</key>
    <integer>-267</integer>
    <key>public.kern2.u.markAbove</key>
    <integer>-146</integer>
    <key>q</key>
    <integer>-335</integer>
  </dict>
  <key>public.kern1.quote.single</key>
  <dict>
    <key>dcaron</key>
    <integer>0</integer>
    <key>g</key>
    <integer>-357</integer>
    <key>p</key>
    <integer>-249</integer>
    <key>public.kern2.A</key>
    <integer>-399</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-258</integer>
    <key>public.kern2.a</key>
    <integer>-305</integer>
    <key>public.kern2.c</key>
    <integer>-335</integer>
    <key>public.kern2.d</key>
    <integer>-389</integer>
    <key>public.kern2.e</key>
    <integer>-311</integer>
    <key>public.kern2.e.markAbove</key>
    <integer>-78</integer>
    <key>public.kern2.m</key>
    <integer>-269</integer>
    <key>public.kern2.n</key>
    <integer>-281</integer>
    <key>public.kern2.o</key>
    <integer>-317</integer>
    <key>public.kern2.o.markAbove</key>
    <integer>-84</integer>
    <key>public.kern2.s</key>
    <integer>-267</integer>
    <key>public.kern2.u</key>
    <integer>-223</integer>
    <key>public.kern2.u.markAbove</key>
    <integer>-25</integer>
    <key>q</key>
    <integer>-291</integer>
  </dict>
  <key>public.kern1.r</key>
  <dict>
    <key>comma</key>
    <integer>-367</integer>
    <key>period</key>
    <integer>-359</integer>
  </dict>
  <key>public.kern1.s</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-253</integer>
    <key>public.kern2.quote.single</key>
    <integer>-211</integer>
  </dict>
  <key>public.kern1.w</key>
  <dict>
    <key>comma</key>
    <integer>-319</integer>
    <key>period</key>
    <integer>-315</integer>
  </dict>
  <key>public.kern1.y</key>
  <dict>
    <key>comma</key>
    <integer>-323</integer>
    <key>period</key>
    <integer>-315</integer>
  </dict>
  <key>q</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-307</integer>
    <key>public.kern2.quote.single</key>
    <integer>-263</integer>
  </dict>
  <key>seven</key>
  <dict>
    <key>comma</key>
    <integer>-563</integer>
    <key>eight</key>
    <integer>-259</integer>
    <key>four</key>
    <integer>-389</integer>
    <key>period</key>
    <integer>-557</integer>
    <key>periodcentered</key>
    <integer>-419</integer>
    <key>six</key>
    <integer>-293</integer>
    <key>slash</key>
    <integer>-317</integer>
    <key>two</key>
    <integer>-241</integer>
  </dict>
  <key>six</key>
  <dict>
    <key>comma</key>
    <integer>-251</integer>
    <key>seven</key>
    <integer>-269</integer>
  </dict>
  <key>slash</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-251</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-191</integer>
  </dict>
  <key>three</key>
  <dict>
    <key>comma</key>
    <integer>-281</integer>
    <key>period</key>
    <integer>-259</integer>
    <key>seven</key>
    <integer>-255</integer>
  </dict>
  <key>two</key>
  <dict>
    <key>periodcentered</key>
    <integer>-305</integer>
  </dict>
  <key>uniEE1C</key>
  <dict>
    <key>rcommaaccent</key>
    <integer>0</integer>
    <key>uni1E5B</key>
    <integer>0</integer>
    <key>uni1EA1</key>
    <integer>0</integer>
    <key>uniEE05</key>
    <integer>0</integer>
  </dict>
  <key>v</key>
  <dict>
    <key>comma</key>
    <integer>-373</integer>
    <key>period</key>
    <integer>-365</integer>
  </dict>
  <key>zero</key>
  <dict>
    <key>comma</key>
    <integer>-265</integer>
    <key>period</key>
    <integer>-247</integer>
  </dict>
</dict>
</plist>
