<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.A</key>
  <array>
    <string>A</string>
    <string>Aogonek</string>
    <string>afii10017</string>
    <string>uni1EA0</string>
  </array>
  <key>public.kern1.A.markAbove</key>
  <array>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Adotabove</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aogonacute</string>
    <string>Aogontilde</string>
    <string>Aring</string>
    <string>Atilde</string>
    <string>afiEC00</string>
    <string>uniEE06</string>
    <string>uniEE1A</string>
  </array>
  <key>public.kern1.B</key>
  <array>
    <string>B</string>
    <string>afii10019</string>
  </array>
  <key>public.kern1.C</key>
  <array>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>afii10035</string>
    <string>afii10053</string>
  </array>
  <key>public.kern1.D</key>
  <array>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>uni1E0C</string>
    <string>uni1E0E</string>
    <string>uni1E10</string>
  </array>
  <key>public.kern1.F</key>
  <array>
    <string>F</string>
    <string>uniEE08</string>
  </array>
  <key>public.kern1.G</key>
  <array>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
  </array>
  <key>public.kern1.J</key>
  <array>
    <string>J</string>
    <string>Jcircumflex</string>
    <string>Jtilde</string>
    <string>afii10057</string>
  </array>
  <key>public.kern1.L</key>
  <array>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcommaaccent</string>
    <string>Lslash</string>
    <string>Ltilde</string>
  </array>
  <key>public.kern1.O</key>
  <array>
    <string>O</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Omacron</string>
    <string>Oslash</string>
    <string>Oslashacute</string>
    <string>Otilde</string>
    <string>afiEC0A</string>
    <string>afii10032</string>
    <string>afii10038</string>
    <string>uni0150</string>
    <string>uniEE0F</string>
    <string>uniEE11</string>
  </array>
  <key>public.kern1.P</key>
  <array>
    <string>P</string>
    <string>afii10034</string>
  </array>
  <key>public.kern1.S</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>afii10054</string>
    <string>uni1E60</string>
    <string>uni1E62</string>
    <string>uniEE14</string>
  </array>
  <key>public.kern1.T</key>
  <array>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Tcommaaccent</string>
    <string>afii10036</string>
    <string>uni1E6C</string>
    <string>uni1E6E</string>
    <string>uniEE1C</string>
  </array>
  <key>public.kern1.U</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Umacronacute</string>
    <string>Umacrontilde</string>
    <string>Uogonacute</string>
    <string>Uogonek</string>
    <string>Uogontilde</string>
    <string>Uring</string>
    <string>Utilde</string>
  </array>
  <key>public.kern1.V</key>
  <array>
    <string>V</string>
    <string>uniEE16</string>
  </array>
  <key>public.kern1.W</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern1.Y</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
    <string>Ytilde</string>
  </array>
  <key>public.kern1.Z</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdot</string>
    <string>uni1E92</string>
    <string>uni1E94</string>
    <string>uniEE18</string>
  </array>
  <key>public.kern1.a</key>
  <array>
    <string>a</string>
    <string>uni1EA1</string>
  </array>
  <key>public.kern1.e</key>
  <array>
    <string>afii10070</string>
    <string>e</string>
    <string>eogonek</string>
  </array>
  <key>public.kern1.h</key>
  <array>
    <string>h</string>
    <string>hcircumflex</string>
    <string>uni1E25</string>
    <string>uni1E29</string>
    <string>uni1E96</string>
  </array>
  <key>public.kern1.i</key>
  <array>
    <string>afii10103</string>
    <string>dotlessi</string>
    <string>i</string>
    <string>iogonek</string>
    <string>uniE023</string>
    <string>uniEE01</string>
    <string>uniEE0C</string>
  </array>
  <key>public.kern1.m</key>
  <array>
    <string>m</string>
    <string>mtilde</string>
    <string>uni1E41</string>
    <string>uni1E43</string>
  </array>
  <key>public.kern1.n</key>
  <array>
    <string>n</string>
    <string>ncommaaccent</string>
    <string>uni1E47</string>
    <string>uni1E49</string>
  </array>
  <key>public.kern1.o</key>
  <array>
    <string>afii10080</string>
    <string>o</string>
    <string>uni0275</string>
    <string>uniEE10</string>
  </array>
  <key>public.kern1.o.markAbove</key>
  <array>
    <string>afiEC0B</string>
    <string>oacute</string>
    <string>obreve</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>omacron</string>
    <string>oslashacute</string>
    <string>otilde</string>
    <string>uni0151</string>
    <string>uniEE12</string>
    <string>uniEE13</string>
  </array>
  <key>public.kern1.quote.double</key>
  <array>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>uni201F</string>
  </array>
  <key>public.kern1.quote.single</key>
  <array>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>uni201B</string>
  </array>
  <key>public.kern1.r</key>
  <array>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>rtilde</string>
    <string>uni1E59</string>
  </array>
  <key>public.kern1.s</key>
  <array>
    <string>afii10102</string>
    <string>s</string>
    <string>scedilla</string>
    <string>uni0282</string>
    <string>uni1E63</string>
    <string>uniEE15</string>
  </array>
  <key>public.kern1.w</key>
  <array>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
  </array>
  <key>public.kern1.y</key>
  <array>
    <string>afiEC0D</string>
    <string>afii10085</string>
    <string>afii10110</string>
    <string>y</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>ygrave</string>
    <string>ytilde</string>
  </array>
  <key>public.kern2.A</key>
  <array>
    <string>A</string>
    <string>Aogonek</string>
    <string>afii10017</string>
    <string>uni1EA0</string>
  </array>
  <key>public.kern2.A.markAbove</key>
  <array>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Adotabove</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aogonacute</string>
    <string>Aogontilde</string>
    <string>Aring</string>
    <string>Atilde</string>
    <string>afiEC00</string>
    <string>uniEE06</string>
    <string>uniEE1A</string>
  </array>
  <key>public.kern2.G</key>
  <array>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
  </array>
  <key>public.kern2.O</key>
  <array>
    <string>O</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Omacron</string>
    <string>Oslash</string>
    <string>Oslashacute</string>
    <string>Otilde</string>
    <string>Q</string>
    <string>afiEC0A</string>
    <string>afii10032</string>
    <string>afii10038</string>
    <string>uni0150</string>
    <string>uniEE0F</string>
    <string>uniEE11</string>
  </array>
  <key>public.kern2.T</key>
  <array>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Tcommaaccent</string>
    <string>afii10036</string>
    <string>uni1E6C</string>
    <string>uni1E6E</string>
    <string>uniEE1C</string>
  </array>
  <key>public.kern2.U</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Umacronacute</string>
    <string>Umacrontilde</string>
    <string>Uogonacute</string>
    <string>Uogonek</string>
    <string>Uogontilde</string>
    <string>Uring</string>
    <string>Utilde</string>
  </array>
  <key>public.kern2.V</key>
  <array>
    <string>V</string>
    <string>uniEE16</string>
  </array>
  <key>public.kern2.W</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern2.Y</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
    <string>Ytilde</string>
  </array>
  <key>public.kern2.a</key>
  <array>
    <string>a</string>
    <string>aogonek</string>
    <string>uni1EA1</string>
  </array>
  <key>public.kern2.c</key>
  <array>
    <string>afii10083</string>
    <string>c</string>
    <string>ccedilla</string>
  </array>
  <key>public.kern2.c.markAbove</key>
  <array>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
  </array>
  <key>public.kern2.d</key>
  <array>
    <string>d</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>uni1E0D</string>
    <string>uni1E0F</string>
    <string>uni1E11</string>
  </array>
  <key>public.kern2.e</key>
  <array>
    <string>afii10070</string>
    <string>e</string>
    <string>eogonek</string>
  </array>
  <key>public.kern2.e.markAbove</key>
  <array>
    <string>afiEC03</string>
    <string>afiEC05</string>
    <string>afii10071</string>
    <string>eacute</string>
    <string>ebreve</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>edotacute</string>
    <string>edottilde</string>
    <string>egrave</string>
    <string>emacron</string>
    <string>etilde</string>
  </array>
  <key>public.kern2.m</key>
  <array>
    <string>m</string>
    <string>mtilde</string>
    <string>uni1E41</string>
    <string>uni1E43</string>
  </array>
  <key>public.kern2.n</key>
  <array>
    <string>n</string>
    <string>ncommaaccent</string>
    <string>uni1E47</string>
    <string>uni1E49</string>
  </array>
  <key>public.kern2.o</key>
  <array>
    <string>afii10080</string>
    <string>o</string>
    <string>uni0275</string>
    <string>uniEE10</string>
  </array>
  <key>public.kern2.o.markAbove</key>
  <array>
    <string>afiEC0B</string>
    <string>oacute</string>
    <string>obreve</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>omacron</string>
    <string>oslashacute</string>
    <string>otilde</string>
    <string>uni0151</string>
    <string>uniEE12</string>
    <string>uniEE13</string>
  </array>
  <key>public.kern2.quote.double</key>
  <array>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>uni201F</string>
  </array>
  <key>public.kern2.quote.single</key>
  <array>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>uni201B</string>
  </array>
  <key>public.kern2.r</key>
  <array>
    <string>r</string>
    <string>rcommaaccent</string>
    <string>uni1E5B</string>
    <string>uniEE05</string>
  </array>
  <key>public.kern2.s</key>
  <array>
    <string>afii10102</string>
    <string>s</string>
    <string>scedilla</string>
    <string>uni0282</string>
    <string>uni1E63</string>
    <string>uniEE15</string>
  </array>
  <key>public.kern2.u</key>
  <array>
    <string>u</string>
    <string>uogonek</string>
  </array>
  <key>public.kern2.u.markAbove</key>
  <array>
    <string>uacute</string>
    <string>ubreve</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>umacron</string>
    <string>umacronacute</string>
    <string>umacrontilde</string>
    <string>uogonacute</string>
    <string>uogontilde</string>
    <string>uring</string>
    <string>utilde</string>
  </array>
  <key>public.kern2.v</key>
  <array>
    <string>uniEE17</string>
    <string>v</string>
  </array>
  <key>public.kern2.z</key>
  <array>
    <string>uni1E93</string>
    <string>uni1E95</string>
    <string>uniEE19</string>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdot</string>
  </array>
</dict>
</plist>
