<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Aogonacute</key>
  <dict>
    <key>uniEE16</key>
    <integer>0</integer>
    <key>uniEE17</key>
    <integer>0</integer>
  </dict>
  <key>Aogonek</key>
  <dict>
    <key>uniEE16</key>
    <integer>0</integer>
    <key>uniEE17</key>
    <integer>0</integer>
  </dict>
  <key>Aogontilde</key>
  <dict>
    <key>uniEE16</key>
    <integer>0</integer>
    <key>uniEE17</key>
    <integer>0</integer>
  </dict>
  <key>Lcaron</key>
  <dict>
    <key>public.kern2.G</key>
    <integer>-100</integer>
    <key>public.kern2.O</key>
    <integer>-100</integer>
  </dict>
  <key>Tbar</key>
  <dict>
    <key>colon</key>
    <integer>-150</integer>
    <key>hyphen</key>
    <integer>-100</integer>
    <key>semicolon</key>
    <integer>-150</integer>
  </dict>
  <key>b</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-150</integer>
    <key>public.kern2.quote.single</key>
    <integer>-150</integer>
  </dict>
  <key>dollar</key>
  <dict>
    <key>five</key>
    <integer>-150</integer>
    <key>nine</key>
    <integer>-150</integer>
    <key>seven</key>
    <integer>-150</integer>
    <key>three</key>
    <integer>-150</integer>
    <key>two</key>
    <integer>-150</integer>
  </dict>
  <key>eight</key>
  <dict>
    <key>comma</key>
    <integer>-150</integer>
    <key>period</key>
    <integer>-150</integer>
    <key>seven</key>
    <integer>-150</integer>
  </dict>
  <key>f</key>
  <dict>
    <key>comma</key>
    <integer>-150</integer>
    <key>period</key>
    <integer>-150</integer>
  </dict>
  <key>five</key>
  <dict>
    <key>comma</key>
    <integer>-150</integer>
    <key>nine</key>
    <integer>-150</integer>
    <key>period</key>
    <integer>-150</integer>
    <key>two</key>
    <integer>-150</integer>
  </dict>
  <key>four</key>
  <dict>
    <key>nine</key>
    <integer>-150</integer>
    <key>seven</key>
    <integer>-150</integer>
  </dict>
  <key>guillemotright</key>
  <dict>
    <key>comma</key>
    <integer>-200</integer>
    <key>period</key>
    <integer>-200</integer>
  </dict>
  <key>nine</key>
  <dict>
    <key>comma</key>
    <integer>-250</integer>
    <key>period</key>
    <integer>-250</integer>
  </dict>
  <key>one</key>
  <dict>
    <key>comma</key>
    <integer>-250</integer>
    <key>period</key>
    <integer>-350</integer>
    <key>periodcentered</key>
    <integer>-350</integer>
  </dict>
  <key>p</key>
  <dict>
    <key>comma</key>
    <integer>-150</integer>
    <key>public.kern2.quote.double</key>
    <integer>-150</integer>
    <key>public.kern2.quote.single</key>
    <integer>-150</integer>
  </dict>
  <key>periodcentered</key>
  <dict>
    <key>nine</key>
    <integer>-200</integer>
    <key>one</key>
    <integer>-200</integer>
    <key>seven</key>
    <integer>-200</integer>
    <key>two</key>
    <integer>-200</integer>
  </dict>
  <key>public.kern1.A</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-200</integer>
    <key>public.kern2.U</key>
    <integer>-100</integer>
    <key>public.kern2.V</key>
    <integer>-150</integer>
    <key>public.kern2.W</key>
    <integer>-150</integer>
    <key>public.kern2.Y</key>
    <integer>-250</integer>
    <key>public.kern2.quote.double</key>
    <integer>-300</integer>
    <key>public.kern2.quote.single</key>
    <integer>-250</integer>
    <key>public.kern2.v</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.A.markAbove</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-100</integer>
    <key>public.kern2.U</key>
    <integer>-100</integer>
    <key>public.kern2.V</key>
    <integer>-100</integer>
    <key>public.kern2.W</key>
    <integer>-100</integer>
    <key>public.kern2.Y</key>
    <integer>-100</integer>
    <key>public.kern2.v</key>
    <integer>-100</integer>
  </dict>
  <key>public.kern1.B</key>
  <dict>
    <key>comma</key>
    <integer>-100</integer>
  </dict>
  <key>public.kern1.D</key>
  <dict>
    <key>comma</key>
    <integer>-383</integer>
    <key>period</key>
    <integer>-371</integer>
  </dict>
  <key>public.kern1.F</key>
  <dict>
    <key>comma</key>
    <integer>-350</integer>
    <key>period</key>
    <integer>-350</integer>
    <key>public.kern2.A</key>
    <integer>-200</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-200</integer>
    <key>slash</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.G</key>
  <dict>
    <key>comma</key>
    <integer>-200</integer>
    <key>period</key>
    <integer>-200</integer>
  </dict>
  <key>public.kern1.J</key>
  <dict>
    <key>comma</key>
    <integer>-200</integer>
  </dict>
  <key>public.kern1.L</key>
  <dict>
    <key>public.kern2.G</key>
    <integer>-150</integer>
    <key>public.kern2.O</key>
    <integer>-150</integer>
    <key>public.kern2.T</key>
    <integer>-200</integer>
    <key>public.kern2.V</key>
    <integer>-200</integer>
    <key>public.kern2.W</key>
    <integer>-200</integer>
    <key>public.kern2.Y</key>
    <integer>-250</integer>
    <key>public.kern2.quote.double</key>
    <integer>-400</integer>
    <key>public.kern2.quote.single</key>
    <integer>-400</integer>
  </dict>
  <key>public.kern1.O</key>
  <dict>
    <key>comma</key>
    <integer>-350</integer>
    <key>period</key>
    <integer>-338</integer>
  </dict>
  <key>public.kern1.P</key>
  <dict>
    <key>comma</key>
    <integer>-350</integer>
    <key>period</key>
    <integer>-350</integer>
    <key>public.kern2.A</key>
    <integer>-150</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.S</key>
  <dict>
    <key>comma</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.T</key>
  <dict>
    <key>colon</key>
    <integer>-300</integer>
    <key>comma</key>
    <integer>-300</integer>
    <key>hyphen</key>
    <integer>-250</integer>
    <key>period</key>
    <integer>-300</integer>
    <key>public.kern2.A</key>
    <integer>-200</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-200</integer>
    <key>public.kern2.a</key>
    <integer>-150</integer>
    <key>public.kern2.e</key>
    <integer>-150</integer>
    <key>public.kern2.m</key>
    <integer>-150</integer>
    <key>public.kern2.o</key>
    <integer>-150</integer>
    <key>public.kern2.r</key>
    <integer>-150</integer>
    <key>public.kern2.s</key>
    <integer>-150</integer>
    <key>public.kern2.u</key>
    <integer>-150</integer>
    <key>public.kern2.z</key>
    <integer>-150</integer>
    <key>semicolon</key>
    <integer>-300</integer>
  </dict>
  <key>public.kern1.U</key>
  <dict>
    <key>comma</key>
    <integer>-250</integer>
    <key>period</key>
    <integer>-250</integer>
  </dict>
  <key>public.kern1.V</key>
  <dict>
    <key>colon</key>
    <integer>-250</integer>
    <key>comma</key>
    <integer>-350</integer>
    <key>hyphen</key>
    <integer>-250</integer>
    <key>period</key>
    <integer>-350</integer>
    <key>public.kern2.A</key>
    <integer>-150</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-100</integer>
    <key>semicolon</key>
    <integer>-250</integer>
  </dict>
  <key>public.kern1.W</key>
  <dict>
    <key>colon</key>
    <integer>-250</integer>
    <key>comma</key>
    <integer>-250</integer>
    <key>period</key>
    <integer>-250</integer>
    <key>public.kern2.A</key>
    <integer>-150</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-100</integer>
    <key>semicolon</key>
    <integer>-250</integer>
  </dict>
  <key>public.kern1.Y</key>
  <dict>
    <key>colon</key>
    <integer>-300</integer>
    <key>comma</key>
    <integer>-350</integer>
    <key>period</key>
    <integer>-350</integer>
    <key>public.kern2.A</key>
    <integer>-150</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-100</integer>
    <key>public.kern2.a</key>
    <integer>-150</integer>
    <key>public.kern2.c</key>
    <integer>-150</integer>
    <key>public.kern2.d</key>
    <integer>-150</integer>
    <key>semicolon</key>
    <integer>-300</integer>
  </dict>
  <key>public.kern1.a</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-150</integer>
    <key>public.kern2.quote.single</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.e</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-150</integer>
    <key>public.kern2.quote.single</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.h</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-150</integer>
    <key>public.kern2.quote.single</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.i</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-100</integer>
    <key>public.kern2.quote.single</key>
    <integer>-100</integer>
  </dict>
  <key>public.kern1.m</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-150</integer>
    <key>public.kern2.quote.single</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.n</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-150</integer>
    <key>public.kern2.quote.single</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.o</key>
  <dict>
    <key>comma</key>
    <integer>-150</integer>
    <key>public.kern2.quote.double</key>
    <integer>-150</integer>
    <key>public.kern2.quote.single</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.o.markAbove</key>
  <dict>
    <key>comma</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.quote.double</key>
  <dict>
    <key>dcaron</key>
    <integer>0</integer>
    <key>g</key>
    <integer>-200</integer>
    <key>p</key>
    <integer>-100</integer>
    <key>public.ker2.A</key>
    <integer>-250</integer>
    <key>public.kern2.a</key>
    <integer>-200</integer>
    <key>public.kern2.c</key>
    <integer>-200</integer>
    <key>public.kern2.d</key>
    <integer>-200</integer>
    <key>public.kern2.e</key>
    <integer>-200</integer>
    <key>public.kern2.m</key>
    <integer>-100</integer>
    <key>public.kern2.n</key>
    <integer>-100</integer>
    <key>public.kern2.o</key>
    <integer>-200</integer>
    <key>public.kern2.r</key>
    <integer>-100</integer>
    <key>public.kern2.s</key>
    <integer>-200</integer>
    <key>public.kern2.u</key>
    <integer>-100</integer>
    <key>q</key>
    <integer>-200</integer>
  </dict>
  <key>public.kern1.quote.single</key>
  <dict>
    <key>dcaron</key>
    <integer>0</integer>
    <key>g</key>
    <integer>-200</integer>
    <key>p</key>
    <integer>-100</integer>
    <key>public.kern2.A</key>
    <integer>-250</integer>
    <key>public.kern2.a</key>
    <integer>-200</integer>
    <key>public.kern2.c</key>
    <integer>-200</integer>
    <key>public.kern2.d</key>
    <integer>-200</integer>
    <key>public.kern2.e</key>
    <integer>-200</integer>
    <key>public.kern2.m</key>
    <integer>-100</integer>
    <key>public.kern2.n</key>
    <integer>-100</integer>
    <key>public.kern2.o</key>
    <integer>-200</integer>
    <key>public.kern2.s</key>
    <integer>-200</integer>
    <key>q</key>
    <integer>-200</integer>
  </dict>
  <key>public.kern1.r</key>
  <dict>
    <key>comma</key>
    <integer>-200</integer>
    <key>period</key>
    <integer>-200</integer>
  </dict>
  <key>public.kern1.s</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-150</integer>
    <key>public.kern2.quote.single</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.w</key>
  <dict>
    <key>comma</key>
    <integer>-250</integer>
    <key>period</key>
    <integer>-250</integer>
  </dict>
  <key>public.kern1.y</key>
  <dict>
    <key>comma</key>
    <integer>-200</integer>
    <key>period</key>
    <integer>-200</integer>
  </dict>
  <key>q</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-150</integer>
    <key>public.kern2.quote.single</key>
    <integer>-150</integer>
  </dict>
  <key>quotedblbase</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-300</integer>
    <key>public.kern2.V</key>
    <integer>-300</integer>
    <key>public.kern2.W</key>
    <integer>-300</integer>
    <key>public.kern2.Y</key>
    <integer>-300</integer>
  </dict>
  <key>quotesinglbase</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-250</integer>
    <key>public.kern2.V</key>
    <integer>-250</integer>
    <key>public.kern2.W</key>
    <integer>-250</integer>
    <key>public.kern2.Y</key>
    <integer>-250</integer>
  </dict>
  <key>seven</key>
  <dict>
    <key>comma</key>
    <integer>-400</integer>
    <key>eight</key>
    <integer>-150</integer>
    <key>four</key>
    <integer>-200</integer>
    <key>period</key>
    <integer>-400</integer>
    <key>periodcentered</key>
    <integer>-320</integer>
    <key>six</key>
    <integer>-150</integer>
    <key>slash</key>
    <integer>-200</integer>
    <key>two</key>
    <integer>-150</integer>
  </dict>
  <key>six</key>
  <dict>
    <key>comma</key>
    <integer>-150</integer>
    <key>seven</key>
    <integer>-150</integer>
  </dict>
  <key>slash</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-150</integer>
  </dict>
  <key>three</key>
  <dict>
    <key>comma</key>
    <integer>-200</integer>
    <key>period</key>
    <integer>-150</integer>
    <key>seven</key>
    <integer>-150</integer>
  </dict>
  <key>two</key>
  <dict>
    <key>periodcentered</key>
    <integer>-200</integer>
  </dict>
  <key>uniEE1C</key>
  <dict>
    <key>comma</key>
    <integer>0</integer>
    <key>period</key>
    <integer>0</integer>
    <key>rcommaaccent</key>
    <integer>0</integer>
    <key>uni1E5B</key>
    <integer>0</integer>
    <key>uni1EA1</key>
    <integer>0</integer>
    <key>uniEE05</key>
    <integer>0</integer>
  </dict>
  <key>v</key>
  <dict>
    <key>comma</key>
    <integer>-250</integer>
    <key>period</key>
    <integer>-250</integer>
  </dict>
  <key>zero</key>
  <dict>
    <key>comma</key>
    <integer>-150</integer>
    <key>period</key>
    <integer>-150</integer>
  </dict>
</dict>
</plist>
