<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>curr:dollar</key>
  <dict>
    <key>digit:five</key>
    <integer>-150</integer>
    <key>digit:nine</key>
    <integer>-150</integer>
    <key>digit:seven</key>
    <integer>-150</integer>
    <key>digit:three</key>
    <integer>-150</integer>
    <key>digit:two</key>
    <integer>-150</integer>
  </dict>
  <key>digit:eight</key>
  <dict>
    <key>digit:seven</key>
    <integer>-150</integer>
    <key>sign:comma</key>
    <integer>-150</integer>
    <key>sign:period</key>
    <integer>-150</integer>
  </dict>
  <key>digit:five</key>
  <dict>
    <key>digit:nine</key>
    <integer>-150</integer>
    <key>digit:two</key>
    <integer>-150</integer>
    <key>sign:comma</key>
    <integer>-150</integer>
    <key>sign:period</key>
    <integer>-150</integer>
  </dict>
  <key>digit:four</key>
  <dict>
    <key>digit:nine</key>
    <integer>-150</integer>
    <key>digit:seven</key>
    <integer>-150</integer>
  </dict>
  <key>digit:nine</key>
  <dict>
    <key>sign:comma</key>
    <integer>-250</integer>
    <key>sign:period</key>
    <integer>-250</integer>
  </dict>
  <key>digit:one</key>
  <dict>
    <key>sign:comma</key>
    <integer>-250</integer>
    <key>sign:middledot</key>
    <integer>-350</integer>
    <key>sign:period</key>
    <integer>-350</integer>
  </dict>
  <key>digit:seven</key>
  <dict>
    <key>digit:eight</key>
    <integer>-150</integer>
    <key>digit:four</key>
    <integer>-200</integer>
    <key>digit:six</key>
    <integer>-150</integer>
    <key>digit:two</key>
    <integer>-150</integer>
    <key>sign:comma</key>
    <integer>-400</integer>
    <key>sign:middledot</key>
    <integer>-320</integer>
    <key>sign:period</key>
    <integer>-400</integer>
    <key>sign:slash</key>
    <integer>-200</integer>
  </dict>
  <key>digit:six</key>
  <dict>
    <key>digit:seven</key>
    <integer>-150</integer>
    <key>sign:comma</key>
    <integer>-150</integer>
  </dict>
  <key>digit:three</key>
  <dict>
    <key>digit:seven</key>
    <integer>-150</integer>
    <key>sign:comma</key>
    <integer>-200</integer>
    <key>sign:period</key>
    <integer>-150</integer>
  </dict>
  <key>digit:two</key>
  <dict>
    <key>sign:middledot</key>
    <integer>-200</integer>
  </dict>
  <key>digit:zero</key>
  <dict>
    <key>sign:comma</key>
    <integer>-150</integer>
    <key>sign:period</key>
    <integer>-150</integer>
  </dict>
  <key>latn:Aogonek</key>
  <dict>
    <key>latn:Vmacronbelow</key>
    <integer>0</integer>
    <key>latn:vmacronbelow</key>
    <integer>0</integer>
  </dict>
  <key>latn:Aogonekacute</key>
  <dict>
    <key>latn:Vmacronbelow</key>
    <integer>0</integer>
    <key>latn:vmacronbelow</key>
    <integer>0</integer>
  </dict>
  <key>latn:Aogonektilde</key>
  <dict>
    <key>latn:Vmacronbelow</key>
    <integer>0</integer>
    <key>latn:vmacronbelow</key>
    <integer>0</integer>
  </dict>
  <key>latn:Lcaron</key>
  <dict>
    <key>public.kern2.G</key>
    <integer>-100</integer>
    <key>public.kern2.O</key>
    <integer>-100</integer>
  </dict>
  <key>latn:Tdiaeresisbelow</key>
  <dict>
    <key>latn:adotbelow</key>
    <integer>0</integer>
    <key>latn:rcedilla</key>
    <integer>0</integer>
    <key>latn:rdotbelow</key>
    <integer>0</integer>
    <key>latn:rringbelow</key>
    <integer>0</integer>
    <key>sign:comma</key>
    <integer>0</integer>
    <key>sign:period</key>
    <integer>0</integer>
  </dict>
  <key>latn:Tstroke</key>
  <dict>
    <key>sign:colon</key>
    <integer>-150</integer>
    <key>sign:hyphenminus</key>
    <integer>-100</integer>
    <key>sign:semicolon</key>
    <integer>-150</integer>
  </dict>
  <key>latn:b</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-150</integer>
    <key>public.kern2.quote.single</key>
    <integer>-150</integer>
  </dict>
  <key>latn:f</key>
  <dict>
    <key>sign:comma</key>
    <integer>-150</integer>
    <key>sign:period</key>
    <integer>-150</integer>
  </dict>
  <key>latn:p</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-150</integer>
    <key>public.kern2.quote.single</key>
    <integer>-150</integer>
    <key>sign:comma</key>
    <integer>-150</integer>
  </dict>
  <key>latn:q</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-150</integer>
    <key>public.kern2.quote.single</key>
    <integer>-150</integer>
  </dict>
  <key>latn:v</key>
  <dict>
    <key>sign:comma</key>
    <integer>-250</integer>
    <key>sign:period</key>
    <integer>-250</integer>
  </dict>
  <key>public.kern1.A</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-200</integer>
    <key>public.kern2.U</key>
    <integer>-100</integer>
    <key>public.kern2.V</key>
    <integer>-150</integer>
    <key>public.kern2.W</key>
    <integer>-150</integer>
    <key>public.kern2.Y</key>
    <integer>-250</integer>
    <key>public.kern2.quote.double</key>
    <integer>-300</integer>
    <key>public.kern2.quote.single</key>
    <integer>-250</integer>
    <key>public.kern2.v</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.A.markAbove</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-100</integer>
    <key>public.kern2.U</key>
    <integer>-100</integer>
    <key>public.kern2.V</key>
    <integer>-100</integer>
    <key>public.kern2.W</key>
    <integer>-100</integer>
    <key>public.kern2.Y</key>
    <integer>-100</integer>
    <key>public.kern2.v</key>
    <integer>-100</integer>
  </dict>
  <key>public.kern1.B</key>
  <dict>
    <key>sign:comma</key>
    <integer>-100</integer>
  </dict>
  <key>public.kern1.D</key>
  <dict>
    <key>sign:comma</key>
    <integer>-383</integer>
    <key>sign:period</key>
    <integer>-371</integer>
  </dict>
  <key>public.kern1.F</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-200</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-200</integer>
    <key>sign:comma</key>
    <integer>-350</integer>
    <key>sign:period</key>
    <integer>-350</integer>
    <key>sign:slash</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.G</key>
  <dict>
    <key>sign:comma</key>
    <integer>-200</integer>
    <key>sign:period</key>
    <integer>-200</integer>
  </dict>
  <key>public.kern1.J</key>
  <dict>
    <key>sign:comma</key>
    <integer>-200</integer>
  </dict>
  <key>public.kern1.L</key>
  <dict>
    <key>public.kern2.G</key>
    <integer>-150</integer>
    <key>public.kern2.O</key>
    <integer>-150</integer>
    <key>public.kern2.T</key>
    <integer>-200</integer>
    <key>public.kern2.V</key>
    <integer>-200</integer>
    <key>public.kern2.W</key>
    <integer>-200</integer>
    <key>public.kern2.Y</key>
    <integer>-250</integer>
    <key>public.kern2.quote.double</key>
    <integer>-400</integer>
    <key>public.kern2.quote.single</key>
    <integer>-400</integer>
  </dict>
  <key>public.kern1.O</key>
  <dict>
    <key>sign:comma</key>
    <integer>-350</integer>
    <key>sign:period</key>
    <integer>-338</integer>
  </dict>
  <key>public.kern1.P</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-150</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-150</integer>
    <key>sign:comma</key>
    <integer>-350</integer>
    <key>sign:period</key>
    <integer>-350</integer>
  </dict>
  <key>public.kern1.S</key>
  <dict>
    <key>sign:comma</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.T</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-200</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-200</integer>
    <key>public.kern2.a</key>
    <integer>-150</integer>
    <key>public.kern2.e</key>
    <integer>-150</integer>
    <key>public.kern2.m</key>
    <integer>-150</integer>
    <key>public.kern2.o</key>
    <integer>-150</integer>
    <key>public.kern2.r</key>
    <integer>-150</integer>
    <key>public.kern2.s</key>
    <integer>-150</integer>
    <key>public.kern2.u</key>
    <integer>-150</integer>
    <key>public.kern2.z</key>
    <integer>-150</integer>
    <key>sign:colon</key>
    <integer>-300</integer>
    <key>sign:comma</key>
    <integer>-300</integer>
    <key>sign:hyphenminus</key>
    <integer>-250</integer>
    <key>sign:period</key>
    <integer>-300</integer>
    <key>sign:semicolon</key>
    <integer>-300</integer>
  </dict>
  <key>public.kern1.U</key>
  <dict>
    <key>sign:comma</key>
    <integer>-250</integer>
    <key>sign:period</key>
    <integer>-250</integer>
  </dict>
  <key>public.kern1.V</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-150</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-100</integer>
    <key>sign:colon</key>
    <integer>-250</integer>
    <key>sign:comma</key>
    <integer>-350</integer>
    <key>sign:hyphenminus</key>
    <integer>-250</integer>
    <key>sign:period</key>
    <integer>-350</integer>
    <key>sign:semicolon</key>
    <integer>-250</integer>
  </dict>
  <key>public.kern1.W</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-150</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-100</integer>
    <key>sign:colon</key>
    <integer>-250</integer>
    <key>sign:comma</key>
    <integer>-250</integer>
    <key>sign:period</key>
    <integer>-250</integer>
    <key>sign:semicolon</key>
    <integer>-250</integer>
  </dict>
  <key>public.kern1.Y</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-150</integer>
    <key>public.kern2.A.markAbove</key>
    <integer>-100</integer>
    <key>public.kern2.a</key>
    <integer>-150</integer>
    <key>public.kern2.c</key>
    <integer>-150</integer>
    <key>public.kern2.d</key>
    <integer>-150</integer>
    <key>sign:colon</key>
    <integer>-300</integer>
    <key>sign:comma</key>
    <integer>-350</integer>
    <key>sign:period</key>
    <integer>-350</integer>
    <key>sign:semicolon</key>
    <integer>-300</integer>
  </dict>
  <key>public.kern1.a</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-150</integer>
    <key>public.kern2.quote.single</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.e</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-150</integer>
    <key>public.kern2.quote.single</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.h</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-150</integer>
    <key>public.kern2.quote.single</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.i</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-100</integer>
    <key>public.kern2.quote.single</key>
    <integer>-100</integer>
  </dict>
  <key>public.kern1.m</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-150</integer>
    <key>public.kern2.quote.single</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.n</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-150</integer>
    <key>public.kern2.quote.single</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.o</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-150</integer>
    <key>public.kern2.quote.single</key>
    <integer>-150</integer>
    <key>sign:comma</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.o.markAbove</key>
  <dict>
    <key>sign:comma</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.quote.double</key>
  <dict>
    <key>latn:dcaron</key>
    <integer>0</integer>
    <key>latn:g</key>
    <integer>-200</integer>
    <key>latn:p</key>
    <integer>-100</integer>
    <key>latn:q</key>
    <integer>-200</integer>
    <key>public.ker2.A</key>
    <integer>-250</integer>
    <key>public.kern2.a</key>
    <integer>-200</integer>
    <key>public.kern2.c</key>
    <integer>-200</integer>
    <key>public.kern2.d</key>
    <integer>-200</integer>
    <key>public.kern2.e</key>
    <integer>-200</integer>
    <key>public.kern2.m</key>
    <integer>-100</integer>
    <key>public.kern2.n</key>
    <integer>-100</integer>
    <key>public.kern2.o</key>
    <integer>-200</integer>
    <key>public.kern2.r</key>
    <integer>-100</integer>
    <key>public.kern2.s</key>
    <integer>-200</integer>
    <key>public.kern2.u</key>
    <integer>-100</integer>
  </dict>
  <key>public.kern1.quote.single</key>
  <dict>
    <key>latn:dcaron</key>
    <integer>0</integer>
    <key>latn:g</key>
    <integer>-200</integer>
    <key>latn:p</key>
    <integer>-100</integer>
    <key>latn:q</key>
    <integer>-200</integer>
    <key>public.kern2.A</key>
    <integer>-250</integer>
    <key>public.kern2.a</key>
    <integer>-200</integer>
    <key>public.kern2.c</key>
    <integer>-200</integer>
    <key>public.kern2.d</key>
    <integer>-200</integer>
    <key>public.kern2.e</key>
    <integer>-200</integer>
    <key>public.kern2.m</key>
    <integer>-100</integer>
    <key>public.kern2.n</key>
    <integer>-100</integer>
    <key>public.kern2.o</key>
    <integer>-200</integer>
    <key>public.kern2.s</key>
    <integer>-200</integer>
  </dict>
  <key>public.kern1.r</key>
  <dict>
    <key>sign:comma</key>
    <integer>-200</integer>
    <key>sign:period</key>
    <integer>-200</integer>
  </dict>
  <key>public.kern1.s</key>
  <dict>
    <key>public.kern2.quote.double</key>
    <integer>-150</integer>
    <key>public.kern2.quote.single</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.w</key>
  <dict>
    <key>sign:comma</key>
    <integer>-250</integer>
    <key>sign:period</key>
    <integer>-250</integer>
  </dict>
  <key>public.kern1.y</key>
  <dict>
    <key>sign:comma</key>
    <integer>-200</integer>
    <key>sign:period</key>
    <integer>-200</integer>
  </dict>
  <key>sign:guillemetright</key>
  <dict>
    <key>sign:comma</key>
    <integer>-200</integer>
    <key>sign:period</key>
    <integer>-200</integer>
  </dict>
  <key>sign:middledot</key>
  <dict>
    <key>digit:nine</key>
    <integer>-200</integer>
    <key>digit:one</key>
    <integer>-200</integer>
    <key>digit:seven</key>
    <integer>-200</integer>
    <key>digit:two</key>
    <integer>-200</integer>
  </dict>
  <key>sign:quotedblbase</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-300</integer>
    <key>public.kern2.V</key>
    <integer>-300</integer>
    <key>public.kern2.W</key>
    <integer>-300</integer>
    <key>public.kern2.Y</key>
    <integer>-300</integer>
  </dict>
  <key>sign:quotesinglbase</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-250</integer>
    <key>public.kern2.V</key>
    <integer>-250</integer>
    <key>public.kern2.W</key>
    <integer>-250</integer>
    <key>public.kern2.Y</key>
    <integer>-250</integer>
  </dict>
  <key>sign:slash</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-150</integer>
  </dict>
</dict>
</plist>
